In [1]:
import pandas as pd

# Create a sample dataset
data = {'Gender': ['Male', 'Female', 'Male', 'Female'],
        'Education': ['High School', 'College', 'College', 'Graduate School']}
df = pd.DataFrame(data)

# # Create dummy variables for Gender and Education
# gender_dummies = pd.get_dummies(df['Gender'], prefix='Gender')
# education_dummies = pd.get_dummies(df['Education'], prefix='Education')

# # Create interaction dummy variables for Gender and Education
# interaction_dummies = gender_dummies.mul(education_dummies.to_numpy())

# # Concatenate the original dataset with the dummy variables
# df = pd.concat([df, interaction_dummies], axis=1)

In [2]:
df

   Gender        Education
0    Male      High School
1  Female          College
2    Male          College
3  Female  Graduate School

In [3]:
gender_dummies = pd.get_dummies(df['Gender'].astype(int), prefix='Gender')
education_dummies = pd.get_dummies(df['Education'].astype(int), prefix='Education')

ValueError: invalid literal for int() with base 10: 'Male'

In [ ]:
education_dummies

In [6]:
mux = pd.MultiIndex.from_product([gender_dummies.columns, education_dummies.columns])

In [7]:
gender_dummies = gender_dummies.reindex(mux, axis=1, level=0)
gender_dummies

      Gender_Female                                                  \
  Education_College Education_Graduate School Education_High School
0             False                     False                 False
1              True                      True                  True
2             False                     False                 False
3              True                      True                  True

        Gender_Male
  Education_College Education_Graduate School Education_High School
0              True                      True                  True
1             False                     False                 False
2              True                      True                  True
3             False                     False                 False

In [8]:
education_dummies = education_dummies.reindex(mux, axis=1, level=1)
education_dummies

      Gender_Female                                                  \
  Education_College Education_Graduate School Education_High School
0             False                     False                  True
1              True                     False                 False
2              True                     False                 False
3             False                      True                 False

        Gender_Male
  Education_College Education_Graduate School Education_High School
0             False                     False                  True
1              True                     False                 False
2              True                     False                 False
3             False                      True                 False

In [9]:
df3 = gender_dummies.mul(education_dummies, axis=0)
print (df3)

      Gender_Female                                                  \
  Education_College Education_Graduate School Education_High School
0             False                     False                 False
1              True                     False                 False
2             False                     False                 False
3             False                      True                 False

        Gender_Male
  Education_College Education_Graduate School Education_High School
0             False                     False                  True
1             False                     False                 False
2              True                     False                 False
3             False                     False                 False

In [10]:
df3.columns = df3.columns.map('x'.join)
print (df3)

   Gender_FemalexEducation_College  Gender_FemalexEducation_Graduate School  \
0                            False                                    False
1                             True                                    False
2                            False                                    False
3                            False                                     True

   Gender_FemalexEducation_High School  Gender_MalexEducation_College  \
0                                False                          False
1                                False                          False
2                                False                           True
3                                False                          False

   Gender_MalexEducation_Graduate School  Gender_MalexEducation_High School
0                                  False                               True
1                                  False                              False
2                                  False                              False
3                                  False                              False