# Note: This script will require both Python and R kernals

# Setting up the environment

## Setting up python and R environment, and loading python packages

In [1]:
import pandas as pd # load and manipulate data for One-Hot ncoding
import numpy as np # calculate the mean and std. dev. 
import matplotlib.pyplot as plt # to plot figures
plt.style.use("fivethirtyeight")
# !pip install --upgrade jedi==0.17.2
# !pip install jedi
## Setting up environments to run R in Jupyter

import os
os.environ['R_HOME'] = r'C:\Program Files\R\R-4.4.1'

# os.environ['X13_PATH'] = r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\x13as_html-v1-1-b60\x13as'
os.environ['X13_PATH'] = r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\x13as_html-v1-1-b60\x13as'

x13path = None
x13path = r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\x13as_html-v1-1-b60\x13as'

r_home = os.environ.get("R_HOME")
print('R_HOME:', r_home)

x13_path = os.environ.get("X13_PATH")
print('X13_PATHs:', x13_path, ' | ', x13path)

## Setting up R

print('Set up RPY2')


!pip install rpy2 --quiet
import rpy2
import rpy2.robjects as ro
import rpy2.rinterface as ri
from rpy2.robjects import r

# Extra RPY2 items

from rpy2.robjects.packages import importr
from rpy2.robjects import pandas2ri
from rpy2.robjects.vectors import IntVector, FloatVector
import rpy2.ipython.html
import rpy2.robjects.lib.ggplot2 as gp
from rpy2.ipython.ggplot import image_png
import rpy2.rinterface as rinterface

#rinterface.initr()
pandas2ri.activate()

%load_ext rpy2.ipython

R_HOME: C:\Program Files\R\R-4.4.1
X13_PATHs: C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\x13as_html-v1-1-b60\x13as  |  C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\x13as_html-v1-1-b60\x13as
Set up RPY2

C:\ProgramData\anaconda3\Lib\site-packages\rpy2\robjects\packages.py:367: UserWarning: The symbol 'quartz' is not in this R namespace/package.
  warnings.warn(
C:\ProgramData\anaconda3\Lib\site-packages\rpy2\robjects\lib\ggplot2.py:70: UserWarning: This was designed against ggplot2 versions starting with 3.3. but you have 3.5.1
  warnings.warn(

## Loading R packages

In [2]:
%%R

# install.packages("seasonal")
# install.packages("seasonalview")

library(reshape2)
library(lubridate)
library(tidyr)
library(shiny)
library(ggplot2)
library(forecast)
library(dplyr)

# install.packages("ggfortify")
library(ggfortify)

# install.packages("Microsoft365R")
suppressPackageStartupMessages(library(Microsoft365R))

# install.packages("strucchange")
suppressPackageStartupMessages(library(strucchange))

suppressPackageStartupMessages(library(tseries))
suppressPackageStartupMessages(library(openxlsx))

## Packages to interface with x13-SEATS
library(seasonal)
library(seasonalview)
suppressPackageStartupMessages(library(readr))
## Check seasonal library
checkX13()

Attaching package: 'lubridate'

The following objects are masked from 'package:base':

    date, intersect, setdiff, union


Attaching package: 'tidyr'

The following object is masked from 'package:reshape2':

    smiths

Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo
This is forecast 8.23.0
  Need help getting started? Try the online textbook FPP:
  http://otexts.com/fpp2/

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Registered S3 methods overwritten by 'ggfortify':
  method                 from
  autoplot.Arima         forecast
  autoplot.acf           forecast
  autoplot.ar            forecast
  autoplot.bats          forecast
  autoplot.decomposed.ts forecast
  autoplot.ets           forecast
  autoplot.forecast      forecast
  autoplot.stl           forecast
  autoplot.ts            forecast
  fitted.ar              forecast
  fortify.ts             forecast
  residuals.ar           forecast
The system variable 'X13_PATH' has been manually set to:
  C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\x13as_html-v1-1-b60\x13as
Since version 1.2, 'seasonal' relies on the 'x13binary'
package and does not require 'X13_PATH' to be set anymore.
Only set 'X13_PATH' manually if you intend to use your own
binaries. See ?seasonal for details.

Attaching package: 'seasonalview'

The following object is masked from 'package:seasonal':

    view

X-13 installation test:
  - X13_PATH correctly specified
  - binary executable file found
  - command line test run successful
  - command line test produced HTML output
  - seasonal test run successful
Congratulations! 'seasonal' should work fine!

# Step 01: Preparing the dataset

## Preprocessing the dependent variable: nm_oil_price

### - Loading the data

In [3]:
# nm_oil_price = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'nm_oil_price'))
nm_oil_price = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'nm_oil_price'))

nm_oil_price.rename(columns = {"Month": "Date", "New Mexico Crude Oil First Purchase Price Dollars per Barrel": "nm_oil_price"}, inplace = True)
nm_oil_price['Date'] = pd.to_datetime(nm_oil_price['Date'])
nm_oil_price = nm_oil_price.set_index('Date')

### - Finding quarterly average from monthly data

In [4]:
nm_oil_price = nm_oil_price.resample('QS').mean()

### - Creating a sample of twenty years period

In [5]:
nm_oil_price = nm_oil_price['2001-01-01' : '2023-06-30']
# nm_oil_price_r = nm_oil_price.reset_index()
print(nm_oil_price)

            nm_oil_price
Date
2001-01-01     27.215626
2001-04-01     25.243032
2001-07-01     25.139517
2001-10-01     18.382252
2002-01-01     19.688715
...                  ...
2022-04-01    109.638961
2022-07-01     93.402468
2022-10-01     82.709246
2023-01-01     74.988884
2023-04-01     74.403726

[90 rows x 1 columns]

In [6]:
%%R -i nm_oil_price

nm_oil_price_r <- nm_oil_price
nm_oil_price_r <- ts(nm_oil_price_r, start = 2001, end = 2024, frequency =4)
nm_oil_price_r <-  as.data.frame(as_tibble(seas(nm_oil_price_r, x11= "",)))
nm_oil_price_r <-  nm_oil_price_r[-c(3:7)]
 colnames(nm_oil_price_r)[1] = "Date"
colnames(nm_oil_price_r)[2] = "nm_oil_price_sea"
print(nm_oil_price_r)

         Date nm_oil_price_sea
1  2001-01-01         27.16088
2  2001-04-01         25.08883
3  2001-07-01         23.90018
4  2001-10-01         19.76064
5  2002-01-01         19.70143
6  2002-04-01         24.59471
7  2002-07-01         25.53010
8  2002-10-01         27.35501
9  2003-01-01         32.77590
10 2003-04-01         27.69014
11 2003-07-01         27.07028
12 2003-10-01         30.61430
13 2004-01-01         33.98137
14 2004-04-01         36.36277
15 2004-07-01         39.59140
16 2004-10-01         45.96022
17 2005-01-01         47.73334
18 2005-04-01         48.14248
19 2005-07-01         57.60111
20 2005-10-01         56.87974
21 2006-01-01         60.86754
22 2006-04-01         64.94235
23 2006-07-01         64.35854
24 2006-10-01         56.00608
25 2007-01-01         57.37306
26 2007-04-01         58.29867
27 2007-07-01         70.53957
28 2007-10-01         87.75160
29 2008-01-01         97.86608
30 2008-04-01        118.42174
31 2008-07-01        114.05543
32 2008-10-01         55.12480
33 2009-01-01         39.22834
34 2009-04-01         52.46260
35 2009-07-01         63.85777
36 2009-10-01         72.48273
37 2010-01-01         77.34619
38 2010-04-01         71.45654
39 2010-07-01         72.10873
40 2010-10-01         81.22387
41 2011-01-01         89.74122
42 2011-04-01         95.93601
43 2011-07-01         84.30157
44 2011-10-01         91.74392
45 2012-01-01         99.98441
46 2012-04-01         84.36084
47 2012-07-01         84.52951
48 2012-10-01         82.72516
49 2013-01-01         84.66279
50 2013-04-01         88.74169
51 2013-07-01        100.72048
52 2013-10-01         94.32353
53 2014-01-01         94.62598
54 2014-04-01         91.26664
55 2014-07-01         83.77726
56 2014-10-01         67.16677
57 2015-01-01         44.83997
58 2015-04-01         50.25359
59 2015-07-01         41.51471
60 2015-10-01         39.81183
61 2016-01-01         30.50176
62 2016-04-01         39.05188
63 2016-07-01         40.42030
64 2016-10-01         46.64036
65 2017-01-01         49.58297
66 2017-04-01         42.07680
67 2017-07-01         45.08917
68 2017-10-01         53.00306
69 2018-01-01         60.05208
70 2018-04-01         59.15457
71 2018-07-01         57.29336
72 2018-10-01         47.99715
73 2019-01-01         47.25995
74 2019-04-01         53.61368
75 2019-07-01         54.36556
76 2019-10-01         56.56643
77 2020-01-01         43.46576
78 2020-04-01         20.37693
79 2020-07-01         39.81197
80 2020-10-01         41.66017
81 2021-01-01         55.36477
82 2021-04-01         62.74887
83 2021-07-01         70.32534
84 2021-10-01         78.01715
85 2022-01-01         93.29983
86 2022-04-01        107.53271
87 2022-07-01         94.20035
88 2022-10-01         84.69540
89 2023-01-01         74.60794
90 2023-04-01         72.13155
91 2023-07-01         27.62484
92 2023-10-01         27.29686
93 2024-01-01         25.25485

## Preprocessing the predictors: wti_spot_price

### - Loading the data

In [7]:
# wti_spot_price = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'wti_spot'))
wti_spot_price = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'wti_spot'))
wti_spot_price.rename(columns = {"Month": "Date", "Cushing OK WTI Spot Price FOB Dollars per Barrel": "wti_spot_price"}, inplace = True)
wti_spot_price['Date'] = pd.to_datetime(wti_spot_price['Date'])
wti_spot_price = wti_spot_price.set_index('Date')

### - Finding quarterly average from monthly data

In [8]:
wti_spot_price = wti_spot_price.resample('QS').mean()

### - Creating a sample of twenty years period

In [9]:
wti_spot_price = wti_spot_price['2001-01-01' : '2023-06-30']
print(wti_spot_price)

            wti_spot_price
Date
2001-01-01       28.816667
2001-04-01       27.906667
2001-07-01       26.666667
2001-10-01       20.400000
2002-01-01       21.656667
...                    ...
2022-04-01      108.723333
2022-07-01       93.183333
2022-10-01       82.786667
2023-01-01       76.076667
2023-04-01       73.760000

[90 rows x 1 columns]

In [10]:
%%R -i wti_spot_price

wti_spot_price_r <- ts(wti_spot_price, start = 2001, end = 2024, frequency =4)
wti_spot_price_r <-  as.data.frame(as_tibble(seas(wti_spot_price_r, x11= "",)))
wti_spot_price_r <-  wti_spot_price_r[-c(3:7)]
colnames(wti_spot_price_r)[1] = "Date"
colnames(wti_spot_price_r)[2] = "wti_spot_price_sea"
print(wti_spot_price_r)

         Date wti_spot_price_sea
1  2001-01-01           28.91017
2  2001-04-01           27.69969
3  2001-07-01           25.73033
4  2001-10-01           21.38795
5  2002-01-01           21.81504
6  2002-04-01           26.12985
7  2002-07-01           27.25751
8  2002-10-01           29.14862
9  2003-01-01           34.46813
10 2003-04-01           28.87850
11 2003-07-01           28.87041
12 2003-10-01           32.13041
13 2004-01-01           35.93025
14 2004-04-01           38.20693
15 2004-07-01           42.19873
16 2004-10-01           49.26638
17 2005-01-01           50.95922
18 2005-04-01           52.50230
19 2005-07-01           61.40673
20 2005-10-01           60.82922
21 2006-01-01           65.21794
22 2006-04-01           69.32184
23 2006-07-01           68.66407
24 2006-10-01           60.70217
25 2007-01-01           60.54630
26 2007-04-01           63.23387
27 2007-07-01           74.15048
28 2007-10-01           91.34357
29 2008-01-01          100.49154
30 2008-04-01          121.70184
31 2008-07-01          117.46614
32 2008-10-01           58.93604
33 2009-01-01           44.92086
34 2009-04-01           57.01617
35 2009-07-01           68.31043
36 2009-10-01           76.76745
37 2010-01-01           79.83944
38 2010-04-01           75.75721
39 2010-07-01           76.07281
40 2010-10-01           86.37177
41 2011-01-01           93.95279
42 2011-04-01          100.79583
43 2011-07-01           88.96032
44 2011-10-01           96.01888
45 2012-01-01          103.09342
46 2012-04-01           92.36627
47 2012-07-01           90.44771
48 2012-10-01           90.41122
49 2013-01-01           95.06878
50 2013-04-01           92.92199
51 2013-07-01          103.47709
52 2013-10-01           99.77295
53 2014-01-01          100.24486
54 2014-04-01          101.97061
55 2014-07-01           95.22429
56 2014-10-01           75.17567
57 2015-01-01           50.66696
58 2015-04-01           56.24675
59 2015-07-01           44.13434
60 2015-10-01           43.47657
61 2016-01-01           35.48638
62 2016-04-01           43.60441
63 2016-07-01           43.42693
64 2016-10-01           49.97083
65 2017-01-01           53.85652
66 2017-04-01           46.47327
67 2017-07-01           47.48688
68 2017-10-01           56.02876
69 2018-01-01           64.10857
70 2018-04-01           66.62654
71 2018-07-01           69.56167
72 2018-10-01           59.90233
73 2019-01-01           55.25710
74 2019-04-01           58.51986
75 2019-07-01           56.26921
76 2019-10-01           58.39719
77 2020-01-01           45.60845
78 2020-04-01           26.32761
79 2020-07-01           41.01717
80 2020-10-01           44.17390
81 2021-01-01           57.59248
82 2021-04-01           64.23583
83 2021-07-01           70.78684
84 2021-10-01           79.46628
85 2022-01-01           94.30689
86 2022-04-01          106.56244
87 2022-07-01           93.36377
88 2022-10-01           84.88999
89 2023-01-01           76.16738
90 2023-04-01           71.38344
91 2023-07-01           28.85509
92 2023-10-01           30.03685
93 2024-01-01           27.11252

## Preprocessing the predictors: brent_spot_price

### - Loading the data

In [11]:
# brent_spot_price = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'brent_spot'))
brent_spot_price = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'brent_spot'))
brent_spot_price.rename(columns = {"Month": "Date", "Europe Brent Spot Price FOB Dollars per Barrel": "brent_spot_price"}, inplace = True)
brent_spot_price['Date'] = pd.to_datetime(brent_spot_price['Date'])
brent_spot_price = brent_spot_price.set_index('Date')

### - Finding quarterly average from monthly data

In [12]:
brent_spot_price = brent_spot_price.resample('QS').mean()

### - Creating a sample of twenty years period

In [13]:
brent_spot_price = brent_spot_price['2001-01-01' : '2023-06-30']
print(brent_spot_price)

            brent_spot_price
Date
2001-01-01         25.873333
2001-04-01         27.273333
2001-07-01         25.303333
2001-10-01         19.350000
2002-01-01         21.133333
...                      ...
2022-04-01        113.543333
2022-07-01        100.713333
2022-10-01         88.556667
2023-01-01         81.173333
2023-04-01         78.316667

[90 rows x 1 columns]

In [14]:
%%R -i brent_spot_price

brent_spot_price_r <- ts(brent_spot_price, start = 2001, end = 2024, frequency =4)
brent_spot_price_r <-  as.data.frame(as_tibble(seas(brent_spot_price_r, x11= "",)))
brent_spot_price_r <-  brent_spot_price_r[-c(3:7)]
colnames(brent_spot_price_r)[1] = "Date"
colnames(brent_spot_price_r)[2] = "brent_spot_price_sea"
print(brent_spot_price_r)

         Date brent_spot_price_sea
1  2001-01-01             26.02770
2  2001-04-01             27.07264
3  2001-07-01             24.30893
4  2001-10-01             20.34046
5  2002-01-01             21.36258
6  2002-04-01             24.89942
7  2002-07-01             25.75489
8  2002-10-01             27.79940
9  2003-01-01             31.90913
10 2003-04-01             25.98428
11 2003-07-01             26.96131
12 2003-10-01             30.61387
13 2004-01-01             32.64538
14 2004-04-01             35.00514
15 2004-07-01             39.61705
16 2004-10-01             45.57168
17 2005-01-01             48.96013
18 2005-04-01             50.59146
19 2005-07-01             59.59644
20 2005-10-01             58.39363
21 2006-01-01             63.64901
22 2006-04-01             67.79270
23 2006-07-01             67.83051
24 2006-10-01             61.25641
25 2007-01-01             60.08797
26 2007-04-01             66.13151
27 2007-07-01             73.55882
28 2007-10-01             90.18760
29 2008-01-01             99.22243
30 2008-04-01            118.47359
31 2008-07-01            113.70114
32 2008-10-01             56.26548
33 2009-01-01             46.15722
34 2009-04-01             55.74920
35 2009-07-01             68.17607
36 2009-10-01             76.20714
37 2010-01-01             77.04365
38 2010-04-01             76.23346
39 2010-07-01             76.94741
40 2010-10-01             88.03744
41 2011-01-01            105.02143
42 2011-04-01            115.93459
43 2011-07-01            113.01463
44 2011-10-01            111.10320
45 2012-01-01            118.40181
46 2012-04-01            107.51793
47 2012-07-01            108.66945
48 2012-10-01            111.66914
49 2013-01-01            113.09321
50 2013-04-01            101.62061
51 2013-07-01            108.78818
52 2013-10-01            110.64259
53 2014-01-01            109.50453
54 2014-04-01            108.63054
55 2014-07-01            100.08865
56 2014-10-01             77.41273
57 2015-01-01             56.04109
58 2015-04-01             60.29666
59 2015-07-01             48.55058
60 2015-10-01             44.38142
61 2016-01-01             36.06130
62 2016-04-01             43.72496
63 2016-07-01             44.86529
64 2016-10-01             49.49676
65 2017-01-01             55.93681
66 2017-04-01             47.62857
67 2017-07-01             52.05441
68 2017-10-01             61.77387
69 2018-01-01             68.08923
70 2018-04-01             72.68405
71 2018-07-01             75.89573
72 2018-10-01             68.09435
73 2019-01-01             63.57332
74 2019-04-01             67.11014
75 2019-07-01             62.89336
76 2019-10-01             64.48195
77 2020-01-01             50.14398
78 2020-04-01             27.23012
79 2020-07-01             44.18180
80 2020-10-01             45.79614
81 2021-01-01             60.39440
82 2021-04-01             66.33867
83 2021-07-01             74.59174
84 2021-10-01             81.58889
85 2022-01-01             99.82517
86 2022-04-01            110.91537
87 2022-07-01            101.53610
88 2022-10-01             90.80079
89 2023-01-01             80.98020
90 2023-04-01             75.56627
91 2023-07-01             26.31455
92 2023-10-01             29.62759
93 2024-01-01             25.53128

## Preprocessing the predictors: dubai_spot_price

### - Loading the data

In [15]:
# dubai_price = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'Monthly Prices', index_col=None, na_values=['NA'], usecols="A, D"))
dubai_price = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'Monthly Prices', index_col=None, na_values=['NA'], usecols="A, D"))
dubai_price = dubai_price.dropna()
dubai_price.rename(columns = {"Month": "Date", "Crude oil, Dubai": "dubai_price"}, inplace = True)
dubai_price['Date'] = pd.to_datetime(dubai_price['Date'])
dubai_price = dubai_price.set_index('Date')

### - Finding quarterly average from monthly data

In [16]:
dubai_price = dubai_price.resample('QS').mean()

### - Creating a sample of twenty years period

In [17]:
dubai_price = dubai_price['2001-01-01' : '2023-06-30']
print(dubai_price)

           dubai_price
Date
2001-01-01   23.620364
2001-04-01   25.095437
2001-07-01   23.904812
2001-10-01   18.238671
2002-01-01   20.019124
...                ...
2022-04-01      108.91
2022-07-01   98.286667
2022-10-01       84.55
2023-01-01   79.586667
2023-04-01       77.86

[90 rows x 1 columns]

In [18]:
%%R -i dubai_price

dubai_price_r <- ts(dubai_price, start = 2001, end = 2024, frequency =4)
dubai_price_r <-  as.data.frame(as_tibble(seas(dubai_price_r, x11= "",)))
dubai_price_r <-  dubai_price_r[-c(3:7)]
colnames(dubai_price_r)[1] = "Date"
colnames(dubai_price_r)[2] = "dubai_price_sea"
print(dubai_price_r)

C:\ProgramData\anaconda3\Lib\site-packages\rpy2\robjects\pandas2ri.py:65: UserWarning: Error while trying to convert the column "dubai_price". Fall back to string conversion. The error is: <class 'float'>
  warnings.warn('Error while trying to convert '

         Date dubai_price_sea
1  2001-01-01      22.0001840
2  2001-04-01      25.3566946
3  2001-07-01      20.7808288
4  2001-10-01      19.8391205
5  2002-01-01      21.0543400
6  2002-04-01      22.3904462
7  2002-07-01      25.5716118
8  2002-10-01      26.0100838
9  2003-01-01      31.1104777
10 2003-04-01      23.4320024
11 2003-07-01      26.1613164
12 2003-10-01      30.2905316
13 2004-01-01      32.3326955
14 2004-04-01      33.2599947
15 2004-07-01      33.9250846
16 2004-10-01      36.3929162
17 2005-01-01      39.6599277
18 2005-04-01      43.0155200
19 2005-07-01      51.9029275
20 2005-10-01      52.1244013
21 2006-01-01      59.2303933
22 2006-04-01      64.7276442
23 2006-07-01      66.0654297
24 2006-10-01      56.6775940
25 2007-01-01      57.6609395
26 2007-04-01      65.4776345
27 2007-07-01      71.5203596
28 2007-10-01      85.0447301
29 2008-01-01      91.0390373
30 2008-04-01      16.1570692
31 2008-07-01      15.1689435
32 2008-10-01      52.6246208
33 2009-01-01      45.8570098
34 2009-04-01      56.0637229
35 2009-07-01      71.8721138
36 2009-10-01      78.3473292
37 2010-01-01      82.3698504
38 2010-04-01      81.3117273
39 2010-07-01      77.1553605
40 2010-10-01      85.5177962
41 2011-01-01       2.5968160
42 2011-04-01      13.6339544
43 2011-07-01      11.3393674
44 2011-10-01       5.7166912
45 2012-01-01      18.1589622
46 2012-04-01       5.6710605
47 2012-07-01       8.3713621
48 2012-10-01      12.0521981
49 2013-01-01      13.8843808
50 2013-04-01       0.5746876
51 2013-07-01       9.4054118
52 2013-10-01      10.2731209
53 2014-01-01       4.7743781
54 2014-04-01       3.5406866
55 2014-07-01       3.3094317
56 2014-10-01      78.3817245
57 2015-01-01      50.8802349
58 2015-04-01      60.3845070
59 2015-07-01      47.3244102
60 2015-10-01      37.3421785
61 2016-01-01      33.1282954
62 2016-04-01      38.0567504
63 2016-07-01      41.6364664
64 2016-10-01      45.0387387
65 2017-01-01      53.1695073
66 2017-04-01      44.2349733
67 2017-07-01      48.7501497
68 2017-10-01      58.8718399
69 2018-01-01      65.6845828
70 2018-04-01      73.8582104
71 2018-07-01      76.9398293
72 2018-10-01      69.4837083
73 2019-01-01      64.1857975
74 2019-04-01      70.6920583
75 2019-07-01      61.7662852
76 2019-10-01      62.4333778
77 2020-01-01      48.7630728
78 2020-04-01      33.1219178
79 2020-07-01      39.8995270
80 2020-10-01      41.1717987
81 2021-01-01      59.5342590
82 2021-04-01      69.6181928
83 2021-07-01      74.6455466
84 2021-10-01      81.2589233
85 2022-01-01      88.3288955
86 2022-04-01      14.8455427
87 2022-07-01      90.6341371
88 2022-10-01      86.0950917
89 2023-01-01      83.4118622
90 2023-04-01      81.9853284
91 2023-07-01      21.4312734
92 2023-10-01      25.0660674
93 2024-01-01      21.6599333

## Preprocessing the predictors: index_china_gdp

### - Loading the data

In [19]:
# index_china_gdp = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'index_china_gdp'))
index_china_gdp = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'index_china_gdp'))
index_china_gdp = index_china_gdp.dropna()
index_china_gdp.rename(columns = {"observation_date": "Date", "CHNLORSGPNOSTSAM": "index_china_gdp"}, inplace = True)
index_china_gdp['Date'] = pd.to_datetime(index_china_gdp['Date'])
index_china_gdp = index_china_gdp.set_index('Date')

### - Finding quarterly average from monthly data

In [20]:
index_china_gdp = index_china_gdp.resample('QS').mean()

### - Creating a sample of twenty years period

In [21]:
index_china_gdp = index_china_gdp['2001-01-01' : '2023-06-30']
print(index_china_gdp)

            index_china_gdp
Date
2001-01-01        99.107175
2001-04-01        98.834079
2001-07-01        98.512880
2001-10-01        98.223037
2002-01-01        98.160446
...                     ...
2022-04-01       100.330123
2022-07-01       100.053152
2022-10-01        99.643252
2023-01-01        99.174501
2023-04-01        98.793601

[90 rows x 1 columns]

In [22]:
%%R -i index_china_gdp

index_china_gdp_r <- ts(index_china_gdp, start = 2001, end = 2024, frequency =4)
index_china_gdp_r <-  as.data.frame(as_tibble(seas(index_china_gdp_r, x11= "",)))
index_china_gdp_r <-  index_china_gdp_r[-c(3:7)]
colnames(index_china_gdp_r)[1] = "Date"
colnames(index_china_gdp_r)[2] = "index_china_gdp_sea"
print(index_china_gdp_r)

         Date index_china_gdp_sea
1  2001-01-01            99.10295
2  2001-04-01            98.85148
3  2001-07-01            98.52312
4  2001-10-01            98.20110
5  2002-01-01            98.15388
6  2002-04-01            98.41114
7  2002-07-01            98.70964
8  2002-10-01            98.97631
9  2003-01-01            99.22982
10 2003-04-01            99.48665
11 2003-07-01            99.87617
12 2003-10-01           100.28546
13 2004-01-01           100.50444
14 2004-04-01           100.33819
15 2004-07-01           100.08943
16 2004-10-01            99.90192
17 2005-01-01            99.81428
18 2005-04-01            99.86459
19 2005-07-01           100.00384
20 2005-10-01           100.10334
21 2006-01-01           100.16106
22 2006-04-01           100.22191
23 2006-07-01           100.31456
24 2006-10-01           100.53203
25 2007-01-01           100.83370
26 2007-04-01           101.14235
27 2007-07-01           101.45295
28 2007-10-01           101.66033
29 2008-01-01           101.50808
30 2008-04-01           100.85576
31 2008-07-01            99.72699
32 2008-10-01            98.57698
33 2009-01-01            98.10960
34 2009-04-01            98.49263
35 2009-07-01            99.17836
36 2009-10-01            99.72278
37 2010-01-01            99.94832
38 2010-04-01            99.97415
39 2010-07-01           100.01715
40 2010-10-01           100.25454
41 2011-01-01           100.59074
42 2011-04-01           100.85807
43 2011-07-01           100.95489
44 2011-10-01           100.88566
45 2012-01-01           100.71099
46 2012-04-01           100.53791
47 2012-07-01           100.42321
48 2012-10-01           100.39030
49 2013-01-01           100.41412
50 2013-04-01           100.48167
51 2013-07-01           100.57970
52 2013-10-01           100.65075
53 2014-01-01           100.66515
54 2014-04-01           100.63029
55 2014-07-01           100.54245
56 2014-10-01           100.41001
57 2015-01-01           100.24594
58 2015-04-01           100.07504
59 2015-07-01            99.92180
60 2015-10-01            99.79202
61 2016-01-01            99.67929
62 2016-04-01            99.58636
63 2016-07-01            99.52976
64 2016-10-01            99.51199
65 2017-01-01            99.52947
66 2017-04-01            99.54969
67 2017-07-01            99.55514
68 2017-10-01            99.51871
69 2018-01-01            99.44848
70 2018-04-01            99.32614
71 2018-07-01            99.17928
72 2018-10-01            98.98800
73 2019-01-01            98.79298
74 2019-04-01            98.61937
75 2019-07-01            98.61942
76 2019-10-01            98.92647
77 2020-01-01            94.96254
78 2020-04-01           100.53156
79 2020-07-01           101.31639
80 2020-10-01           101.75164
81 2021-01-01           101.85081
82 2021-04-01           101.65117
83 2021-07-01           101.28975
84 2021-10-01           100.90094
85 2022-01-01           100.59558
86 2022-04-01           100.33513
87 2022-07-01           100.04038
88 2022-10-01            99.63373
89 2023-01-01            99.18744
90 2023-04-01            98.80651
91 2023-07-01            99.09309
92 2023-10-01            98.82208
93 2024-01-01            98.52237

## Preprocessing the predictors: index_us_gdp

### - Loading the data
This data was already in quarterly and seasonaly adjusted, so we do not need to calculate the quarterly vale.

In [23]:
# index_us_gdp = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'index_us_gdpdef'))
index_us_gdp = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'index_us_gdpdef'))
index_us_gdp = index_us_gdp.dropna()
index_us_gdp.rename(columns = {"observation_date": "Date", "GDPDEF": "index_us_gdp"}, inplace = True)
index_us_gdp['Date'] = pd.to_datetime(index_us_gdp['Date'])
index_us_gdp = index_us_gdp.set_index('Date')
index_us_gdp

            index_us_gdp
Date
2023-04-01       131.453
2023-01-01       130.800
2022-10-01       129.508
2022-07-01       128.269
2022-04-01       126.907
...                  ...
1948-01-01        12.731
1947-10-01        12.630
1947-07-01        12.326
1947-04-01        12.122
1947-01-01        11.952

[306 rows x 1 columns]

### - Creating a sample of twenty years period

In [24]:
# index_us_gdp = index_us_gdp['2001-01-01' : '2023-06-30']
# print(index_us_gdp)

index_us_gdp = index_us_gdp.sort_index().loc['2001-01-01' : '2023-06-30']
print(index_us_gdp)

            index_us_gdp
Date
2001-01-01        79.204
2001-04-01        79.683
2001-07-01        79.996
2001-10-01        80.245
2002-01-01        80.504
...                  ...
2022-04-01       126.907
2022-07-01       128.269
2022-10-01       129.508
2023-01-01       130.800
2023-04-01       131.453

[90 rows x 1 columns]

In [25]:
%%R -i index_us_gdp

index_us_gdp_r <- ts(index_us_gdp, start = 2001, end = 2024, frequency =4)
index_us_gdp_r <-  as.data.frame(as_tibble(seas(index_us_gdp_r, x11= "",)))
index_us_gdp_r <-  index_us_gdp_r[-c(3:7)]
colnames(index_us_gdp_r)[1] = "Date"
colnames(index_us_gdp_r)[2] = "index_us_gdp_sea"
print(index_us_gdp_r)

         Date index_us_gdp_sea
1  2001-01-01         79.20260
2  2001-04-01         79.68367
3  2001-07-01         80.00731
4  2001-10-01         80.23500
5  2002-01-01         80.50204
6  2002-04-01         80.78383
7  2002-07-01         81.18218
8  2002-10-01         81.62917
9  2003-01-01         82.04377
10 2003-04-01         82.32851
11 2003-07-01         82.80239
12 2003-10-01         83.30083
13 2004-01-01         83.89540
14 2004-04-01         84.57006
15 2004-07-01         85.11079
16 2004-10-01         85.76674
17 2005-01-01         86.46058
18 2005-04-01         87.08495
19 2005-07-01         87.86119
20 2005-10-01         88.58243
21 2006-01-01         89.22227
22 2006-04-01         90.01196
23 2006-07-01         90.60284
24 2006-10-01         90.95783
25 2007-01-01         91.86257
26 2007-04-01         92.47185
27 2007-07-01         92.90080
28 2007-10-01         93.30958
29 2008-01-01         93.68399
30 2008-04-01         94.15580
31 2008-07-01         94.80579
32 2008-10-01         95.03735
33 2009-01-01         95.05480
34 2009-04-01         94.87798
35 2009-07-01         94.92156
36 2009-10-01         95.23558
37 2010-01-01         95.56200
38 2010-04-01         96.01948
39 2010-07-01         96.25215
40 2010-10-01         96.81019
41 2011-01-01         97.38860
42 2011-04-01         98.01041
43 2011-07-01         98.56421
44 2011-10-01         98.67816
45 2012-01-01         99.36703
46 2012-04-01         99.72645
47 2012-07-01        100.19009
48 2012-10-01        100.70440
49 2013-01-01        101.21663
50 2013-04-01        101.42564
51 2013-07-01        101.85744
52 2013-10-01        102.48776
53 2014-01-01        103.03057
54 2014-04-01        103.50984
55 2014-07-01        103.92555
56 2014-10-01        104.12792
57 2015-01-01        104.21317
58 2015-04-01        104.63791
59 2015-07-01        104.94922
60 2015-10-01        104.96353
61 2016-01-01        104.99540
62 2016-04-01        105.57706
63 2016-07-01        105.90162
64 2016-10-01        106.48303
65 2017-01-01        107.13376
66 2017-04-01        107.29063
67 2017-07-01        107.89772
68 2017-10-01        108.66730
69 2018-01-01        109.39518
70 2018-04-01        110.16925
71 2018-07-01        110.62425
72 2018-10-01        111.16707
73 2019-01-01        111.62080
74 2019-04-01        112.08472
75 2019-07-01        112.54793
76 2019-10-01        113.02264
77 2020-01-01        113.45554
78 2020-04-01        112.89594
79 2020-07-01        113.96652
80 2020-10-01        114.76682
81 2021-01-01        116.14254
82 2021-04-01        117.82719
83 2021-07-01        119.70888
84 2021-10-01        121.79319
85 2022-01-01        124.17499
86 2022-04-01        126.82413
87 2022-07-01        128.27153
88 2022-10-01        129.58969
89 2023-01-01        130.78928
90 2023-04-01        131.37905
91 2023-07-01         79.21150
92 2023-10-01         79.72741
93 2024-01-01         79.98350

## Preprocessing the predictors: volatility index: index_cboe_volt

### - Loading the data
This data is in daily format, so we will have to calculate the quarterly mean.

In [26]:
# index_cboe_volt = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'index_cboe_volt'))
index_cboe_volt = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'index_cboe_volt'))
index_cboe_volt = index_cboe_volt.dropna()
index_cboe_volt.rename(columns = {"observation_date": "Date", "VIXCLS": "index_cboe_volt"}, inplace = True)
index_cboe_volt['Date'] = pd.to_datetime(index_cboe_volt['Date'])
index_cboe_volt = index_cboe_volt.set_index('Date')

### - Finding quarterly average from daily data

In [27]:
index_cboe_volt = index_cboe_volt.resample('QS').mean()

### - Creating a sample of twenty years period

In [28]:
index_cboe_volt = index_cboe_volt['2001-01-01' : '2023-06-30']
print(index_cboe_volt)

            index_cboe_volt
Date
2001-01-01        25.726452
2001-04-01        23.923810
2001-07-01        25.380339
2001-10-01        27.910000
2002-01-01        21.360833
...                     ...
2022-04-01        27.398438
2022-07-01        24.792727
2022-10-01        25.002656
2023-01-01        20.684062
2023-04-01        16.441250

[90 rows x 1 columns]

In [29]:
%%R -i index_cboe_volt

index_cboe_volt_r <- ts(index_cboe_volt, start = 2001, end = 2024, frequency =4)
index_cboe_volt_r <-  as.data.frame(as_tibble(seas(index_cboe_volt_r, x11= "",)))
index_cboe_volt_r <-  index_cboe_volt_r[-c(3:7)]
colnames(index_cboe_volt_r)[1] = "Date"
colnames(index_cboe_volt_r)[2] = "index_cboe_volt_sea"
print(index_cboe_volt_r)

         Date index_cboe_volt_sea
1  2001-01-01            24.99146
2  2001-04-01            25.41004
3  2001-07-01            25.51208
4  2001-10-01            25.18213
5  2002-01-01            24.36980
6  2002-04-01            22.73380
7  2002-07-01            30.21673
8  2002-10-01            33.52772
9  2003-01-01            28.45993
10 2003-04-01            22.19549
11 2003-07-01            20.26079
12 2003-10-01            16.62058
13 2004-01-01            17.27773
14 2004-04-01            16.53594
15 2004-07-01            14.42657
16 2004-10-01            13.78743
17 2005-01-01            13.08729
18 2005-04-01            13.67321
19 2005-07-01            11.86359
20 2005-10-01            11.90898
21 2006-01-01            13.10178
22 2006-04-01            15.01700
23 2006-07-01            12.33013
24 2006-10-01            11.78306
25 2007-01-01            11.68655
26 2007-04-01            14.33425
27 2007-07-01            23.04278
28 2007-10-01            19.57347
29 2008-01-01            26.16541
30 2008-04-01            21.86807
31 2008-07-01            27.30778
32 2008-10-01            53.76850
33 2009-01-01            47.80632
34 2009-04-01            34.71154
35 2009-07-01            24.16741
36 2009-10-01            21.44357
37 2010-01-01            21.35206
38 2010-04-01            27.29149
39 2010-07-01            23.58346
40 2010-10-01            18.34021
41 2011-01-01            19.64963
42 2011-04-01            17.63529
43 2011-07-01            30.61838
44 2011-10-01            26.54064
45 2012-01-01            19.13100
46 2012-04-01            20.08524
47 2012-07-01            17.46873
48 2012-10-01            14.91454
49 2013-01-01            15.18549
50 2013-04-01            14.91851
51 2013-07-01            13.25324
52 2013-10-01            15.44277
53 2014-01-01            13.34330
54 2014-04-01            12.89868
55 2014-07-01            14.86855
56 2014-10-01            15.34878
57 2015-01-01            16.50931
58 2015-04-01            13.96184
59 2015-07-01            19.49977
60 2015-10-01            16.85035
61 2016-01-01            18.84950
62 2016-04-01            15.92690
63 2016-07-01            14.22663
64 2016-10-01            13.45218
65 2017-01-01            11.36877
66 2017-04-01            11.49686
67 2017-07-01            11.12953
68 2017-10-01            11.50422
69 2018-01-01            14.41591
70 2018-04-01            15.24255
71 2018-07-01            15.35777
72 2018-10-01            20.12994
73 2019-01-01            16.04692
74 2019-04-01            14.96120
75 2019-07-01            16.28417
76 2019-10-01            16.00269
77 2020-01-01            28.07911
78 2020-04-01            34.02521
79 2020-07-01            27.10399
80 2020-10-01            25.96366
81 2021-01-01            21.68582
82 2021-04-01            17.82210
83 2021-07-01            19.32661
84 2021-10-01            19.75706
85 2022-01-01            23.59164
86 2022-04-01            27.39043
87 2022-07-01            26.29311
88 2022-10-01            23.57041
89 2023-01-01            21.06730
90 2023-04-01            16.54378
91 2023-07-01            25.00008
92 2023-10-01            25.92315
93 2024-01-01            24.21652

## Preprocessing the predictors: us unemployment rate: us_unemploy

### - Loading the data
This data is in monthly format, so we will have to calculate the quarterly mean.

### - Loading the data
This data is in monthly format, so we will have to calculate the quarterly mean.

In [30]:
# us_unemploy = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'us_unemploy'))
us_unemploy = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'us_unemploy'))
us_unemploy = us_unemploy.dropna()
us_unemploy.rename(columns = {"observation_date": "Date", "UNRATE": "us_unemploy"}, inplace = True)
us_unemploy['Date'] = pd.to_datetime(us_unemploy['Date'])
us_unemploy = us_unemploy.set_index('Date')

### - Finding quarterly average from monthly data

In [31]:
us_unemploy = us_unemploy.resample('QS').mean()

### - Creating a sample of twenty years period

In [32]:
us_unemploy = us_unemploy['2001-01-01' : '2023-06-30']
print(us_unemploy)

            us_unemploy
Date
2001-01-01     4.233333
2001-04-01     4.400000
2001-07-01     4.833333
2001-10-01     5.500000
2002-01-01     5.700000
...                 ...
2022-04-01     3.600000
2022-07-01     3.566667
2022-10-01     3.600000
2023-01-01     3.500000
2023-04-01     3.566667

[90 rows x 1 columns]

In [33]:
%%R -i us_unemploy

us_unemploy_r <- ts(us_unemploy, start = 2001, end = 2024, frequency =4)
us_unemploy_r <-  as.data.frame(as_tibble(seas(us_unemploy_r, x11= "",)))
us_unemploy_r <-  us_unemploy_r[-c(3:7)]
colnames(us_unemploy_r)[1] = "Date"
colnames(us_unemploy_r)[2] = "us_unemploy_sea"
print(us_unemploy_r)

         Date us_unemploy_sea
1  2001-01-01        4.242061
2  2001-04-01        4.393135
3  2001-07-01        4.864115
4  2001-10-01        5.462300
5  2002-01-01        5.711201
6  2002-04-01        5.829171
7  2002-07-01        5.762944
8  2002-10-01        5.830142
9  2003-01-01        5.875920
10 2003-04-01        6.134280
11 2003-07-01        6.156287
12 2003-10-01        5.805332
13 2004-01-01        5.704614
14 2004-04-01        5.601847
15 2004-07-01        5.450498
16 2004-10-01        5.412585
17 2005-01-01        5.303281
18 2005-04-01        5.099963
19 2005-07-01        4.979315
20 2005-10-01        4.952608
21 2006-01-01        4.736884
22 2006-04-01        4.632229
23 2006-07-01        4.640522
24 2006-10-01        4.424094
25 2007-01-01        4.505060
26 2007-04-01        4.499449
27 2007-07-01        4.668436
28 2007-10-01        4.793809
29 2008-01-01        5.005500
30 2008-04-01        5.334428
31 2008-07-01        5.996603
32 2008-10-01        6.863606
33 2009-01-01        8.272589
34 2009-04-01        9.304980
35 2009-07-01        9.618904
36 2009-10-01        9.942291
37 2010-01-01        9.834603
38 2010-04-01        9.636376
39 2010-07-01        9.449961
40 2010-10-01        9.514902
41 2011-01-01        9.036084
42 2011-04-01        9.063607
43 2011-07-01        8.983797
44 2011-10-01        8.648812
45 2012-01-01        8.273508
46 2012-04-01        8.192169
47 2012-07-01        8.021794
48 2012-10-01        7.806515
49 2013-01-01        7.747170
50 2013-04-01        7.527920
51 2013-07-01        7.218805
52 2013-10-01        6.938937
53 2014-01-01        6.676794
54 2014-04-01        6.201959
55 2014-07-01        6.048220
56 2014-10-01        5.709601
57 2015-01-01        5.536791
58 2015-04-01        5.437937
59 2015-07-01        5.081776
60 2015-10-01        5.048147
61 2016-01-01        4.898902
62 2016-04-01        4.936508
63 2016-07-01        4.879740
64 2016-10-01        4.787665
65 2017-01-01        4.564927
66 2017-04-01        4.366233
67 2017-07-01        4.314325
68 2017-10-01        4.186222
69 2018-01-01        4.036689
70 2018-04-01        3.928144
71 2018-07-01        3.748937
72 2018-10-01        3.852844
73 2019-01-01        3.873066
74 2019-04-01        3.626209
75 2019-07-01        3.614922
76 2019-10-01        3.618913
77 2020-01-01        3.809063
78 2020-04-01       12.932390
79 2020-07-01        8.784999
80 2020-10-01        6.808382
81 2021-01-01        6.215136
82 2021-04-01        5.914086
83 2021-07-01        5.103164
84 2021-10-01        4.229433
85 2022-01-01        3.811146
86 2022-04-01        3.584704
87 2022-07-01        3.544451
88 2022-10-01        3.627211
89 2023-01-01        3.514823
90 2023-04-01        3.546400
91 2023-07-01        4.205879
92 2023-10-01        4.432573
93 2024-01-01        4.862400

## Preprocessing the predictors: Industrial Production: index_ip_mining 
Mining, Quarrying, and Oil and Gas Extraction: Mining (NAICS = 21), Index 2017=100, Quarterly, Seasonally Adjusted

### - Loading the data
This data is already in quarterly format, so we will have to calculate the quarterly mean.

In [34]:
# index_ip_mining = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'index_ip_mining'))
index_ip_mining = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'index_ip_mining'))
index_ip_mining = index_ip_mining.dropna()
index_ip_mining.rename(columns = {"observation_date": "Date", "IPG21SQ": "index_ip_mining"}, inplace = True)
index_ip_mining['Date'] = pd.to_datetime(index_ip_mining['Date'])
index_ip_mining = index_ip_mining.set_index('Date')

### - Creating a sample of twenty years period

In [35]:
index_ip_mining = index_ip_mining.sort_index().loc['2001-01-01' : '2023-06-30']
print(index_ip_mining)

            index_ip_mining
Date
2001-01-01          84.4693
2001-04-01          84.9047
2001-07-01          84.0679
2001-10-01          82.9672
2002-01-01          80.8947
...                     ...
2022-04-01         112.4290
2022-07-01         116.1566
2022-10-01         116.0954
2023-01-01         118.1290
2023-04-01         118.2950

[90 rows x 1 columns]

In [36]:
%%R -i index_ip_mining

index_ip_mining_r <- ts(index_ip_mining, start = 2001, end = 2024, frequency =4)
index_ip_mining_r <-  as.data.frame(as_tibble(seas(index_ip_mining_r, x11= "",)))
index_ip_mining_r <-  index_ip_mining_r[-c(3:7)]
colnames(index_ip_mining_r)[1] = "Date"
colnames(index_ip_mining_r)[2] = "index_ip_mining_sea"
print(index_ip_mining_r)

         Date index_ip_mining_sea
1  2001-01-01            84.35081
2  2001-04-01            84.75117
3  2001-07-01            84.18647
4  2001-10-01            83.13724
5  2002-01-01            80.76434
6  2002-04-01            80.52872
7  2002-07-01            80.26341
8  2002-10-01            79.40709
9  2003-01-01            80.32520
10 2003-04-01            79.68471
11 2003-07-01            80.56315
12 2003-10-01            80.79773
13 2004-01-01            80.52436
14 2004-04-01            79.77705
15 2004-07-01            80.25624
16 2004-10-01            80.44933
17 2005-01-01            81.32441
18 2005-04-01            81.10107
19 2005-07-01            78.07904
20 2005-10-01            76.69723
21 2006-01-01            79.83390
22 2006-04-01            80.86221
23 2006-07-01            82.12905
24 2006-10-01            82.11367
25 2007-01-01            81.05970
26 2007-04-01            81.74080
27 2007-07-01            82.16506
28 2007-10-01            82.54686
29 2008-01-01            83.02045
30 2008-04-01            83.72535
31 2008-07-01            82.59707
32 2008-10-01            82.69365
33 2009-01-01            80.54318
34 2009-04-01            77.42487
35 2009-07-01            78.90883
36 2009-10-01            77.96911
37 2010-01-01            80.33469
38 2010-04-01            81.58575
39 2010-07-01            83.64131
40 2010-10-01            84.30496
41 2011-01-01            84.40467
42 2011-04-01            87.05885
43 2011-07-01            88.20274
44 2011-10-01            91.20466
45 2012-01-01            93.56158
46 2012-04-01            93.92059
47 2012-07-01            94.76422
48 2012-10-01            96.69839
49 2013-01-01            98.15845
50 2013-04-01           100.06775
51 2013-07-01           102.22176
52 2013-10-01           102.02242
53 2014-01-01           105.97291
54 2014-04-01           110.95898
55 2014-07-01           113.42398
56 2014-10-01           114.69152
57 2015-01-01           110.87466
58 2015-04-01           104.65484
59 2015-07-01           103.74495
60 2015-10-01            99.15975
61 2016-01-01            94.52771
62 2016-04-01            89.98918
63 2016-07-01            89.69006
64 2016-10-01            91.82997
65 2017-01-01            96.34852
66 2017-04-01            99.85268
67 2017-07-01           100.23896
68 2017-10-01           103.49300
69 2018-01-01           107.23054
70 2018-04-01           111.47109
71 2018-07-01           116.06581
72 2018-10-01           118.54578
73 2019-01-01           119.52676
74 2019-04-01           121.62494
75 2019-07-01           121.35332
76 2019-10-01           120.67507
77 2020-01-01           120.18422
78 2020-04-01            95.00087
79 2020-07-01            97.03034
80 2020-10-01            99.44705
81 2021-01-01           101.98489
82 2021-04-01           106.47468
83 2021-07-01           106.56538
84 2021-10-01           109.44623
85 2022-01-01           109.58723
86 2022-04-01           112.52512
87 2022-07-01           115.70943
88 2022-10-01           115.78873
89 2023-01-01           118.79438
90 2023-04-01           118.39441
91 2023-07-01            84.15588
92 2023-10-01            84.69398
93 2024-01-01            84.50610

## Preprocessing the predictors: Consumer Price Index for China: index_cpi_china

### - Loading the data
This data is in monthly format, so we calculate the quarterly mean.

In [37]:
# index_cpi_china = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'index_cpi_china'))
index_cpi_china = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'index_cpi_china'))
index_cpi_china = index_cpi_china.dropna()
index_cpi_china.rename(columns = {"observation_date": "Date", "CPALTT01CNM659N": "index_cpi_china"}, inplace = True)
index_cpi_china['Date'] = pd.to_datetime(index_cpi_china['Date'])
index_cpi_china = index_cpi_china.set_index('Date')

### - Finding quarterly average from monthly data

In [38]:
index_cpi_china = index_cpi_china.resample('QS').mean()

### - Creating a sample of twenty years period

In [39]:
index_cpi_china = index_cpi_china['2001-01-01' : '2023-06-30']
print(index_cpi_china)

            index_cpi_china
Date
2001-01-01         0.666667
2001-04-01         1.566667
2001-07-01         0.800000
2001-10-01        -0.133333
2002-01-01        -0.600000
...                     ...
2022-04-01         2.233333
2022-07-01         2.666667
2022-10-01         1.833333
2023-01-01         1.266667
2023-04-01         0.100000

[90 rows x 1 columns]

In [40]:
%%R -i index_cpi_china

index_cpi_china_r <- ts(index_cpi_china, start = 2001, end = 2024, frequency =4)
index_cpi_china_r <-  as.data.frame(as_tibble(seas(index_cpi_china_r, x11= "",)))
index_cpi_china_r <-  index_cpi_china_r[-c(3:7)]
colnames(index_cpi_china_r)[1] = "Date"
colnames(index_cpi_china_r)[2] = "index_cpi_china_sea"
print(index_cpi_china_r)

         Date index_cpi_china_sea
1  2001-01-01         0.716451647
2  2001-04-01         1.453864082
3  2001-07-01         0.804454256
4  2001-10-01        -0.073919742
5  2002-01-01        -0.557756056
6  2002-04-01        -1.169446320
7  2002-07-01        -0.754350686
8  2002-10-01        -0.590315600
9  2003-01-01         0.542788125
10 2003-04-01         0.565072155
11 2003-07-01         0.862439740
12 2003-10-01         2.689187871
13 2004-01-01         2.812563783
14 2004-04-01         4.299917619
15 2004-07-01         5.314798507
16 2004-10-01         3.168206709
17 2005-01-01         2.868879936
18 2005-04-01         1.650262887
19 2005-07-01         1.400078386
20 2005-10-01         1.335953445
21 2006-01-01         1.233549163
22 2006-04-01         1.300984381
23 2006-07-01         1.353333643
24 2006-10-01         1.963873181
25 2007-01-01         2.771874226
26 2007-04-01         3.549227286
27 2007-07-01         6.194143366
28 2007-10-01         6.543527879
29 2008-01-01         8.072575902
30 2008-04-01         7.724238113
31 2008-07-01         5.373176041
32 2008-10-01         2.421944975
33 2009-01-01        -0.557480241
34 2009-04-01        -1.568782638
35 2009-07-01        -1.158229772
36 2009-10-01         0.551455780
37 2010-01-01         2.234429859
38 2010-04-01         2.912211361
39 2010-07-01         3.569367177
40 2010-10-01         4.579966069
41 2011-01-01         5.106368672
42 2011-04-01         5.717403165
43 2011-07-01         6.357382411
44 2011-10-01         4.482070157
45 2012-01-01         3.805859635
46 2012-04-01         2.867091102
47 2012-07-01         1.973495680
48 2012-10-01         1.957130200
49 2013-01-01         2.457712459
50 2013-04-01         2.424439809
51 2013-07-01         2.856556386
52 2013-10-01         2.790536609
53 2014-01-01         2.327220038
54 2014-04-01         2.232739318
55 2014-07-01         2.008502670
56 2014-10-01         1.411114994
57 2015-01-01         1.205932837
58 2015-04-01         1.412659505
59 2015-07-01         1.753985075
60 2015-10-01         1.405054130
61 2016-01-01         2.136109840
62 2016-04-01         2.099373754
63 2016-07-01         1.684159705
64 2016-10-01         2.116443583
65 2017-01-01         1.410916957
66 2017-04-01         1.423137457
67 2017-07-01         1.602053956
68 2017-10-01         1.760652459
69 2018-01-01         2.190725022
70 2018-04-01         1.850691363
71 2018-07-01         2.303049342
72 2018-10-01         2.137912366
73 2019-01-01         1.876247955
74 2019-04-01         2.656711387
75 2019-07-01         2.868103159
76 2019-10-01         4.197299049
77 2020-01-01         4.997424749
78 2020-04-01         2.778013060
79 2020-07-01         2.269003930
80 2020-10-01        -0.014431858
81 2021-01-01        -0.003740884
82 2021-04-01         1.150222388
83 2021-07-01         0.833627902
84 2021-10-01         1.689582695
85 2022-01-01         1.127675762
86 2022-04-01         2.282103664
87 2022-07-01         2.663836557
88 2022-10-01         1.759850589
89 2023-01-01         1.295625893
90 2023-04-01         0.152674971
91 2023-07-01         0.654581027
92 2023-10-01         1.486856468
93 2024-01-01         0.845143291

## Preprocessing 2 predictors at once: 
opec supply - opec, non-opec supply- non_opec
This data is in quarterly format.

In [41]:
# two_x = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'two_x', usecols="A:C"))
two_x = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'two_x', usecols="A:C"))
two_x = two_x.dropna()
two_x.rename(columns = {"obs": "Date", "OPEC": "opec", "NOPEC" : "non_opec"}, inplace = True)
two_x['Date'] = pd.to_datetime(two_x['Date'], format="mixed")
two_x = two_x.set_index('Date')

### - Creating a sample of twenty years period

In [42]:
two_x = two_x.sort_index().loc['2001-01-01' : '2023-06-30']
print(two_x)

                    opec      non_opec
Date
2001-01-01  29031.181000  40054.029000
2001-04-01  27976.069000  39483.162667
2001-07-01  28140.325000  39950.500667
2001-10-01  27307.658667  40521.307667
2002-01-01  26221.237000  40685.595667
...                  ...           ...
2019-10-01  29601.000000  58779.000000
2020-01-01  28246.000000  59931.000000
2020-04-01  25578.000000  54756.000000
2020-07-01  23842.000000  55134.000000
2020-10-01  24945.000000  55800.000000

[80 rows x 2 columns]

In [43]:
%%R -i two_x
two_x_opec_r <- two_x[1]
two_x_opec_r <- ts(two_x_opec_r, start = 2001, end = 2024, frequency =4)
two_x_opec_r <-  as.data.frame(as_tibble(seas(two_x_opec_r, x11= "",)))
two_x_opec_r <-  two_x_opec_r[-c(3:7)]
colnames(two_x_opec_r)[1] = "Date"
colnames(two_x_opec_r)[2] = "opec_sea"
print(two_x_opec_r)

         Date opec_sea
1  2001-01-01 29014.43
2  2001-04-01 28384.33
3  2001-07-01 27959.03
4  2001-10-01 27098.50
5  2002-01-01 26212.01
6  2002-04-01 26075.61
7  2002-07-01 26353.96
8  2002-10-01 27097.90
9  2003-01-01 27595.49
10 2003-04-01 27795.62
11 2003-07-01 27399.80
12 2003-10-01 28756.60
13 2004-01-01 29598.87
14 2004-04-01 30034.31
15 2004-07-01 30736.54
16 2004-10-01 30881.80
17 2005-01-01 31434.74
18 2005-04-01 31912.01
19 2005-07-01 31867.60
20 2005-10-01 31843.65
21 2006-01-01 31659.07
22 2006-04-01 31579.20
23 2006-07-01 31578.21
24 2006-10-01 31083.40
25 2007-01-01 30821.90
26 2007-04-01 30963.64
27 2007-07-01 30909.50
28 2007-10-01 31858.10
29 2008-01-01 32602.45
30 2008-04-01 32695.69
31 2008-07-01 32596.28
32 2008-10-01 31847.04
33 2009-01-01 30350.64
34 2009-04-01 30482.17
35 2009-07-01 30502.29
36 2009-10-01 30755.81
37 2010-01-01 31126.16
38 2010-04-01 31553.84
39 2010-07-01 31625.28
40 2010-10-01 31731.64
41 2011-01-01 31891.54
42 2011-04-01 31261.54
43 2011-07-01 31659.93
44 2011-10-01 32331.84
45 2012-01-01 33239.35
46 2012-04-01 33227.38
47 2012-07-01 32733.71
48 2012-10-01 32314.24
49 2013-01-01 31840.26
50 2013-04-01 32079.00
51 2013-07-01 31825.91
52 2013-10-01 30667.97
53 2014-01-01 30097.37
54 2014-04-01 29787.93
55 2014-07-01 29974.09
56 2014-10-01 30228.43
57 2015-01-01 30592.20
58 2015-04-01 31242.37
59 2015-07-01 31291.56
60 2015-10-01 32135.09
61 2016-01-01 32768.28
62 2016-04-01 32860.84
63 2016-07-01 33103.73
64 2016-10-01 32955.11
65 2017-01-01 32306.04
66 2017-04-01 32453.58
67 2017-07-01 32606.43
68 2017-10-01 32197.68
69 2018-01-01 32514.30
70 2018-04-01 32450.59
71 2018-07-01 32525.76
72 2018-10-01 31776.38
73 2019-01-01 30496.66
74 2019-04-01 30324.84
75 2019-07-01 29392.75
76 2019-10-01 29256.80
77 2020-01-01 28181.68
78 2020-04-01 25965.85
79 2020-07-01 23904.83
80 2020-10-01 24592.33
81 2021-01-01 28888.73
82 2021-04-01 28385.47
83 2021-07-01 28246.70
84 2021-10-01 26963.02
85 2022-01-01 26038.00
86 2022-04-01 26083.33
87 2022-07-01 26663.97
88 2022-10-01 26972.56
89 2023-01-01 27383.15
90 2023-04-01 27824.05
91 2023-07-01 27721.71
92 2023-10-01 28619.05
93 2024-01-01 29364.65

In [44]:
%%R -i two_x
two_x_non_opec_r <- two_x[2]
two_x_non_opec_r <- ts(two_x_non_opec_r, start = 2001, end = 2024, frequency =4)
two_x_non_opec_r <-  as.data.frame(as_tibble(seas(two_x_non_opec_r, x11= "",)))
two_x_non_opec_r <-  two_x_non_opec_r[-c(3:7)]
colnames(two_x_non_opec_r)[1] = "Date"
colnames(two_x_non_opec_r)[2] = "non_opec_sea"
print(two_x_non_opec_r)

         Date non_opec_sea
1  2001-01-01     39879.50
2  2001-04-01     39625.16
3  2001-07-01     40144.63
4  2001-10-01     40354.48
5  2002-01-01     40519.73
6  2002-04-01     41034.69
7  2002-07-01     40822.33
8  2002-10-01     40927.07
9  2003-01-01     41162.96
10 2003-04-01     41058.20
11 2003-07-01     41644.02
12 2003-10-01     42048.77
13 2004-01-01     42000.55
14 2004-04-01     42309.99
15 2004-07-01     42194.88
16 2004-10-01     42104.40
17 2005-01-01     41889.15
18 2005-04-01     42368.25
19 2005-07-01     41654.58
20 2005-10-01     41615.59
21 2006-01-01     41651.52
22 2006-04-01     41663.34
23 2006-07-01     41951.46
24 2006-10-01     41909.41
25 2007-01-01     41911.24
26 2007-04-01     41858.03
27 2007-07-01     41676.22
28 2007-10-01     41490.69
29 2008-01-01     41383.70
30 2008-04-01     41404.70
31 2008-07-01     41065.77
32 2008-10-01     41195.06
33 2009-01-01     41431.43
34 2009-04-01     41621.67
35 2009-07-01     42059.84
36 2009-10-01     42024.90
37 2010-01-01     42221.91
38 2010-04-01     42565.92
39 2010-07-01     42652.67
40 2010-10-01     42797.62
41 2011-01-01     42468.49
42 2011-04-01     42161.47
43 2011-07-01     42224.59
44 2011-10-01     42582.06
45 2012-01-01     42611.33
46 2012-04-01     42589.24
47 2012-07-01     42409.91
48 2012-10-01     43346.21
49 2013-01-01     48116.78
50 2013-04-01     48523.70
51 2013-07-01     49076.40
52 2013-10-01     49103.35
53 2014-01-01     49678.86
54 2014-04-01     50420.08
55 2014-07-01     50536.79
56 2014-10-01     50767.74
57 2015-01-01     51752.80
58 2015-04-01     52054.67
59 2015-07-01     51880.27
60 2015-10-01     51351.49
61 2016-01-01     50963.21
62 2016-04-01     50224.63
63 2016-07-01     50383.56
64 2016-10-01     50711.27
65 2017-01-01     49751.38
66 2017-04-01     50027.65
67 2017-07-01     49934.32
68 2017-10-01     50482.59
69 2018-01-01     52925.32
70 2018-04-01     53808.57
71 2018-07-01     54629.75
72 2018-10-01     54709.58
73 2019-01-01     57129.99
74 2019-04-01     57763.95
75 2019-07-01     58020.58
76 2019-10-01     58546.79
77 2020-01-01     59606.47
78 2020-04-01     55082.80
79 2020-07-01     55339.05
80 2020-10-01     55575.87
81 2021-01-01     39818.27
82 2021-04-01     39728.49
83 2021-07-01     40115.83
84 2021-10-01     40342.41
85 2022-01-01     40438.37
86 2022-04-01     41170.27
87 2022-07-01     40799.88
88 2022-10-01     40885.08
89 2023-01-01     41077.64
90 2023-04-01     41227.91
91 2023-07-01     41610.68
92 2023-10-01     41977.80
93 2024-01-01     41931.87

## Preprocessing the predictors CPI US: index_cpi_us 
This data is in monthly format. We calculated the quarterly mean.

### - Loading the data

In [45]:
# index_cpi_us  = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'cpi_us'))
index_cpi_us  = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'cpi_us'))
index_cpi_us  = index_cpi_us.dropna()
index_cpi_us.rename(columns = {"observation_date": "Date", "CPALTT01USM657N": "index_cpi_us",}, inplace = True)
index_cpi_us ['Date'] = pd.to_datetime(index_cpi_us['Date'])
index_cpi_us = index_cpi_us.set_index('Date')

### - Finding quarterly average from monthly data

In [46]:
index_cpi_us = index_cpi_us.resample('QS').mean()

### - Creating a sample of twenty years period

In [47]:
index_cpi_us = index_cpi_us['2001-01-01' : '2023-06-30']
print(index_cpi_us)

            index_cpi_us
Date
2001-01-01      0.419829
2001-04-01      0.339444
2001-07-01      0.056602
2001-10-01     -0.299975
2002-01-01      0.394686
...                  ...
2022-04-01      1.011404
2022-07-01      0.055942
2022-10-01     -0.000787
2023-01-01      0.562940
2023-04-01      0.360213

[90 rows x 1 columns]

In [48]:
%%R -i index_cpi_us

index_cpi_us_r <- ts(index_cpi_us, start = 2001, end = 2024, frequency =4)
index_cpi_us_r <-  as.data.frame(as_tibble(seas(index_cpi_us_r, x11= "",)))
index_cpi_us_r <-  index_cpi_us_r[-c(3:7)]
colnames(index_cpi_us_r)[1] = "Date"
colnames(index_cpi_us_r)[2] = "index_cpi_us_sea"
print(index_cpi_us_r)

         Date index_cpi_us_sea
1  2001-01-01      0.098147755
2  2001-04-01      0.313271519
3  2001-07-01      0.096393579
4  2001-10-01      0.008105738
5  2002-01-01      0.073489171
6  2002-04-01      0.173884151
7  2002-07-01      0.255127547
8  2002-10-01      0.280037698
9  2003-01-01      0.288185383
10 2003-04-01     -0.134926073
11 2003-07-01      0.343454698
12 2003-10-01      0.127261523
13 2004-01-01      0.242487052
14 2004-04-01      0.346903537
15 2004-07-01      0.132055402
16 2004-10-01      0.348847038
17 2005-01-01      0.222904600
18 2005-04-01      0.101203036
19 2005-07-01      0.880836190
20 2005-10-01     -0.085314528
21 2006-01-01      0.227371560
22 2006-04-01      0.371104973
23 2006-07-01      0.189727858
24 2006-10-01      0.038599663
25 2007-01-01      0.334895705
26 2007-04-01      0.311723141
27 2007-07-01      0.237425559
28 2007-10-01      0.442396912
29 2008-01-01      0.312517198
30 2008-04-01      0.657729782
31 2008-07-01      0.200012652
32 2008-10-01     -1.131608566
33 2009-01-01      0.154341830
34 2009-04-01      0.328641677
35 2009-07-01      0.219874003
36 2009-10-01      0.197521149
37 2010-01-01      0.004648901
38 2010-04-01     -0.046807056
39 2010-07-01      0.203726540
40 2010-10-01      0.344148993
41 2011-01-01      0.375567027
42 2011-04-01      0.263034085
43 2011-07-01      0.257442397
44 2011-10-01      0.101815062
45 2012-01-01      0.253923400
46 2012-04-01     -0.059860077
47 2012-07-01      0.342240741
48 2012-10-01      0.055654620
49 2013-01-01      0.168295114
50 2013-04-01      0.004833261
51 2013-07-01      0.155824455
52 2013-10-01      0.169088094
53 2014-01-01      0.191726157
54 2014-04-01      0.160572977
55 2014-07-01      0.027989541
56 2014-10-01     -0.141571999
57 2015-01-01     -0.050031408
58 2015-04-01      0.205092085
59 2015-07-01     -0.017645122
60 2015-10-01      0.090242676
61 2016-01-01      0.013415760
62 2016-04-01      0.251836208
63 2016-07-01      0.140069973
64 2016-10-01      0.260313114
65 2017-01-01      0.137225582
66 2017-04-01      0.007673049
67 2017-07-01      0.343516194
68 2017-10-01      0.196916949
69 2018-01-01      0.227550152
70 2018-04-01      0.177144617
71 2018-07-01      0.163456468
72 2018-10-01      0.061089160
73 2019-01-01      0.218714704
74 2019-04-01      0.080940492
75 2019-07-01      0.219049818
76 2019-10-01      0.249108930
77 2020-01-01     -0.039063087
78 2020-04-01     -0.236349393
79 2020-07-01      0.496392907
80 2020-10-01      0.236114486
81 2021-01-01      0.376675588
82 2021-04-01      0.626267207
83 2021-07-01      0.525461655
84 2021-10-01      0.749329178
85 2022-01-01      0.845259146
86 2022-04-01      0.777169679
87 2022-07-01      0.272594402
88 2022-10-01      0.199640374
89 2023-01-01      0.384574026
90 2023-04-01      0.116619597
91 2023-07-01      0.640840423
92 2023-10-01      0.544178463
93 2024-01-01     -0.127283579

## Preprocessing 3 predictors at once: 
Global energy index - index_energy, metal and minerals index- index_metal, precious metal index - index_precious
This data is in monthly format format, so we calculate the quarterly means.

### - Loading the data

In [49]:
# three_x = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'monthly_indices'))
three_x = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'monthly_indices'))
three_x = three_x.dropna()
three_x['Date'] = pd.to_datetime(three_x['Date'])
three_x = three_x.set_index('Date')
three_x.rename(columns = {"Energy": "index_energy", "Metals  & Minerals": "index_metal", "Precious Metals" : "index_precious"}, inplace = True)

### - Finding quarterly average from monthly data

In [50]:
three_x = three_x.resample('QS').mean()

### - Creating a sample of twenty years period

In [51]:
three_x = three_x['2001-01-01' : '2023-06-30']
print(three_x)

           index_energy index_metal index_precious
Date
2001-01-01    39.908913   37.514824      22.225362
2001-04-01    38.847583   35.850699       22.34024
2001-07-01    34.247092   32.716238      22.427525
2001-10-01    27.180842     31.4506      22.616555
2002-01-01     28.92824   33.278799       23.65152
...                 ...         ...            ...
2022-04-01   163.433933  125.418138     142.282967
2022-07-01    167.56567  100.579267      129.52176
2022-10-01   138.843977   101.53573     131.772869
2023-01-01   111.096934  111.485978     143.121441
2023-04-01   100.448766  103.036955     150.513912

[90 rows x 3 columns]

In [52]:
%%R -i three_x

three_x_index_energy_r <- three_x[1]
three_x_index_energy_r <- ts(three_x_index_energy_r, start = 2001, end = 2024, frequency =4)
three_x_index_energy_r <-  as.data.frame(as_tibble(seas(three_x_index_energy_r, x11= "",)))
three_x_index_energy_r <-  three_x_index_energy_r[-c(3:7)]
colnames(three_x_index_energy_r)[1] = "Date"
colnames(three_x_index_energy_r)[2] = "index_energy_sea"
print(three_x_index_energy_r)

C:\ProgramData\anaconda3\Lib\site-packages\rpy2\robjects\pandas2ri.py:65: UserWarning: Error while trying to convert the column "index_energy". Fall back to string conversion. The error is: <class 'float'>
  warnings.warn('Error while trying to convert '
C:\ProgramData\anaconda3\Lib\site-packages\rpy2\robjects\pandas2ri.py:65: UserWarning: Error while trying to convert the column "index_metal". Fall back to string conversion. The error is: <class 'float'>
  warnings.warn('Error while trying to convert '
C:\ProgramData\anaconda3\Lib\site-packages\rpy2\robjects\pandas2ri.py:65: UserWarning: Error while trying to convert the column "index_precious". Fall back to string conversion. The error is: <class 'float'>
  warnings.warn('Error while trying to convert '

         Date index_energy_sea
1  2001-01-01        37.365113
2  2001-04-01        36.369764
3  2001-07-01        31.625120
4  2001-10-01        29.522924
5  2002-01-01        29.581693
6  2002-04-01        31.382044
7  2002-07-01        32.301880
8  2002-10-01        34.560932
9  2003-01-01        42.127864
10 2003-04-01        35.192375
11 2003-07-01        37.635686
12 2003-10-01        40.795516
13 2004-01-01        44.032014
14 2004-04-01        43.738530
15 2004-07-01        44.778853
16 2004-10-01        52.099487
17 2005-01-01        58.325200
18 2005-04-01        59.846850
19 2005-07-01        74.122721
20 2005-10-01        74.325101
21 2006-01-01        75.538602
22 2006-04-01        79.061438
23 2006-07-01        76.682609
24 2006-10-01        70.454311
25 2007-01-01        72.304793
26 2007-04-01        79.450767
27 2007-07-01        83.734652
28 2007-10-01         6.493442
29 2008-01-01        12.328865
30 2008-04-01        23.219768
31 2008-07-01        22.292780
32 2008-10-01        72.402386
33 2009-01-01        57.596086
34 2009-04-01        60.375135
35 2009-07-01        74.295146
36 2009-10-01        85.091253
37 2010-01-01        91.346829
38 2010-04-01        88.141666
39 2010-07-01        87.089869
40 2010-10-01         3.783597
41 2011-01-01        11.128069
42 2011-04-01        22.897614
43 2011-07-01        19.759907
44 2011-10-01        17.358019
45 2012-01-01        23.488692
46 2012-04-01        10.354266
47 2012-07-01        12.145954
48 2012-10-01        17.952195
49 2013-01-01        19.417025
50 2013-04-01         8.436999
51 2013-07-01        15.454964
52 2013-10-01        13.480633
53 2014-01-01        13.568810
54 2014-04-01        15.634415
55 2014-07-01         7.380806
56 2014-10-01        85.230961
57 2015-01-01        60.814254
58 2015-04-01        64.659170
59 2015-07-01        53.296301
60 2015-10-01        45.063480
61 2016-01-01        42.100277
62 2016-04-01        47.583857
63 2016-07-01        50.209794
64 2016-10-01        56.074310
65 2017-01-01        60.080516
66 2017-04-01        54.769306
67 2017-07-01        57.970656
68 2017-10-01        66.340665
69 2018-01-01        75.706928
70 2018-04-01        83.116319
71 2018-07-01        84.633468
72 2018-10-01        77.865758
73 2019-01-01        70.214982
74 2019-04-01        74.372401
75 2019-07-01        61.296554
76 2019-10-01        64.328854
77 2020-01-01        52.043010
78 2020-04-01        37.293211
79 2020-07-01        44.194204
80 2020-10-01        49.553093
81 2021-01-01        65.982930
82 2021-04-01        79.331411
83 2021-07-01         1.035269
84 2021-10-01         6.603307
85 2022-01-01        22.153428
86 2022-04-01        27.161063
87 2022-07-01        27.104929
88 2022-10-01        21.486896
89 2023-01-01         4.319581
90 2023-04-01         1.124914
91 2023-07-01        37.118059
92 2023-10-01        36.196411
93 2024-01-01        32.729647

In [53]:
%%R -i three_x

three_x_index_metal_r <- three_x[2]
three_x_index_metal_r <- ts(three_x_index_metal_r, start = 2001, end = 2024, frequency =4)
three_x_index_metal_r <-  as.data.frame(as_tibble(seas(three_x_index_metal_r, x11= "",)))
three_x_index_metal_r <-  three_x_index_metal_r[-c(3:7)]
colnames(three_x_index_metal_r)[1] = "Date"
colnames(three_x_index_metal_r)[2] = "index_metal_sea"
print(three_x_index_metal_r)

         Date index_metal_sea
1  2001-01-01       32.400043
2  2001-04-01       31.455034
3  2001-07-01       27.302007
4  2001-10-01       24.809339
5  2002-01-01       26.429118
6  2002-04-01       28.561953
7  2002-07-01       26.088024
8  2002-10-01       27.841472
9  2003-01-01       29.667868
10 2003-04-01       29.550420
11 2003-07-01       33.668185
12 2003-10-01       35.983144
13 2004-01-01       36.135012
14 2004-04-01       35.322217
15 2004-07-01       38.172438
16 2004-10-01       41.254227
17 2005-01-01       42.771768
18 2005-04-01       39.765434
19 2005-07-01       44.858712
20 2005-10-01       52.466350
21 2006-01-01       58.391742
22 2006-04-01       80.182152
23 2006-07-01       87.752335
24 2006-10-01        4.623511
25 2007-01-01        1.789723
26 2007-04-01       10.598237
27 2007-07-01        8.016671
28 2007-10-01       11.641296
29 2008-01-01       16.705486
30 2008-04-01       16.453611
31 2008-07-01        9.473353
32 2008-10-01       47.518966
33 2009-01-01       39.204166
34 2009-04-01       44.636506
35 2009-07-01       60.113484
36 2009-10-01       73.144309
37 2010-01-01       83.509267
38 2010-04-01       87.313383
39 2010-07-01       86.518972
40 2010-10-01       11.593241
41 2011-01-01       20.077059
42 2011-04-01       16.086691
43 2011-07-01       15.521900
44 2011-10-01       87.007855
45 2012-01-01        4.156944
46 2012-04-01       85.778732
47 2012-07-01       81.063701
48 2012-10-01       82.556207
49 2013-01-01       89.723253
50 2013-04-01       78.062114
51 2013-07-01       77.503147
52 2013-10-01       78.254291
53 2014-01-01       73.447920
54 2014-04-01       71.146755
55 2014-07-01       74.858543
56 2014-10-01       67.343778
57 2015-01-01       56.944397
58 2015-04-01       53.889892
59 2015-07-01       49.555853
60 2015-10-01       43.743314
61 2016-01-01       42.986951
62 2016-04-01       47.508252
63 2016-07-01       48.598736
64 2016-10-01       53.258876
65 2017-01-01       60.659957
66 2017-04-01       54.109117
67 2017-07-01       67.022642
68 2017-10-01       70.557461
69 2018-01-01       76.267794
70 2018-04-01       72.791277
71 2018-07-01       64.420211
72 2018-10-01       62.914431
73 2019-01-01       64.827056
74 2019-04-01       64.430301
75 2019-07-01       63.875134
76 2019-10-01       62.263935
77 2020-01-01       56.381468
78 2020-04-01       50.156880
79 2020-07-01       70.200204
80 2020-10-01       82.583801
81 2021-01-01        5.975979
82 2021-04-01       18.017895
83 2021-07-01       19.499237
84 2021-10-01       16.696684
85 2022-01-01       21.711028
86 2022-04-01       19.973196
87 2022-07-01        3.624211
88 2022-10-01        5.892569
89 2023-01-01       10.418087
90 2023-04-01        3.925616
91 2023-07-01       35.822886
92 2023-10-01       34.019281
93 2024-01-01       24.128691

In [54]:
%%R -i three_x

three_x_index_precious_r <- three_x[2]
three_x_index_precious_r <- ts(three_x_index_precious_r, start = 2001, end = 2024, frequency =4)
three_x_index_precious_r <-  as.data.frame(as_tibble(seas(three_x_index_precious_r, x11= "",)))
three_x_index_precious_r <-  three_x_index_precious_r[-c(3:7)]
colnames(three_x_index_precious_r)[1] = "Date"
colnames(three_x_index_precious_r)[2] = "index_precious_sea"
print(three_x_index_precious_r)

         Date index_precious_sea
1  2001-01-01          32.400043
2  2001-04-01          31.455034
3  2001-07-01          27.302007
4  2001-10-01          24.809339
5  2002-01-01          26.429118
6  2002-04-01          28.561953
7  2002-07-01          26.088024
8  2002-10-01          27.841472
9  2003-01-01          29.667868
10 2003-04-01          29.550420
11 2003-07-01          33.668185
12 2003-10-01          35.983144
13 2004-01-01          36.135012
14 2004-04-01          35.322217
15 2004-07-01          38.172438
16 2004-10-01          41.254227
17 2005-01-01          42.771768
18 2005-04-01          39.765434
19 2005-07-01          44.858712
20 2005-10-01          52.466350
21 2006-01-01          58.391742
22 2006-04-01          80.182152
23 2006-07-01          87.752335
24 2006-10-01           4.623511
25 2007-01-01           1.789723
26 2007-04-01          10.598237
27 2007-07-01           8.016671
28 2007-10-01          11.641296
29 2008-01-01          16.705486
30 2008-04-01          16.453611
31 2008-07-01           9.473353
32 2008-10-01          47.518966
33 2009-01-01          39.204166
34 2009-04-01          44.636506
35 2009-07-01          60.113484
36 2009-10-01          73.144309
37 2010-01-01          83.509267
38 2010-04-01          87.313383
39 2010-07-01          86.518972
40 2010-10-01          11.593241
41 2011-01-01          20.077059
42 2011-04-01          16.086691
43 2011-07-01          15.521900
44 2011-10-01          87.007855
45 2012-01-01           4.156944
46 2012-04-01          85.778732
47 2012-07-01          81.063701
48 2012-10-01          82.556207
49 2013-01-01          89.723253
50 2013-04-01          78.062114
51 2013-07-01          77.503147
52 2013-10-01          78.254291
53 2014-01-01          73.447920
54 2014-04-01          71.146755
55 2014-07-01          74.858543
56 2014-10-01          67.343778
57 2015-01-01          56.944397
58 2015-04-01          53.889892
59 2015-07-01          49.555853
60 2015-10-01          43.743314
61 2016-01-01          42.986951
62 2016-04-01          47.508252
63 2016-07-01          48.598736
64 2016-10-01          53.258876
65 2017-01-01          60.659957
66 2017-04-01          54.109117
67 2017-07-01          67.022642
68 2017-10-01          70.557461
69 2018-01-01          76.267794
70 2018-04-01          72.791277
71 2018-07-01          64.420211
72 2018-10-01          62.914431
73 2019-01-01          64.827056
74 2019-04-01          64.430301
75 2019-07-01          63.875134
76 2019-10-01          62.263935
77 2020-01-01          56.381468
78 2020-04-01          50.156880
79 2020-07-01          70.200204
80 2020-10-01          82.583801
81 2021-01-01           5.975979
82 2021-04-01          18.017895
83 2021-07-01          19.499237
84 2021-10-01          16.696684
85 2022-01-01          21.711028
86 2022-04-01          19.973196
87 2022-07-01           3.624211
88 2022-10-01           5.892569
89 2023-01-01          10.418087
90 2023-04-01           3.925616
91 2023-07-01          35.822886
92 2023-10-01          34.019281
93 2024-01-01          24.128691

## Preprocessing the predictors non-opec supply change: del_supply_nonopec
This data is in quarterly format

In [55]:
# del_supply_nonopec = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'del_nonopec_supply', usecols= "A, B"))
del_supply_nonopec = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'del_nonopec_supply', usecols= "A, B"))
del_supply_nonopecsupply = del_supply_nonopec.dropna()
del_supply_nonopec['Date'] = pd.to_datetime(del_supply_nonopec['Date'], format = "mixed")
del_supply_nonopec = del_supply_nonopec.set_index('Date')
del_supply_nonopec.rename(columns = {"non-OPEC Production change": "del_supply_nonopec"}, inplace = True)
del_supply_nonopec = del_supply_nonopec.sort_index().loc['2001-01-01' : '2023-06-30']
print(del_supply_nonopec)

            del_supply_nonopec
Date
2001-01-01                0.72
2001-04-01                0.48
2001-07-01                0.59
2001-10-01                0.64
2002-01-01                0.80
...                        ...
2019-10-01                1.84
2020-01-01                2.45
2020-04-01               -3.94
2020-07-01               -3.88
2020-10-01               -4.61

[80 rows x 1 columns]

In [56]:
%%R -i del_supply_nonopec

del_supply_nonopec_r <- ts(del_supply_nonopec, start = 2001, end = 2024, frequency =4)
del_supply_nonopec_r <-  as.data.frame(as_tibble(seas(del_supply_nonopec_r, x11= "",)))
del_supply_nonopec_r <-  del_supply_nonopec_r[-c(3:7)]
colnames(del_supply_nonopec_r)[1] = "Date"
colnames(del_supply_nonopec_r)[2] = "del_supply_nonopec_sea"
print(del_supply_nonopec_r)

         Date del_supply_nonopec_sea
1  2001-01-01             0.77528785
2  2001-04-01             0.29816094
3  2001-07-01             0.63696590
4  2001-10-01             0.72142937
5  2002-01-01             1.04616923
6  2002-04-01             1.18307569
7  2002-07-01             0.79476540
8  2002-10-01             0.81639090
9  2003-01-01             1.18224385
10 2003-04-01             0.11818806
11 2003-07-01             1.34572275
12 2003-10-01             1.67945807
13 2004-01-01             1.22318594
14 2004-04-01             1.57036796
15 2004-07-01             0.93398107
16 2004-10-01             0.53923442
17 2005-01-01             0.35810435
18 2005-04-01             0.22870170
19 2005-07-01            -0.27656644
20 2005-10-01            -0.71943420
21 2006-01-01            -0.14012109
22 2006-04-01            -0.53981932
23 2006-07-01             1.25690996
24 2006-10-01             1.05721361
25 2007-01-01             0.59243121
26 2007-04-01             0.51044422
27 2007-07-01            -0.11585650
28 2007-10-01             0.11743744
29 2008-01-01             0.24009642
30 2008-04-01            -0.26168661
31 2008-07-01            -0.07258453
32 2008-10-01            -0.02688803
33 2009-01-01             0.23819201
34 2009-04-01             0.54376819
35 2009-07-01             1.40804507
36 2009-10-01             1.32957174
37 2010-01-01             1.62220322
38 2010-04-01             1.92807417
39 2010-07-01             1.70330007
40 2010-10-01             1.71525162
41 2011-01-01             0.92532583
42 2011-04-01             0.30007883
43 2011-07-01             0.27347369
44 2011-10-01             0.24729999
45 2012-01-01             0.81237727
46 2012-04-01             0.75575603
47 2012-07-01             0.52637248
48 2012-10-01             1.14291271
49 2013-01-01             0.74447850
50 2013-04-01             1.44029817
51 2013-07-01             2.36992818
52 2013-10-01             1.93345090
53 2014-01-01             2.26698979
54 2014-04-01             2.68591905
55 2014-07-01             2.36033788
56 2014-10-01             2.77536678
57 2015-01-01             2.36327710
58 2015-04-01             1.68193743
59 2015-07-01             1.41707618
60 2015-10-01             0.40114791
61 2016-01-01             0.05338655
62 2016-04-01            -1.02010195
63 2016-07-01            -1.14464603
64 2016-10-01            -0.52735934
65 2017-01-01            -0.08030522
66 2017-04-01             1.01584229
67 2017-07-01             1.03907722
68 2017-10-01             1.04003060
69 2018-01-01             1.86167990
70 2018-04-01             2.43667287
71 2018-07-01             3.46660068
72 2018-10-01             3.54963479
73 2019-01-01             2.26883272
74 2019-04-01             2.15570954
75 2019-07-01             1.52904450
76 2019-10-01             1.86151161
77 2020-01-01             2.38372449
78 2020-04-01            -3.89683066
79 2020-07-01            -3.88287704
80 2020-10-01            -4.58706384
81 2021-01-01             0.66646648
82 2021-04-01             0.50849720
83 2021-07-01             0.59367243
84 2021-10-01             0.65643295
85 2022-01-01             0.75815098
86 2022-04-01             1.57747646
87 2022-07-01             0.74844013
88 2022-10-01             0.75629482
89 2023-01-01             1.10096233
90 2023-04-01             0.30059499
91 2023-07-01             1.29178723
92 2023-10-01             1.63361378
93 2024-01-01             1.35832785

## Preprocessing 2 predictors at once: capacity change nonopec, world gdp
These variables are in quarterly format

In [57]:
# two_x_2 = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'capacity', usecols= "A, C, D"))
two_x_2 = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'capacity', usecols= "A, C, D"))
two_x_2 = two_x_2.dropna()
two_x_2['Date'] = pd.to_datetime(two_x_2['Date'], format ="mixed")
two_x_2 = two_x_2.set_index('Date')
two_x_2.rename(columns = {"Capacity percent change": "del_cap_per", "World GDP Change": "del_world_gdp_per"}, inplace = True)
two_x_2 = two_x_2.sort_index().loc['2001-01-01' : '2023-06-30']
print(two_x_2)

            del_cap_per  del_world_gdp_per
Date
2001-01-01         1.15               3.40
2001-04-01         0.85               2.60
2001-07-01         0.98               2.10
2001-10-01         1.04               1.80
2002-01-01         0.84               2.19
...                 ...                ...
2019-10-01         0.58               2.42
2020-01-01         1.45              -1.42
2020-04-01        -4.93              -8.45
2020-07-01        -4.35              -2.09
2020-10-01        -4.69              -0.22

[80 rows x 2 columns]

In [58]:
%%R -i two_x_2

two_x_2_del_cap_per_r <- two_x_2[1]
two_x_2_del_cap_per_r <- ts(two_x_2_del_cap_per_r, start = 2001, end = 2024, frequency =4)
two_x_2_del_cap_per_r <-  as.data.frame(as_tibble(seas(two_x_2_del_cap_per_r, x11= "",)))
two_x_2_del_cap_per_r <-  two_x_2_del_cap_per_r[-c(3:7)]
colnames(two_x_2_del_cap_per_r)[1] = "Date"
colnames(two_x_2_del_cap_per_r)[2] = "del_cap_per_sea"
print(two_x_2_del_cap_per_r)

         Date del_cap_per_sea
1  2001-01-01      1.24730460
2  2001-04-01      0.57184675
3  2001-07-01      1.06450129
4  2001-10-01      1.13819806
5  2002-01-01      0.94195468
6  2002-04-01      1.51270290
7  2002-07-01      0.86150870
8  2002-10-01      0.02551844
9  2003-01-01     -1.99542821
10 2003-04-01     -4.34322813
11 2003-07-01     -1.46314448
12 2003-10-01      0.98804202
13 2004-01-01      3.89147547
14 2004-04-01      5.10578236
15 2004-07-01      3.26281619
16 2004-10-01      1.42677401
17 2005-01-01      1.23053701
18 2005-04-01      1.78738124
19 2005-07-01      1.20443579
20 2005-10-01      0.45855119
21 2006-01-01     -0.03302482
22 2006-04-01     -0.81692154
23 2006-07-01      1.50330210
24 2006-10-01      1.32412069
25 2007-01-01      0.96167952
26 2007-04-01      0.84754452
27 2007-07-01     -0.02565827
28 2007-10-01      0.68873478
29 2008-01-01      1.13949254
30 2008-04-01      0.75122616
31 2008-07-01      0.83772772
32 2008-10-01      0.46615630
33 2009-01-01      0.33605118
34 2009-04-01      0.67754316
35 2009-07-01      2.82025488
36 2009-10-01      3.58534932
37 2010-01-01      4.23971726
38 2010-04-01      4.43374055
39 2010-07-01      2.92950490
40 2010-10-01      2.19367759
41 2011-01-01      0.65403653
42 2011-04-01     -1.66056697
43 2011-07-01     -1.22497707
44 2011-10-01     -0.68535680
45 2012-01-01      0.54415674
46 2012-04-01      1.72936420
47 2012-07-01      1.09774612
48 2012-10-01      0.96822774
49 2013-01-01      0.04635232
50 2013-04-01      0.89593810
51 2013-07-01      1.24034230
52 2013-10-01      0.63185935
53 2014-01-01      1.53117111
54 2014-04-01      1.71195000
55 2014-07-01      2.79593902
56 2014-10-01      4.14906141
57 2015-01-01      2.98674744
58 2015-04-01      2.58546763
59 2015-07-01      2.19647104
60 2015-10-01      0.99445610
61 2016-01-01      1.01305600
62 2016-04-01     -0.27269479
63 2016-07-01     -1.00935205
64 2016-10-01      0.29340876
65 2017-01-01      0.60362234
66 2017-04-01      1.69073927
67 2017-07-01      2.35782074
68 2017-10-01      1.69728269
69 2018-01-01      1.79251249
70 2018-04-01      2.00173684
71 2018-07-01      2.25122225
72 2018-10-01      2.17919011
73 2019-01-01      1.08681621
74 2019-04-01      0.90059038
75 2019-07-01     -0.34422153
76 2019-10-01      0.69232170
77 2020-01-01      1.44621784
78 2020-04-01     -5.07716026
79 2020-07-01     -4.31983106
80 2020-10-01     -4.54821802
81 2021-01-01      1.13575363
82 2021-04-01      0.66738875
83 2021-07-01      1.03728746
84 2021-10-01      1.18683408
85 2022-01-01      0.82855229
86 2022-04-01      1.59916188
87 2022-07-01      0.83800926
88 2022-10-01      0.08184454
89 2023-01-01     -2.10237359
90 2023-04-01     -4.28450394
91 2023-07-01     -1.48517221
92 2023-10-01      1.06819365
93 2024-01-01      3.80820685

In [59]:
%%R -i two_x_2

two_x_2_del_world_gdp_per_r <- two_x_2[1]
two_x_2_del_world_gdp_per_r <- ts(two_x_2_del_world_gdp_per_r, start = 2001, end = 2024, frequency =4)
two_x_2_del_world_gdp_per_r <-  as.data.frame(as_tibble(seas(two_x_2_del_world_gdp_per_r, x11= "",)))
two_x_2_del_world_gdp_per_r <-  two_x_2_del_world_gdp_per_r[-c(3:7)]
colnames(two_x_2_del_world_gdp_per_r)[1] = "Date"
colnames(two_x_2_del_world_gdp_per_r)[2] = "del_world_gdp_per_sea"
print(two_x_2_del_world_gdp_per_r)

         Date del_world_gdp_per_sea
1  2001-01-01            1.24730460
2  2001-04-01            0.57184675
3  2001-07-01            1.06450129
4  2001-10-01            1.13819806
5  2002-01-01            0.94195468
6  2002-04-01            1.51270290
7  2002-07-01            0.86150870
8  2002-10-01            0.02551844
9  2003-01-01           -1.99542821
10 2003-04-01           -4.34322813
11 2003-07-01           -1.46314448
12 2003-10-01            0.98804202
13 2004-01-01            3.89147547
14 2004-04-01            5.10578236
15 2004-07-01            3.26281619
16 2004-10-01            1.42677401
17 2005-01-01            1.23053701
18 2005-04-01            1.78738124
19 2005-07-01            1.20443579
20 2005-10-01            0.45855119
21 2006-01-01           -0.03302482
22 2006-04-01           -0.81692154
23 2006-07-01            1.50330210
24 2006-10-01            1.32412069
25 2007-01-01            0.96167952
26 2007-04-01            0.84754452
27 2007-07-01           -0.02565827
28 2007-10-01            0.68873478
29 2008-01-01            1.13949254
30 2008-04-01            0.75122616
31 2008-07-01            0.83772772
32 2008-10-01            0.46615630
33 2009-01-01            0.33605118
34 2009-04-01            0.67754316
35 2009-07-01            2.82025488
36 2009-10-01            3.58534932
37 2010-01-01            4.23971726
38 2010-04-01            4.43374055
39 2010-07-01            2.92950490
40 2010-10-01            2.19367759
41 2011-01-01            0.65403653
42 2011-04-01           -1.66056697
43 2011-07-01           -1.22497707
44 2011-10-01           -0.68535680
45 2012-01-01            0.54415674
46 2012-04-01            1.72936420
47 2012-07-01            1.09774612
48 2012-10-01            0.96822774
49 2013-01-01            0.04635232
50 2013-04-01            0.89593810
51 2013-07-01            1.24034230
52 2013-10-01            0.63185935
53 2014-01-01            1.53117111
54 2014-04-01            1.71195000
55 2014-07-01            2.79593902
56 2014-10-01            4.14906141
57 2015-01-01            2.98674744
58 2015-04-01            2.58546763
59 2015-07-01            2.19647104
60 2015-10-01            0.99445610
61 2016-01-01            1.01305600
62 2016-04-01           -0.27269479
63 2016-07-01           -1.00935205
64 2016-10-01            0.29340876
65 2017-01-01            0.60362234
66 2017-04-01            1.69073927
67 2017-07-01            2.35782074
68 2017-10-01            1.69728269
69 2018-01-01            1.79251249
70 2018-04-01            2.00173684
71 2018-07-01            2.25122225
72 2018-10-01            2.17919011
73 2019-01-01            1.08681621
74 2019-04-01            0.90059038
75 2019-07-01           -0.34422153
76 2019-10-01            0.69232170
77 2020-01-01            1.44621784
78 2020-04-01           -5.07716026
79 2020-07-01           -4.31983106
80 2020-10-01           -4.54821802
81 2021-01-01            1.13575363
82 2021-04-01            0.66738875
83 2021-07-01            1.03728746
84 2021-10-01            1.18683408
85 2022-01-01            0.82855229
86 2022-04-01            1.59916188
87 2022-07-01            0.83800926
88 2022-10-01            0.08184454
89 2023-01-01           -2.10237359
90 2023-04-01           -4.28450394
91 2023-07-01           -1.48517221
92 2023-10-01            1.06819365
93 2024-01-01            3.80820685

## Preprocessing the predictors- change in saudi supply: del_supply_saudi
This data is in quarterly format

In [60]:
# del_supply_saudi = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'saudi_production', usecols= "A, C"))
del_supply_saudi = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'saudi_production', usecols= "A, C"))
del_supply_saudi = del_supply_saudi.dropna()
del_supply_saudi['Date'] = pd.to_datetime(del_supply_saudi['Date'], format ="mixed")
del_supply_saudi = del_supply_saudi.set_index('Date')
del_supply_saudi.rename(columns = {"Saudi Production Change": "del_supply_saudi",}, inplace = True)
del_supply_saudi = del_supply_saudi.sort_index().loc['2001-01-01' : '2023-06-30']
print(del_supply_saudi)

            del_supply_saudi
Date
2001-01-01              0.58
2001-04-01             -0.18
2001-07-01             -0.68
2001-10-01             -1.19
2002-01-01             -1.17
...                      ...
2019-10-01             -0.90
2020-01-01             -0.20
2020-04-01             -0.64
2020-07-01             -0.61
2020-10-01             -0.82

[80 rows x 1 columns]

In [61]:
%%R -i del_supply_saudi

del_supply_saudi_r <- ts(del_supply_saudi, start = 2001, end = 2024, frequency =4)
del_supply_saudi_r <-  as.data.frame(as_tibble(seas(del_supply_saudi_r, x11= "",)))
del_supply_saudi_r <-  del_supply_saudi_r[-c(3:7)]
colnames(del_supply_saudi_r)[1] = "Date"
colnames(del_supply_saudi_r)[2] = "del_supply_saudi_sea"
print(del_supply_saudi_r)

         Date del_supply_saudi_sea
1  2001-01-01           0.52685580
2  2001-04-01          -0.29882032
3  2001-07-01          -0.58578668
4  2001-10-01          -1.11894588
5  2002-01-01          -1.21822419
6  2002-04-01          -0.63867547
7  2002-07-01          -0.18042657
8  2002-10-01           0.42734857
9  2003-01-01           1.57766987
10 2003-04-01           1.59930063
11 2003-07-01           0.82671253
12 2003-10-01           0.56260525
13 2004-01-01          -0.32852857
14 2004-04-01          -0.43899046
15 2004-07-01           1.04508558
16 2004-10-01           1.00081845
17 2005-01-01           0.88409753
18 2005-04-01           0.72899695
19 2005-07-01           0.15664386
20 2005-10-01           0.02380846
21 2006-01-01          -0.10491665
22 2006-04-01          -0.43509594
23 2006-07-01          -0.35009831
24 2006-10-01          -0.70904657
25 2007-01-01          -0.77133753
26 2007-04-01          -0.65651454
27 2007-07-01          -0.50175922
28 2007-10-01           0.18270431
29 2008-01-01           0.53844525
30 2008-04-01           0.70471634
31 2008-07-01           0.92050348
32 2008-10-01          -0.01620886
33 2009-01-01          -1.14327634
34 2009-04-01          -1.19354815
35 2009-07-01          -1.16163581
36 2009-10-01          -0.66787294
37 2010-01-01           0.05133317
38 2010-04-01           0.02732057
39 2010-07-01          -0.21066134
40 2010-10-01          -0.03528883
41 2011-01-01           0.72416475
42 2011-04-01           0.97475036
43 2011-07-01           1.62874726
44 2011-10-01           1.48711568
45 2012-01-01           1.02198130
46 2012-04-01           0.71940182
47 2012-07-01           0.11516943
48 2012-10-01          -0.20326983
49 2013-01-01          -0.86000686
50 2013-04-01          -0.23966315
51 2013-07-01           0.21907871
52 2013-10-01           0.30679788
53 2014-01-01           0.67365139
54 2014-04-01           0.05417771
55 2014-07-01          -0.36583676
56 2014-10-01          -0.18166994
57 2015-01-01          -0.01803852
58 2015-04-01           0.62897071
59 2015-07-01           0.63571699
60 2015-10-01           0.48271261
61 2016-01-01           0.38066645
62 2016-04-01           0.02931756
63 2016-07-01           0.36359374
64 2016-10-01           0.41743670
65 2017-01-01          -0.24316425
66 2017-04-01          -0.28235095
67 2017-07-01          -0.35930286
68 2017-10-01          -0.42105263
69 2018-01-01           0.10231758
70 2018-04-01           0.04198696
71 2018-07-01           0.37274594
72 2018-10-01           0.66274700
73 2019-01-01          -0.14264639
74 2019-04-01          -0.36238024
75 2019-07-01          -1.01956200
76 2019-10-01          -0.85947603
77 2020-01-01          -0.23273885
78 2020-04-01          -0.73795754
79 2020-07-01          -0.52349355
80 2020-10-01          -0.76592975
81 2021-01-01           0.53978071
82 2021-04-01          -0.28815853
83 2021-07-01          -0.59134377
84 2021-10-01          -1.12133107
85 2022-01-01          -1.20947988
86 2022-04-01          -0.66134283
87 2022-07-01          -0.17600866
88 2022-10-01           0.45979077
89 2023-01-01           1.57315131
90 2023-04-01           1.54743249
91 2023-07-01           0.83897275
92 2023-10-01           0.62716677
93 2024-01-01          -0.34759774

## Preprocessing the predictors-  opec spare capacity: opec_spare_capacity
This data is in quarterly format

In [62]:
# opec_spare_capacity = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'opec_spare_capacity', usecols= "A, C"))
opec_spare_capacity = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'opec_spare_capacity', usecols= "A, C"))
opec_spare_capacity = opec_spare_capacity.dropna()
opec_spare_capacity['Date'] = pd.to_datetime(opec_spare_capacity['Date'], format ="mixed")
opec_spare_capacity = opec_spare_capacity.set_index('Date')
opec_spare_capacity.rename(columns = {"Spare Capacity": "opec_spare_capacity",}, inplace = True)
opec_spare_capacity = opec_spare_capacity.sort_index().loc['2001-01-01' : '2023-06-30']
print(opec_spare_capacity)

            opec_spare_capacity
Date
2001-01-01                 3.63
2001-04-01                 4.65
2001-07-01                 4.44
2001-10-01                 5.21
2002-01-01                 6.10
...                         ...
2019-10-01                 2.07
2020-01-01                 2.78
2020-04-01                 5.49
2020-07-01                 6.98
2020-10-01                 6.22

[80 rows x 1 columns]

In [63]:
%%R -i opec_spare_capacity

opec_spare_capacity_r <- ts(opec_spare_capacity, start = 2001, end = 2024, frequency =4)
opec_spare_capacity_r <-  as.data.frame(as_tibble(seas(opec_spare_capacity_r, x11= "",)))
opec_spare_capacity_r <-  opec_spare_capacity_r[-c(3:7)]
colnames(opec_spare_capacity_r)[1] = "Date"
colnames(opec_spare_capacity_r)[2] = "opec_spare_capacity_sea"
print(opec_spare_capacity_r)

         Date opec_spare_capacity_sea
1  2001-01-01               3.8956180
2  2001-04-01               4.4720891
3  2001-07-01               4.4941065
4  2001-10-01               5.0751320
5  2002-01-01               6.4185173
6  2002-04-01               6.4013785
7  2002-07-01               6.0097942
8  2002-10-01               4.4520410
9  2003-01-01               2.0835637
10 2003-04-01               1.3122653
11 2003-07-01               2.3294520
12 2003-10-01               1.9993321
13 2004-01-01               1.8491251
14 2004-04-01               1.5845274
15 2004-07-01               0.7469037
16 2004-10-01               0.6962047
17 2005-01-01               1.0488127
18 2005-04-01               0.9760271
19 2005-07-01               1.0272077
20 2005-10-01               1.0192201
21 2006-01-01               1.0509933
22 2006-04-01               1.2786165
23 2006-07-01               1.4850658
24 2006-10-01               2.0406845
25 2007-01-01               2.1389308
26 2007-04-01               2.1626062
27 2007-07-01               2.2929977
28 2007-10-01               1.6758511
29 2008-01-01               1.4101455
30 2008-04-01               1.3548004
31 2008-07-01               1.2598624
32 2008-10-01               2.0121729
33 2009-01-01               3.5684089
34 2009-04-01               3.7399886
35 2009-07-01               4.6984651
36 2009-10-01               4.8547947
37 2010-01-01               4.9498555
38 2010-04-01               5.3621821
39 2010-07-01               5.7260739
40 2010-10-01               5.2091038
41 2011-01-01               4.2894452
42 2011-04-01               3.8553983
43 2011-07-01               3.4305138
44 2011-10-01               3.2045772
45 2012-01-01               2.5577915
46 2012-04-01               2.5810344
47 2012-07-01               2.6645544
48 2012-10-01               2.7650902
49 2013-01-01               3.1446466
50 2013-04-01               2.7935988
51 2013-07-01               2.4444968
52 2013-10-01               2.5206836
53 2014-01-01               2.3524982
54 2014-04-01               2.5778272
55 2014-07-01               2.6469211
56 2014-10-01               2.3375556
57 2015-01-01               2.0860055
58 2015-04-01               1.5740554
59 2015-07-01               1.6284184
60 2015-10-01               1.6641502
61 2016-01-01               1.6139306
62 2016-04-01               1.5013962
63 2016-07-01               1.2795456
64 2016-10-01               1.2586192
65 2017-01-01               2.3570740
66 2017-04-01               2.1310052
67 2017-07-01               2.2092828
68 2017-10-01               2.3453552
69 2018-01-01               1.8767055
70 2018-04-01               1.6373535
71 2018-07-01               1.3493003
72 2018-10-01               0.9871859
73 2019-01-01               2.3566051
74 2019-04-01               2.2216140
75 2019-07-01               2.2526473
76 2019-10-01               2.1263510
77 2020-01-01               3.1039005
78 2020-04-01               5.0101219
79 2020-07-01               6.7217719
80 2020-10-01               6.2760411
81 2021-01-01               4.1397859
82 2021-04-01               4.3461092
83 2021-07-01               4.2037344
84 2021-10-01               5.1402694
85 2022-01-01               7.0119526
86 2022-04-01               6.4106964
87 2022-07-01               5.5117925
88 2022-10-01               4.3709834
89 2023-01-01               2.3220086
90 2023-04-01               1.3537025
91 2023-07-01               2.0902018
92 2023-10-01               1.9095248
93 2024-01-01               2.1090631

## Preprocessing the predictors-  oecd inventory: oecd_inventory
This is a monthly data, we have to calculate the quaterly mean

In [64]:
# oecd_inventory = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'oecd_inventory', usecols= "A, B"))
oecd_inventory = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'oecd_inventory', usecols= "A, B"))
oecd_inventory = oecd_inventory.dropna()
oecd_inventory['Date'] = pd.to_datetime(oecd_inventory['Date'], format ="mixed")
oecd_inventory = oecd_inventory.set_index('Date')
oecd_inventory = oecd_inventory.resample('QS').mean()
oecd_inventory = oecd_inventory['2001-01-01' : '2023-06-30']
print(oecd_inventory)

            oecd_inventory
Date
2001-01-01     3819.207000
2001-04-01     3890.611667
2001-07-01     3929.645333
2001-10-01     3963.919000
2002-01-01     3962.906333
...                    ...
2019-10-01     4413.825366
2020-01-01     4456.016624
2020-04-01     4736.158983
2020-07-01     4763.088421
2020-10-01     4630.883993

[80 rows x 1 columns]

In [65]:
%%R -i oecd_inventory

oecd_inventory_r <- ts(oecd_inventory, start = 2001, end = 2024, frequency =4)
oecd_inventory_r <-  as.data.frame(as_tibble(seas(oecd_inventory_r, x11= "",)))
oecd_inventory_r <-  oecd_inventory_r[-c(3:7)]
colnames(oecd_inventory_r)[1] = "Date"
colnames(oecd_inventory_r)[2] = "oecd_inventory_sea"
print(oecd_inventory_r)

         Date oecd_inventory_sea
1  2001-01-01           3867.032
2  2001-04-01           3889.613
3  2001-07-01           3894.820
4  2001-10-01           3951.161
5  2002-01-01           4001.609
6  2002-04-01           3987.457
7  2002-07-01           3936.464
8  2002-10-01           3889.245
9  2003-01-01           3843.581
10 2003-04-01           3892.651
11 2003-07-01           3957.066
12 2003-10-01           3970.572
13 2004-01-01           3984.702
14 2004-04-01           3974.997
15 2004-07-01           4006.490
16 2004-10-01           4046.986
17 2005-01-01           4067.410
18 2005-04-01           4124.742
19 2005-07-01           4115.307
20 2005-10-01           4141.998
21 2006-01-01           4165.549
22 2006-04-01           4154.702
23 2006-07-01           4212.951
24 2006-10-01           4224.947
25 2007-01-01           4186.843
26 2007-04-01           4167.531
27 2007-07-01           4153.957
28 2007-10-01           4119.672
29 2008-01-01           4130.820
30 2008-04-01           4118.733
31 2008-07-01           4148.376
32 2008-10-01           4214.332
33 2009-01-01           4299.814
34 2009-04-01           4300.337
35 2009-07-01           4300.711
36 2009-10-01           4282.278
37 2010-01-01           4282.654
38 2010-04-01           4296.175
39 2010-07-01           4289.703
40 2010-10-01           4290.454
41 2011-01-01           4256.865
42 2011-04-01           4226.291
43 2011-07-01           4183.757
44 2011-10-01           4166.578
45 2012-01-01           4193.215
46 2012-04-01           4188.793
47 2012-07-01           4214.071
48 2012-10-01           4219.582
49 2013-01-01           4227.997
50 2013-04-01           4214.945
51 2013-07-01           4206.924
52 2013-10-01           4190.225
53 2014-01-01           4166.311
54 2014-04-01           4192.443
55 2014-07-01           4237.818
56 2014-10-01           4285.251
57 2015-01-01           4337.700
58 2015-04-01           4416.269
59 2015-07-01           4466.246
60 2015-10-01           4558.113
61 2016-01-01           4627.524
62 2016-04-01           4647.440
63 2016-07-01           4664.197
64 2016-10-01           4650.141
65 2017-01-01           4673.362
66 2017-04-01           4621.861
67 2017-07-01           4548.502
68 2017-10-01           4474.234
69 2018-01-01           4418.595
70 2018-04-01           4382.887
71 2018-07-01           4384.150
72 2018-10-01           4421.272
73 2019-01-01           4441.288
74 2019-04-01           4438.624
75 2019-07-01           4453.845
76 2019-10-01           4427.070
77 2020-01-01           4487.465
78 2020-04-01           4726.981
79 2020-07-01           4725.233
80 2020-10-01           4638.874
81 2021-01-01           3852.175
82 2021-04-01           3885.187
83 2021-07-01           3895.248
84 2021-10-01           3965.896
85 2022-01-01           4002.643
86 2022-04-01           3974.116
87 2022-07-01           3934.546
88 2022-10-01           3899.591
89 2023-01-01           3837.509
90 2023-04-01           3892.047
91 2023-07-01           3954.236
92 2023-10-01           3977.991
93 2024-01-01           3969.423

## Preprocessing the predictors-  change in world oil consumption - del_world_consump
This is a quarterly data

In [66]:
# del_world_consump = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'world_consumption', usecols= "A, B"))
del_world_consump = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Data raw.xlsx', sheet_name = 'world_consumption', usecols= "A, B"))
del_world_consump = del_world_consump.dropna()
del_world_consump['Date'] = pd.to_datetime(del_world_consump['Date'], format ="mixed")
del_world_consump = del_world_consump.set_index('Date')
del_world_consump.rename(columns = {"World Consumption Change": "del_world_consump",}, inplace = True)
del_world_consump = del_world_consump.sort_index().loc['2001-01-01' : '2023-06-30']
print(del_world_consump)

            del_world_consump
Date
2001-01-01               0.75
2001-04-01              -0.14
2001-07-01               0.63
2001-10-01               1.48
2002-01-01               2.52
...                       ...
2019-10-01              -9.22
2020-01-01              -7.87
2020-04-01               0.27
2020-07-01              11.34
2020-10-01               6.49

[80 rows x 1 columns]

In [67]:
%%R -i del_world_consump

del_world_consump_r <- ts(del_world_consump, start = 2001, end = 2024, frequency =4)
del_world_consump_r <-  as.data.frame(as_tibble(seas(del_world_consump_r, x11= "",)))
del_world_consump_r <-  del_world_consump_r[-c(3:7)]
colnames(del_world_consump_r)[1] = "Date"
colnames(del_world_consump_r)[2] = "del_world_consump_sea"
print(del_world_consump_r)

         Date del_world_consump_sea
1  2001-01-01            0.63106948
2  2001-04-01           -0.14464005
3  2001-07-01            0.66855274
4  2001-10-01            1.55499405
5  2002-01-01            2.42950049
6  2002-04-01            2.67258608
7  2002-07-01            1.58857552
8  2002-10-01            2.03383476
9  2003-01-01            2.04409311
10 2003-04-01            2.95459180
11 2003-07-01            4.82256474
12 2003-10-01            4.29377981
13 2004-01-01            3.72882561
14 2004-04-01            2.85417743
15 2004-07-01            2.01226790
16 2004-10-01            1.45993534
17 2005-01-01           -0.42327120
18 2005-04-01            0.63949749
19 2005-07-01            0.91893058
20 2005-10-01            1.51087520
21 2006-01-01            2.18825993
22 2006-04-01            1.23874903
23 2006-07-01            2.43914368
24 2006-10-01            1.73183275
25 2007-01-01            2.37054354
26 2007-04-01            0.67445525
27 2007-07-01            0.94154033
28 2007-10-01           -0.90799738
29 2008-01-01           -3.33406125
30 2008-04-01           -3.30182008
31 2008-07-01           -2.06951344
32 2008-10-01           -0.06718049
33 2009-01-01            1.63129318
34 2009-04-01            2.25705457
35 2009-07-01            3.28473983
36 2009-10-01            3.53615186
37 2010-01-01            3.78773892
38 2010-04-01            2.06392092
39 2010-07-01            0.11219262
40 2010-10-01            0.38659288
41 2011-01-01            0.17505819
42 2011-04-01            0.89056941
43 2011-07-01            1.82617008
44 2011-10-01            0.86267421
45 2012-01-01            2.07635104
46 2012-04-01            1.84082729
47 2012-07-01            1.98334329
48 2012-10-01            1.75956329
49 2013-01-01            1.02258418
50 2013-04-01            1.65211855
51 2013-07-01            1.63805369
52 2013-10-01            1.63439161
53 2014-01-01            1.82237457
54 2014-04-01            1.58677211
55 2014-07-01            1.95815590
56 2014-10-01            2.59144313
57 2015-01-01            1.55056168
58 2015-04-01            2.06013825
59 2015-07-01            1.56505825
60 2015-10-01            0.91546295
61 2016-01-01            1.63476230
62 2016-04-01            1.27648262
63 2016-07-01            2.65350893
64 2016-10-01            2.19161878
65 2017-01-01            2.48766630
66 2017-04-01            2.00126520
67 2017-07-01            0.48793669
68 2017-10-01            1.27642614
69 2018-01-01            0.29800369
70 2018-04-01            0.60618683
71 2018-07-01            0.79790581
72 2018-10-01            1.00286247
73 2019-01-01            0.93033061
74 2019-04-01           -6.15336349
75 2019-07-01          -13.72298066
76 2019-10-01           -9.15637358
77 2020-01-01           -7.89685540
78 2020-04-01            0.24947081
79 2020-07-01           11.33662031
80 2020-10-01            6.54354903
81 2021-01-01            0.71729921
82 2021-04-01           -0.16728576
83 2021-07-01            0.65055551
84 2021-10-01            1.51290526
85 2022-01-01            2.49460305
86 2022-04-01            2.67878780
87 2022-07-01            1.56991735
88 2022-10-01            1.98374467
89 2023-01-01            2.08150474
90 2023-04-01            3.00364846
91 2023-07-01            4.78358313
92 2023-10-01            4.25278481
93 2024-01-01            3.74854091

## Merging all the dataframes to create our dataset: seasonality unadjusted, python output

In [68]:
dat = pd.DataFrame(nm_oil_price.merge(wti_spot_price, on = 'Date').merge(brent_spot_price, on = 'Date').merge(dubai_price, on = 'Date')\
.merge(index_china_gdp, on = 'Date').merge(index_us_gdp, on = 'Date').merge(index_cboe_volt, on = 'Date')\
.merge(us_unemploy, on = 'Date').merge(index_ip_mining, on = 'Date').merge(index_cpi_china, on = 'Date').merge(two_x, on = 'Date').merge(index_cpi_us, on = 'Date')\
.merge(three_x, on = 'Date').merge(del_supply_nonopec, on = 'Date').merge(two_x_2, on = 'Date').merge(del_supply_saudi, on = 'Date')\
.merge(opec_spare_capacity, on = 'Date').merge(oecd_inventory, on = 'Date').merge(del_world_consump, on = 'Date'))

# file_name = r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Outputs\dat_pred_un_sea.csv'
file_name = r'C:\Users\asifr\OneDrive - The Pennsylvania State University\Documents\GitHub\Project-Oil-Price\Outputs\dat_pred_un_sea.csv'
dat.to_csv(file_name)

## Merging all the dataframes to create our dataset: seasonality adjusted, R output

In [69]:
%%R

dat_sea <- merge(nm_oil_price_r, wti_spot_price_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, brent_spot_price_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, dubai_price_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_china_gdp_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_us_gdp_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_cboe_volt_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, us_unemploy_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_ip_mining_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_cpi_china_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, two_x_opec_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, two_x_non_opec_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_cpi_us_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, three_x_index_energy_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, three_x_index_metal_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, three_x_index_precious_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, del_supply_nonopec_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, two_x_2_del_cap_per_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, two_x_2_del_world_gdp_per_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, del_supply_saudi_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, opec_spare_capacity_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, oecd_inventory_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, del_world_consump_r, by = "Date",  all.x = TRUE)

# Using openxlsx
suppressPackageStartupMessages(library(openxlsx))

OUT <- createWorkbook()

## adding some worksheet to the workbook OUT

addWorksheet(OUT, "dat_pred_sea")

## Writing the data to the worksheets

writeData(OUT, sheet = "dat_pred_sea", x = dat_sea)

                      
# Exporting the file

# saveWorkbook(OUT, "C:/Users/asifr/OneDrive - State of New Mexico\Documents/Project Oil Price/Outputs/dat_pred_sea.xlsx", overwrite = TRUE)
saveWorkbook(OUT, "C:/Users/asifr/OneDrive - The Pennsylvania State University/Documents/GitHub/Project-Oil-Price/Outputs/dat_pred_sea.xlsx", overwrite = TRUE)