# Note: This script will require both Python and R kernals

# Setting up the environment

## Setting up python and R environment, and loading python packages

In [1]:
import pandas as pd # load and manipulate data for One-Hot ncoding
import numpy as np # calculate the mean and std. dev. 
import matplotlib.pyplot as plt # to plot figures
plt.style.use("fivethirtyeight")
# !pip install --upgrade jedi==0.17.2

## Setting up environments to run R in Jupyter

import os
os.environ['R_HOME'] = r'C:\Program Files\R\R-4.3.1'
os.environ['X13_PATH'] = r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\x13as_html-v1-1-b60\x13as'

x13path = None
x13path = r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\x13as_html-v1-1-b60\x13as'

r_home = os.environ.get("R_HOME")
print('R_HOME:', r_home)

x13_path = os.environ.get("X13_PATH")
print('X13_PATHs:', x13_path, ' | ', x13path)

## Setting up R

print('Set up RPY2')

# !pip install rpy2 --quiet
import rpy2
import rpy2.robjects as ro
import rpy2.rinterface as ri
from rpy2.robjects import r

# Extra RPY2 items

from rpy2.robjects.packages import importr
from rpy2.robjects import pandas2ri
from rpy2.robjects.vectors import IntVector, FloatVector
import rpy2.ipython.html
import rpy2.robjects.lib.ggplot2 as gp
from rpy2.ipython.ggplot import image_png
import rpy2.rinterface as rinterface

#rinterface.initr()
pandas2ri.activate()

%load_ext rpy2.ipython

R_HOME: C:\Program Files\R\R-4.3.1
X13_PATHs: C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\x13as_html-v1-1-b60\x13as  |  C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\x13as_html-v1-1-b60\x13as
Set up RPY2

C:\Users\asifr\AppData\Local\anaconda3\Lib\site-packages\rpy2\robjects\packages.py:367: UserWarning: The symbol 'quartz' is not in this R namespace/package.
  warnings.warn(
C:\Users\asifr\AppData\Local\anaconda3\Lib\site-packages\rpy2\robjects\lib\ggplot2.py:70: UserWarning: This was designed againt ggplot2 versions starting with 3.3. but you have 3.4.2
  warnings.warn(

## Loading R packages

In [2]:
%%R

# install.packages("seasonal")
# install.packages("seasonalview")

library(reshape2)
library(lubridate)
library(tidyr)
library(shiny)
library(ggplot2)
library(forecast)
library(dplyr)
library(ggfortify)
suppressPackageStartupMessages(library(Microsoft365R))
suppressPackageStartupMessages(library(strucchange))
suppressPackageStartupMessages(library(tseries))
suppressPackageStartupMessages(library(openxlsx))

## Packages to interface with x13-SEATS
library(seasonal)
library(seasonalview)
suppressPackageStartupMessages(library(readr))
## Check seasonal library
checkX13()

Attaching package: 'lubridate'

The following objects are masked from 'package:base':

    date, intersect, setdiff, union


Attaching package: 'tidyr'

The following object is masked from 'package:reshape2':

    smiths

Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Registered S3 methods overwritten by 'ggfortify':
  method                 from
  autoplot.Arima         forecast
  autoplot.acf           forecast
  autoplot.ar            forecast
  autoplot.bats          forecast
  autoplot.decomposed.ts forecast
  autoplot.ets           forecast
  autoplot.forecast      forecast
  autoplot.stl           forecast
  autoplot.ts            forecast
  fitted.ar              forecast
  fortify.ts             forecast
  residuals.ar           forecast
The system variable 'X13_PATH' has been manually set to:
  C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\x13as_html-v1-1-b60\x13as
Since version 1.2, 'seasonal' relies on the 'x13binary'
package and does not require 'X13_PATH' to be set anymore.
Only set 'X13_PATH' manually if you intend to use your own
binaries. See ?seasonal for details.

Attaching package: 'seasonalview'

The following object is masked from 'package:seasonal':

    view

X-13 installation test:
  - X13_PATH correctly specified
  - binary executable file found
  - command line test run successful
  - command line test produced HTML output
  - seasonal test run successful
Congratulations! 'seasonal' should work fine!

# Step 01: Preparing the dataset

## Preprocessing the dependent variable: nm_oil_price

### - Loading the data

In [3]:
nm_oil_price = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'nm_oil_price'))
nm_oil_price.rename(columns = {"Month": "Date", "New Mexico Crude Oil First Purchase Price Dollars per Barrel": "nm_oil_price"}, inplace = True)
nm_oil_price['Date'] = pd.to_datetime(nm_oil_price['Date'])
nm_oil_price = nm_oil_price.set_index('Date')

### - Finding quarterly average from monthly data

In [4]:
nm_oil_price = nm_oil_price.resample('QS').mean()

### - Creating a sample of twenty years period

In [5]:
nm_oil_price = nm_oil_price['2001-01-01' : '2020-12-31']
print(nm_oil_price)

            nm_oil_price
Date
2001-01-01     26.903333
2001-04-01     24.946667
2001-07-01     24.830000
2001-10-01     18.556667
2002-01-01     19.463333
...                  ...
2019-10-01     55.326667
2020-01-01     45.273333
2020-04-01     22.180000
2020-07-01     38.316667
2020-10-01     40.056667

[80 rows x 1 columns]

In [6]:
%%R -i nm_oil_price

nm_oil_price_r <- nm_oil_price
nm_oil_price_r <- ts(nm_oil_price, start = 2001, end = 2020, frequency =4)
nm_oil_price_r <-  as.data.frame(as_tibble(seas(nm_oil_price_r, x11= "",)))
nm_oil_price_r <-  nm_oil_price_r[-c(3:7)]
colnames(nm_oil_price_r)[1] = "Date"
colnames(nm_oil_price_r)[2] = "nm_oil_price_sea"
print(nm_oil_price_r)

         Date nm_oil_price_sea
1  2001-01-01         27.05615
2  2001-04-01         24.90854
3  2001-07-01         23.69272
4  2001-10-01         19.38733
5  2002-01-01         19.58319
6  2002-04-01         24.36478
7  2002-07-01         25.20407
8  2002-10-01         27.54206
9  2003-01-01         32.52408
10 2003-04-01         27.73919
11 2003-07-01         27.58998
12 2003-10-01         30.17894
13 2004-01-01         33.60536
14 2004-04-01         36.49818
15 2004-07-01         39.90052
16 2004-10-01         46.71443
17 2005-01-01         47.42129
18 2005-04-01         49.16279
19 2005-07-01         57.72732
20 2005-10-01         57.45024
21 2006-01-01         60.03014
22 2006-04-01         66.09283
23 2006-07-01         64.41180
24 2006-10-01         56.22082
25 2007-01-01         55.62717
26 2007-04-01         60.27793
27 2007-07-01         70.35561
28 2007-10-01         88.51190
29 2008-01-01         95.86641
30 2008-04-01        120.40307
31 2008-07-01        114.34920
32 2008-10-01         55.74118
33 2009-01-01         36.47377
34 2009-04-01         55.04051
35 2009-07-01         64.45258
36 2009-10-01         72.52711
37 2010-01-01         74.37172
38 2010-04-01         73.69620
39 2010-07-01         72.70323
40 2010-10-01         81.68918
41 2011-01-01         88.07967
42 2011-04-01         97.91725
43 2011-07-01         85.60953
44 2011-10-01         92.49482
45 2012-01-01         97.85626
46 2012-04-01         85.47177
47 2012-07-01         86.00313
48 2012-10-01         83.84289
49 2013-01-01         82.97104
50 2013-04-01         89.18105
51 2013-07-01        100.32095
52 2013-10-01         95.25938
53 2014-01-01         91.70097
54 2014-04-01         90.80609
55 2014-07-01         85.00464
56 2014-10-01         67.68149
57 2015-01-01         42.72310
58 2015-04-01         51.27278
59 2015-07-01         43.27282
60 2015-10-01         39.39148
61 2016-01-01         28.72703
62 2016-04-01         40.13868
63 2016-07-01         41.62539
64 2016-10-01         46.65947
65 2017-01-01         48.35131
66 2017-04-01         43.58002
67 2017-07-01         45.66187
68 2017-10-01         53.16854
69 2018-01-01         60.55953
70 2018-04-01         59.34064
71 2018-07-01         56.72952
72 2018-10-01         49.21130
73 2019-01-01         48.23978
74 2019-04-01         54.03007
75 2019-07-01         53.65274
76 2019-10-01         55.36750
77 2020-01-01         45.65486

## Preprocessing the predictors: wti_spot_price

### - Loading the data

In [7]:
wti_spot_price = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'wti_spot'))
wti_spot_price.rename(columns = {"Month": "Date", "Cushing OK WTI Spot Price FOB Dollars per Barrel": "wti_spot_price"}, inplace = True)
wti_spot_price['Date'] = pd.to_datetime(wti_spot_price['Date'])
wti_spot_price = wti_spot_price.set_index('Date')

### - Finding quarterly average from monthly data

In [8]:
wti_spot_price = wti_spot_price.resample('QS').mean()

### - Creating a sample of twenty years period

In [9]:
wti_spot_price = wti_spot_price['2001-01-01' : '2020-12-31']
print(wti_spot_price)

            wti_spot_price
Date
2001-01-01       28.816667
2001-04-01       27.906667
2001-07-01       26.666667
2001-10-01       20.400000
2002-01-01       21.656667
...                    ...
2019-10-01       56.956667
2020-01-01       45.756667
2020-04-01       27.806667
2020-07-01       40.893333
2020-10-01       42.453333

[80 rows x 1 columns]

In [10]:
%%R -i wti_spot_price

wti_spot_price_r <- ts(wti_spot_price, start = 2001, end = 2020, frequency =4)
wti_spot_price_r <-  as.data.frame(as_tibble(seas(wti_spot_price_r, x11= "",)))
wti_spot_price_r <-  wti_spot_price_r[-c(3:7)]
colnames(wti_spot_price_r)[1] = "Date"
colnames(wti_spot_price_r)[2] = "wti_spot_price_sea"
print(wti_spot_price_r)

         Date wti_spot_price_sea
1  2001-01-01           29.09335
2  2001-04-01           27.37471
3  2001-07-01           25.79932
4  2001-10-01           21.30867
5  2002-01-01           21.85854
6  2002-04-01           25.84293
7  2002-07-01           27.36636
8  2002-10-01           29.36868
9  2003-01-01           34.48232
10 2003-04-01           28.63779
11 2003-07-01           29.14776
12 2003-10-01           32.26040
13 2004-01-01           35.77804
14 2004-04-01           38.05399
15 2004-07-01           42.23989
16 2004-10-01           49.59363
17 2005-01-01           50.94022
18 2005-04-01           52.50280
19 2005-07-01           60.88438
20 2005-10-01           61.14442
21 2006-01-01           65.50298
22 2006-04-01           69.36467
23 2006-07-01           67.86684
24 2006-10-01           60.92056
25 2007-01-01           60.61315
26 2007-04-01           63.42974
27 2007-07-01           73.23829
28 2007-10-01           92.02749
29 2008-01-01          102.10635
30 2008-04-01          120.24263
31 2008-07-01          115.97438
32 2008-10-01           59.07048
33 2009-01-01           44.33063
34 2009-04-01           57.55630
35 2009-07-01           67.80590
36 2009-10-01           77.02754
37 2010-01-01           80.10861
38 2010-04-01           75.83130
39 2010-07-01           75.75060
40 2010-10-01           86.58996
41 2011-01-01           94.19208
42 2011-04-01          100.50303
43 2011-07-01           88.69082
44 2011-10-01           96.30750
45 2012-01-01          103.50006
46 2012-04-01           92.10332
47 2012-07-01           90.26966
48 2012-10-01           90.24229
49 2013-01-01           96.16874
50 2013-04-01           92.09027
51 2013-07-01          103.03500
52 2013-10-01           99.74454
53 2014-01-01          102.17257
54 2014-04-01          100.29942
55 2014-07-01           95.14782
56 2014-10-01           74.58867
57 2015-01-01           50.76013
58 2015-04-01           55.81704
59 2015-07-01           45.30061
60 2015-10-01           42.58785
61 2016-01-01           34.79490
62 2016-04-01           43.69492
63 2016-07-01           44.14935
64 2016-10-01           49.43660
65 2017-01-01           54.30738
66 2017-04-01           46.48899
67 2017-07-01           47.65969
68 2017-10-01           55.44721
69 2018-01-01           65.55702
70 2018-04-01           66.10304
71 2018-07-01           69.11156
72 2018-10-01           58.85667
73 2019-01-01           57.00663
74 2019-04-01           58.59348
75 2019-07-01           55.52486
76 2019-10-01           56.71869
77 2020-01-01           47.60156

## Preprocessing the predictors: brent_spot_price

### - Loading the data

In [11]:
brent_spot_price = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'brent_spot'))
brent_spot_price.rename(columns = {"Month": "Date", "Europe Brent Spot Price FOB Dollars per Barrel": "brent_spot_price"}, inplace = True)
brent_spot_price['Date'] = pd.to_datetime(brent_spot_price['Date'])
brent_spot_price = brent_spot_price.set_index('Date')

### - Finding quarterly average from monthly data

In [12]:
brent_spot_price = brent_spot_price.resample('QS').mean()

### - Creating a sample of twenty years period

In [13]:
brent_spot_price = brent_spot_price['2001-01-01' : '2020-12-31']
print(brent_spot_price)

            brent_spot_price
Date
2001-01-01         25.873333
2001-04-01         27.273333
2001-07-01         25.303333
2001-10-01         19.350000
2002-01-01         21.133333
...                      ...
2019-10-01         63.410000
2020-01-01         50.440000
2020-04-01         29.343333
2020-07-01         42.963333
2020-10-01         44.290000

[80 rows x 1 columns]

In [14]:
%%R -i brent_spot_price

brent_spot_price_r <- ts(brent_spot_price, start = 2001, end = 2020, frequency =4)
brent_spot_price_r <-  as.data.frame(as_tibble(seas(brent_spot_price_r, x11= "",)))
brent_spot_price_r <-  brent_spot_price_r[-c(3:7)]
colnames(brent_spot_price_r)[1] = "Date"
colnames(brent_spot_price_r)[2] = "brent_spot_price_sea"
print(brent_spot_price_r)

         Date brent_spot_price_sea
1  2001-01-01             26.41698
2  2001-04-01             26.41831
3  2001-07-01             24.48380
4  2001-10-01             20.25749
5  2002-01-01             21.55554
6  2002-04-01             24.37874
7  2002-07-01             25.96472
8  2002-10-01             27.96528
9  2003-01-01             32.12900
10 2003-04-01             25.61284
11 2003-07-01             27.34287
12 2003-10-01             30.61991
13 2004-01-01             32.62740
14 2004-04-01             34.80453
15 2004-07-01             39.70000
16 2004-10-01             45.78672
17 2005-01-01             49.08254
18 2005-04-01             50.52525
19 2005-07-01             59.10395
20 2005-10-01             58.61421
21 2006-01-01             64.05766
22 2006-04-01             67.65358
23 2006-07-01             67.19177
24 2006-10-01             61.30440
25 2007-01-01             60.19609
26 2007-04-01             66.16415
27 2007-07-01             73.03766
28 2007-10-01             90.72154
29 2008-01-01            100.71184
30 2008-04-01            116.53651
31 2008-07-01            113.00346
32 2008-10-01             55.76197
33 2009-01-01             45.74160
34 2009-04-01             56.38038
35 2009-07-01             68.19550
36 2009-10-01             75.90517
37 2010-01-01             77.36764
38 2010-04-01             76.24652
39 2010-07-01             76.97565
40 2010-10-01             87.87795
41 2011-01-01            105.39830
42 2011-04-01            115.33298
43 2011-07-01            112.86467
44 2011-10-01            111.31301
45 2012-01-01            119.01271
46 2012-04-01            107.03209
47 2012-07-01            108.28771
48 2012-10-01            111.84835
49 2013-01-01            114.39958
50 2013-04-01            100.71988
51 2013-07-01            108.31783
52 2013-10-01            110.88790
53 2014-01-01            111.23033
54 2014-04-01            107.14761
55 2014-07-01             99.84172
56 2014-10-01             77.32557
57 2015-01-01             55.92311
58 2015-04-01             59.97967
59 2015-07-01             49.29848
60 2015-10-01             44.03013
61 2016-01-01             35.03901
62 2016-04-01             44.07920
63 2016-07-01             45.28867
64 2016-10-01             49.33026
65 2017-01-01             55.93354
66 2017-04-01             48.03598
67 2017-07-01             51.89482
68 2017-10-01             61.32677
69 2018-01-01             69.38418
70 2018-04-01             72.39957
71 2018-07-01             75.29778
72 2018-10-01             66.84261
73 2019-01-01             65.72131
74 2019-04-01             67.32193
75 2019-07-01             61.88457
76 2019-10-01             62.29300
77 2020-01-01             52.72821

## Preprocessing the predictors: dubai_spot_price

### - Loading the data

In [15]:
dubai_price = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'Monthly Prices', index_col=None, na_values=['NA'], usecols="A, D"))
dubai_price = dubai_price.dropna()
dubai_price.rename(columns = {"Month": "Date", "Crude oil, Dubai": "dubai_price"}, inplace = True)
dubai_price['Date'] = pd.to_datetime(dubai_price['Date'])
dubai_price = dubai_price.set_index('Date')

### - Finding quarterly average from monthly data

In [16]:
dubai_price = dubai_price.resample('QS').mean()

### - Creating a sample of twenty years period

In [17]:
dubai_price = dubai_price['2001-01-01' : '2020-12-31']
print(dubai_price)

           dubai_price
Date
2001-01-01   23.620364
2001-04-01   25.095437
2001-07-01   23.904812
2001-10-01   18.238671
2002-01-01   20.019124
...                ...
2019-10-01       61.43
2020-01-01   50.673333
2020-04-01   31.656667
2020-07-01   42.483333
2020-10-01   43.846667

[80 rows x 1 columns]

In [18]:
%%R -i dubai_price

dubai_price_r <- ts(dubai_price, start = 2001, end = 2020, frequency =4)
dubai_price_r <-  as.data.frame(as_tibble(seas(dubai_price_r, x11= "",)))
dubai_price_r <-  dubai_price_r[-c(3:7)]
colnames(dubai_price_r)[1] = "Date"
colnames(dubai_price_r)[2] = "dubai_price_sea"
print(dubai_price_r)

C:\Users\asifr\AppData\Local\anaconda3\Lib\site-packages\rpy2\robjects\pandas2ri.py:65: UserWarning: Error while trying to convert the column "dubai_price". Fall back to string conversion. The error is: <class 'float'>
  warnings.warn('Error while trying to convert '

         Date dubai_price_sea
1  2001-01-01       20.991338
2  2001-04-01       24.320103
3  2001-07-01       19.805180
4  2001-10-01       18.856513
5  2002-01-01       20.049251
6  2002-04-01       21.356935
7  2002-07-01       24.596098
8  2002-10-01       25.017763
9  2003-01-01       30.097262
10 2003-04-01       22.446265
11 2003-07-01       25.133972
12 2003-10-01       29.315428
13 2004-01-01       31.312674
14 2004-04-01       32.325327
15 2004-07-01       32.800568
16 2004-10-01       35.493544
17 2005-01-01       38.613150
18 2005-04-01       42.138499
19 2005-07-01       50.626897
20 2005-10-01       51.384084
21 2006-01-01       58.140118
22 2006-04-01       62.839256
23 2006-07-01       63.705306
24 2006-10-01       56.079606
25 2007-01-01       56.485726
26 2007-04-01       63.662891
27 2007-07-01       68.059030
28 2007-10-01       78.482845
29 2008-01-01       82.878646
30 2008-04-01       15.381314
31 2008-07-01       13.679273
32 2008-10-01       52.014916
33 2009-01-01       44.654994
34 2009-04-01       55.452429
35 2009-07-01       68.382822
36 2009-10-01       74.568389
37 2010-01-01       78.097362
38 2010-04-01       75.980597
39 2010-07-01       72.692429
40 2010-10-01       78.471178
41 2011-01-01        2.203146
42 2011-04-01       13.730538
43 2011-07-01       10.937952
44 2011-10-01        5.161138
45 2012-01-01       16.795236
46 2012-04-01        7.219723
47 2012-07-01        7.955942
48 2012-10-01       11.073879
49 2013-01-01       13.568756
50 2013-04-01        2.420116
51 2013-07-01        9.044552
52 2013-10-01        8.906610
53 2014-01-01        4.633555
54 2014-04-01        5.442487
55 2014-07-01        2.951805
56 2014-10-01       72.924394
57 2015-01-01       49.934004
58 2015-04-01       60.023617
59 2015-07-01       46.040508
60 2015-10-01       34.924186
61 2016-01-01       32.459258
62 2016-04-01       38.287029
63 2016-07-01       40.200609
64 2016-10-01       42.999682
65 2017-01-01       52.952548
66 2017-04-01       43.627555
67 2017-07-01       47.285576
68 2017-10-01       57.142505
69 2018-01-01       65.111361
70 2018-04-01       69.421883
71 2018-07-01       72.300476
72 2018-10-01       66.000844
73 2019-01-01       64.433985
74 2019-04-01       66.351174
75 2019-07-01       59.140612
76 2019-10-01       59.909917
77 2020-01-01       50.736908

## Preprocessing the predictors: index_china_gdp

### - Loading the data

In [19]:
index_china_gdp = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'index_china_gdp'))
index_china_gdp = index_china_gdp.dropna()
index_china_gdp.rename(columns = {"observation_date": "Date", "CHNLORSGPNOSTSAM": "index_china_gdp"}, inplace = True)
index_china_gdp['Date'] = pd.to_datetime(index_china_gdp['Date'])
index_china_gdp = index_china_gdp.set_index('Date')

### - Finding quarterly average from monthly data

In [20]:
index_china_gdp = index_china_gdp.resample('QS').mean()

### - Creating a sample of twenty years period

In [21]:
index_china_gdp = index_china_gdp['2001-01-01' : '2020-12-31']
print(index_china_gdp)

            index_china_gdp
Date
2001-01-01        99.107175
2001-04-01        98.834079
2001-07-01        98.512880
2001-10-01        98.223037
2002-01-01        98.160446
...                     ...
2019-10-01        98.922686
2020-01-01        94.949739
2020-04-01       100.541369
2020-07-01       101.323357
2020-10-01       101.751979

[80 rows x 1 columns]

In [22]:
%%R -i index_china_gdp

index_china_gdp_r <- ts(index_china_gdp, start = 2001, end = 2020, frequency =4)
index_china_gdp_r <-  as.data.frame(as_tibble(seas(index_china_gdp_r, x11= "",)))
index_china_gdp_r <-  index_china_gdp_r[-c(3:7)]
colnames(index_china_gdp_r)[1] = "Date"
colnames(index_china_gdp_r)[2] = "index_china_gdp_sea"
print(index_china_gdp_r)

         Date index_china_gdp_sea
1  2001-01-01            99.11556
2  2001-04-01            98.84404
3  2001-07-01            98.52088
4  2001-10-01            98.19867
5  2002-01-01            98.16551
6  2002-04-01            98.40423
7  2002-07-01            98.70760
8  2002-10-01            98.97426
9  2003-01-01            99.23962
10 2003-04-01            99.48109
11 2003-07-01            99.87431
12 2003-10-01           100.28423
13 2004-01-01           100.51120
14 2004-04-01           100.33478
15 2004-07-01           100.08794
16 2004-10-01            99.90102
17 2005-01-01            99.81811
18 2005-04-01            99.86355
19 2005-07-01           100.00245
20 2005-10-01           100.10287
21 2006-01-01           100.16228
22 2006-04-01           100.22290
23 2006-07-01           100.31334
24 2006-10-01           100.53141
25 2007-01-01           100.83364
26 2007-04-01           101.14446
27 2007-07-01           101.45164
28 2007-10-01           101.65983
29 2008-01-01           101.50766
30 2008-04-01           100.85768
31 2008-07-01            99.72611
32 2008-10-01            98.57642
33 2009-01-01            98.10940
34 2009-04-01            98.49389
35 2009-07-01            99.17784
36 2009-10-01            99.72233
37 2010-01-01            99.94841
38 2010-04-01            99.97463
39 2010-07-01           100.01701
40 2010-10-01           100.25424
41 2011-01-01           100.59081
42 2011-04-01           100.85832
43 2011-07-01           100.95480
44 2011-10-01           100.88551
45 2012-01-01           100.71106
46 2012-04-01           100.53799
47 2012-07-01           100.42318
48 2012-10-01           100.39024
49 2013-01-01           100.41416
50 2013-04-01           100.48169
51 2013-07-01           100.57968
52 2013-10-01           100.65071
53 2014-01-01           100.66513
54 2014-04-01           100.63037
55 2014-07-01           100.54258
56 2014-10-01           100.40993
57 2015-01-01           100.24567
58 2015-04-01           100.07489
59 2015-07-01            99.92238
60 2015-10-01            99.79236
61 2016-01-01            99.67857
62 2016-04-01            99.58514
63 2016-07-01            99.53150
64 2016-10-01            99.51412
65 2017-01-01            99.52668
66 2017-04-01            99.54708
67 2017-07-01            99.55713
68 2017-10-01            99.52424
69 2018-01-01            99.44432
70 2018-04-01            99.32095
71 2018-07-01            99.18213
72 2018-10-01            98.99736
73 2019-01-01            98.78652
74 2019-04-01            98.61041
75 2019-07-01            98.62415
76 2019-10-01            98.94051
77 2020-01-01            94.95435

## Preprocessing the predictors: index_us_gdp

### - Loading the data
This data was already in quarterly and seasonaly adjusted, so we do not need to calculate the quarterly vale.

In [23]:
index_us_gdp = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'index_us_gdpdef'))
index_us_gdp = index_us_gdp.dropna()
index_us_gdp.rename(columns = {"observation_date": "Date", "GDPDEF": "index_us_gdp"}, inplace = True)
index_us_gdp['Date'] = pd.to_datetime(index_us_gdp['Date'])
index_us_gdp = index_us_gdp.set_index('Date')

### - Creating a sample of twenty years period

In [24]:
index_us_gdp = index_us_gdp['2001-01-01' : '2020-12-31']
print(index_us_gdp)

            index_us_gdp
Date
2001-01-01        79.204
2001-04-01        79.683
2001-07-01        79.996
2001-10-01        80.245
2002-01-01        80.504
...                  ...
2019-10-01       112.963
2020-01-01       113.418
2020-04-01       112.993
2020-07-01       113.971
2020-10-01       114.692

[80 rows x 1 columns]

In [25]:
%%R -i index_us_gdp

index_us_gdp_r <- ts(index_us_gdp, start = 2001, end = 2020, frequency =4)
index_us_gdp_r <-  as.data.frame(as_tibble(seas(index_us_gdp_r, x11= "",)))
index_us_gdp_r <-  index_us_gdp_r[-c(3:7)]
colnames(index_us_gdp_r)[1] = "Date"
colnames(index_us_gdp_r)[2] = "index_us_gdp_sea"
print(index_us_gdp_r)

         Date index_us_gdp_sea
1  2001-01-01         79.20260
2  2001-04-01         79.68367
3  2001-07-01         80.00731
4  2001-10-01         80.23500
5  2002-01-01         80.50204
6  2002-04-01         80.78383
7  2002-07-01         81.18218
8  2002-10-01         81.62917
9  2003-01-01         82.04377
10 2003-04-01         82.32851
11 2003-07-01         82.80239
12 2003-10-01         83.30083
13 2004-01-01         83.89540
14 2004-04-01         84.57006
15 2004-07-01         85.11079
16 2004-10-01         85.76674
17 2005-01-01         86.46058
18 2005-04-01         87.08495
19 2005-07-01         87.86119
20 2005-10-01         88.58243
21 2006-01-01         89.22227
22 2006-04-01         90.01196
23 2006-07-01         90.60284
24 2006-10-01         90.95783
25 2007-01-01         91.86257
26 2007-04-01         92.47185
27 2007-07-01         92.90080
28 2007-10-01         93.30958
29 2008-01-01         93.68398
30 2008-04-01         94.15580
31 2008-07-01         94.80579
32 2008-10-01         95.03738
33 2009-01-01         95.05473
34 2009-04-01         94.87801
35 2009-07-01         94.92157
36 2009-10-01         95.23565
37 2010-01-01         95.56186
38 2010-04-01         96.01951
39 2010-07-01         96.25224
40 2010-10-01         96.81030
41 2011-01-01         97.38827
42 2011-04-01         98.01040
43 2011-07-01         98.56458
44 2011-10-01         98.67834
45 2012-01-01         99.36630
46 2012-04-01         99.72630
47 2012-07-01        100.19088
48 2012-10-01        100.70543
49 2013-01-01        101.21409
50 2013-04-01        101.42598
51 2013-07-01        101.85881
52 2013-10-01        102.48984
53 2014-01-01        103.02557
54 2014-04-01        103.51099
55 2014-07-01        103.92765
56 2014-10-01        104.13090
57 2015-01-01        104.20559
58 2015-04-01        104.64018
59 2015-07-01        104.95230
60 2015-10-01        104.96617
61 2016-01-01        104.98627
62 2016-04-01        105.58061
63 2016-07-01        105.90573
64 2016-10-01        106.48485
65 2017-01-01        107.12140
66 2017-04-01        107.29813
67 2017-07-01        107.90498
68 2017-10-01        108.66167
69 2018-01-01        109.38214
70 2018-04-01        110.18354
71 2018-07-01        110.63601
72 2018-10-01        111.14673
73 2019-01-01        111.60949
74 2019-04-01        112.11006
75 2019-07-01        112.56346
76 2019-10-01        112.98044
77 2020-01-01        113.45993

## Preprocessing the predictors: volatility index: index_cboe_volt

### - Loading the data
This data is in daily format, so we will have to calculate the quarterly mean.

In [26]:
index_cboe_volt = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'index_cboe_volt'))
index_cboe_volt = index_cboe_volt.dropna()
index_cboe_volt.rename(columns = {"observation_date": "Date", "VIXCLS": "index_cboe_volt"}, inplace = True)
index_cboe_volt['Date'] = pd.to_datetime(index_cboe_volt['Date'])
index_cboe_volt = index_cboe_volt.set_index('Date')

### - Finding quarterly average from daily data

In [27]:
index_cboe_volt = index_cboe_volt.resample('QS').mean()

### - Creating a sample of twenty years period

In [28]:
index_cboe_volt = index_cboe_volt['2001-01-01' : '2020-12-31']
print(index_cboe_volt)

            index_cboe_volt
Date
2001-01-01        25.726452
2001-04-01        23.923810
2001-07-01        25.380339
2001-10-01        27.910000
2002-01-01        21.360833
...                     ...
2019-10-01        13.985781
2020-01-01        31.224516
2020-04-01        34.493651
2020-07-01        25.808906
2020-10-01        25.621719

[80 rows x 1 columns]

In [29]:
%%R -i index_cboe_volt

index_cboe_volt_r <- ts(index_cboe_volt, start = 2001, end = 2020, frequency =4)
index_cboe_volt_r <-  as.data.frame(as_tibble(seas(index_cboe_volt_r, x11= "",)))
index_cboe_volt_r <-  index_cboe_volt_r[-c(3:7)]
colnames(index_cboe_volt_r)[1] = "Date"
colnames(index_cboe_volt_r)[2] = "index_cboe_volt_sea"
print(index_cboe_volt_r)

         Date index_cboe_volt_sea
1  2001-01-01            26.19564
2  2001-04-01            24.94348
3  2001-07-01            24.15561
4  2001-10-01            27.67326
5  2002-01-01            21.83541
6  2002-04-01            22.39988
7  2002-07-01            33.43775
8  2002-10-01            30.60404
9  2003-01-01            30.58269
10 2003-04-01            22.32176
11 2003-07-01            18.36945
12 2003-10-01            17.43396
13 2004-01-01            16.87748
14 2004-04-01            16.88744
15 2004-07-01            14.67479
16 2004-10-01            13.63388
17 2005-01-01            12.97453
18 2005-04-01            13.94032
19 2005-07-01            11.65100
20 2005-10-01            12.75138
21 2006-01-01            12.28447
22 2006-04-01            15.00239
23 2006-07-01            12.96771
24 2006-10-01            10.98010
25 2007-01-01            12.95039
26 2007-04-01            14.02855
27 2007-07-01            20.63680
28 2007-10-01            21.84065
29 2008-01-01            27.16848
30 2008-04-01            20.97597
31 2008-07-01            24.09921
32 2008-10-01            57.65302
33 2009-01-01            47.05348
34 2009-04-01            33.46202
35 2009-07-01            24.60634
36 2009-10-01            22.58075
37 2010-01-01            20.91946
38 2010-04-01            27.02324
39 2010-07-01            23.49105
40 2010-10-01            18.88730
41 2011-01-01            19.06540
42 2011-04-01            18.06054
43 2011-07-01            29.82421
44 2011-10-01            29.11395
45 2012-01-01            18.53116
46 2012-04-01            20.67972
47 2012-07-01            15.92548
48 2012-10-01            16.34860
49 2013-01-01            13.65108
50 2013-04-01            15.20967
51 2013-07-01            14.21238
52 2013-10-01            13.93156
53 2014-01-01            14.80444
54 2014-04-01            13.03980
55 2014-07-01            13.08027
56 2014-10-01            15.88352
57 2015-01-01            16.26790
58 2015-04-01            14.09200
59 2015-07-01            19.46143
60 2015-10-01            16.91081
61 2016-01-01            19.85119
62 2016-04-01            16.12931
63 2016-07-01            13.39820
64 2016-10-01            14.10198
65 2017-01-01            11.18156
66 2017-04-01            11.77438
67 2017-07-01            11.11321
68 2017-10-01            10.39000
69 2018-01-01            16.43997
70 2018-04-01            15.83939
71 2018-07-01            13.02313
72 2018-10-01            21.39924
73 2019-01-01            15.55151
74 2019-04-01            15.60708
75 2019-07-01            16.17653
76 2019-10-01            14.25600
77 2020-01-01            29.61483

## Preprocessing the predictors: us unemployment rate: us_unemploy

### - Loading the data
This data is in monthly format, so we will have to calculate the quarterly mean.

### - Loading the data
This data is in monthly format, so we will have to calculate the quarterly mean.

In [30]:
us_unemploy = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'us_unemploy'))
us_unemploy = us_unemploy.dropna()
us_unemploy.rename(columns = {"observation_date": "Date", "UNRATE": "us_unemploy"}, inplace = True)
us_unemploy['Date'] = pd.to_datetime(us_unemploy['Date'])
us_unemploy = us_unemploy.set_index('Date')

### - Finding quarterly average from monthly data

In [31]:
us_unemploy = us_unemploy.resample('QS').mean()

### - Creating a sample of twenty years period

In [32]:
us_unemploy = us_unemploy['2001-01-01' : '2020-12-31']
print(us_unemploy)

            us_unemploy
Date
2001-01-01     4.233333
2001-04-01     4.400000
2001-07-01     4.833333
2001-10-01     5.500000
2002-01-01     5.700000
...                 ...
2019-10-01     3.600000
2020-01-01     3.800000
2020-04-01    12.966667
2020-07-01     8.833333
2020-10-01     6.766667

[80 rows x 1 columns]

In [33]:
%%R -i us_unemploy

us_unemploy_r <- ts(us_unemploy, start = 2001, end = 2020, frequency =4)
us_unemploy_r <-  as.data.frame(as_tibble(seas(us_unemploy_r, x11= "",)))
us_unemploy_r <-  us_unemploy_r[-c(3:7)]
colnames(us_unemploy_r)[1] = "Date"
colnames(us_unemploy_r)[2] = "us_unemploy_sea"
print(us_unemploy_r)

         Date us_unemploy_sea
1  2001-01-01        4.242061
2  2001-04-01        4.393135
3  2001-07-01        4.864115
4  2001-10-01        5.462300
5  2002-01-01        5.711201
6  2002-04-01        5.829171
7  2002-07-01        5.762944
8  2002-10-01        5.830142
9  2003-01-01        5.875920
10 2003-04-01        6.134281
11 2003-07-01        6.156287
12 2003-10-01        5.805331
13 2004-01-01        5.704614
14 2004-04-01        5.601847
15 2004-07-01        5.450499
16 2004-10-01        5.412583
17 2005-01-01        5.303280
18 2005-04-01        5.099964
19 2005-07-01        4.979317
20 2005-10-01        4.952606
21 2006-01-01        4.736883
22 2006-04-01        4.632231
23 2006-07-01        4.640525
24 2006-10-01        4.424092
25 2007-01-01        4.505057
26 2007-04-01        4.499449
27 2007-07-01        4.668439
28 2007-10-01        4.793816
29 2008-01-01        5.005491
30 2008-04-01        5.334416
31 2008-07-01        5.996611
32 2008-10-01        6.863642
33 2009-01-01        8.272581
34 2009-04-01        9.304847
35 2009-07-01        9.619002
36 2009-10-01        9.942405
37 2010-01-01        9.834600
38 2010-04-01        9.635922
39 2010-07-01        9.450451
40 2010-10-01        9.514966
41 2011-01-01        9.035952
42 2011-04-01        9.062898
43 2011-07-01        8.984774
44 2011-10-01        8.648938
45 2012-01-01        8.272993
46 2012-04-01        8.191358
47 2012-07-01        8.023059
48 2012-10-01        7.806996
49 2013-01-01        7.746423
50 2013-04-01        7.525555
51 2013-07-01        7.222760
52 2013-10-01        6.937112
53 2014-01-01        6.677936
54 2014-04-01        6.197656
55 2014-07-01        6.054856
56 2014-10-01        5.705004
57 2015-01-01        5.539439
58 2015-04-01        5.431952
59 2015-07-01        5.092386
60 2015-10-01        5.039541
61 2016-01-01        4.899970
62 2016-04-01        4.933044
63 2016-07-01        4.895784
64 2016-10-01        4.773159
65 2017-01-01        4.562889
66 2017-04-01        4.366440
67 2017-07-01        4.333802
68 2017-10-01        4.169664
69 2018-01-01        4.029629
70 2018-04-01        3.932397
71 2018-07-01        3.770440
72 2018-10-01        3.833324
73 2019-01-01        3.863497
74 2019-04-01        3.631695
75 2019-07-01        3.639408
76 2019-10-01        3.598918
77 2020-01-01        3.795449

## Preprocessing the predictors: Industrial Production: index_ip_mining 
Mining, Quarrying, and Oil and Gas Extraction: Mining (NAICS = 21), Index 2017=100, Quarterly, Seasonally Adjusted

### - Loading the data
This data is already in quarterly format, so we will have to calculate the quarterly mean.

In [34]:
index_ip_mining = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'index_ip_mining'))
index_ip_mining = index_ip_mining.dropna()
index_ip_mining.rename(columns = {"observation_date": "Date", "IPG21SQ": "index_ip_mining"}, inplace = True)
index_ip_mining['Date'] = pd.to_datetime(index_ip_mining['Date'])
index_ip_mining = index_ip_mining.set_index('Date')

### - Creating a sample of twenty years period

In [35]:
index_ip_mining = index_ip_mining['2001-01-01' : '2020-12-31']
print(index_ip_mining)

            index_ip_mining
Date
2001-01-01          84.4693
2001-04-01          84.9047
2001-07-01          84.0679
2001-10-01          82.9672
2002-01-01          80.8947
...                     ...
2019-10-01         121.0686
2020-01-01         119.5387
2020-04-01          94.8394
2020-07-01          97.4152
2020-10-01          99.7417

[80 rows x 1 columns]

In [36]:
%%R -i index_ip_mining

index_ip_mining_r <- ts(index_ip_mining, start = 2001, end = 2020, frequency =4)
index_ip_mining_r <-  as.data.frame(as_tibble(seas(index_ip_mining_r, x11= "",)))
index_ip_mining_r <-  index_ip_mining_r[-c(3:7)]
colnames(index_ip_mining_r)[1] = "Date"
colnames(index_ip_mining_r)[2] = "index_ip_mining_sea"
print(index_ip_mining_r)

         Date index_ip_mining_sea
1  2001-01-01            84.35081
2  2001-04-01            84.75117
3  2001-07-01            84.18647
4  2001-10-01            83.13724
5  2002-01-01            80.76434
6  2002-04-01            80.52872
7  2002-07-01            80.26341
8  2002-10-01            79.40709
9  2003-01-01            80.32520
10 2003-04-01            79.68471
11 2003-07-01            80.56315
12 2003-10-01            80.79773
13 2004-01-01            80.52436
14 2004-04-01            79.77705
15 2004-07-01            80.25624
16 2004-10-01            80.44933
17 2005-01-01            81.32441
18 2005-04-01            81.10107
19 2005-07-01            78.07904
20 2005-10-01            76.69723
21 2006-01-01            79.83390
22 2006-04-01            80.86221
23 2006-07-01            82.12905
24 2006-10-01            82.11367
25 2007-01-01            81.05970
26 2007-04-01            81.74080
27 2007-07-01            82.16506
28 2007-10-01            82.54687
29 2008-01-01            83.02045
30 2008-04-01            83.72536
31 2008-07-01            82.59704
32 2008-10-01            82.69371
33 2009-01-01            80.54310
34 2009-04-01            77.42489
35 2009-07-01            78.90891
36 2009-10-01            77.96912
37 2010-01-01            80.33454
38 2010-04-01            81.58558
39 2010-07-01            83.64187
40 2010-10-01            84.30495
41 2011-01-01            84.40409
42 2011-04-01            87.05839
43 2011-07-01            88.20416
44 2011-10-01            91.20481
45 2012-01-01            93.56070
46 2012-04-01            93.91699
47 2012-07-01            94.77084
48 2012-10-01            96.69761
49 2013-01-01            98.15556
50 2013-04-01           100.06030
51 2013-07-01           102.23651
52 2013-10-01           102.02123
53 2014-01-01           105.96450
54 2014-04-01           110.94580
55 2014-07-01           113.45283
56 2014-10-01           114.69462
57 2015-01-01           110.85278
58 2015-04-01           104.63187
59 2015-07-01           103.79012
60 2015-10-01            99.17456
61 2016-01-01            94.47619
62 2016-04-01            89.98449
63 2016-07-01            89.72619
64 2016-10-01            91.87607
65 2017-01-01            96.24263
66 2017-04-01            99.86065
67 2017-07-01           100.30015
68 2017-10-01           103.54944
69 2018-01-01           107.07736
70 2018-04-01           111.50448
71 2018-07-01           116.13662
72 2018-10-01           118.60652
73 2019-01-01           119.35570
74 2019-04-01           121.66578
75 2019-07-01           121.41876
76 2019-10-01           120.71996
77 2020-01-01           120.05734

## Preprocessing the predictors: Consumer Price Index for China: index_cpi_china

### - Loading the data
This data is in monthly format, so we calculate the quarterly mean.

In [37]:
index_cpi_china = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'index_cpi_china'))
index_cpi_china = index_cpi_china.dropna()
index_cpi_china.rename(columns = {"observation_date": "Date", "CPALTT01CNM659N": "index_cpi_china"}, inplace = True)
index_cpi_china['Date'] = pd.to_datetime(index_cpi_china['Date'])
index_cpi_china = index_cpi_china.set_index('Date')

### - Finding quarterly average from monthly data

In [38]:
index_cpi_china = index_cpi_china.resample('QS').mean()

### - Creating a sample of twenty years period

In [39]:
index_cpi_china = index_cpi_china['2001-01-01' : '2020-12-31']
print(index_cpi_china)

            index_cpi_china
Date
2001-01-01         0.666667
2001-04-01         1.566667
2001-07-01         0.800000
2001-10-01        -0.133333
2002-01-01        -0.600000
...                     ...
2019-10-01         4.266667
2020-01-01         4.966667
2020-04-01         2.733333
2020-07-01         2.266667
2020-10-01         0.066667

[80 rows x 1 columns]

In [40]:
%%R -i index_cpi_china

index_cpi_china_r <- ts(index_cpi_china, start = 2001, end = 2020, frequency =4)
index_cpi_china_r <-  as.data.frame(as_tibble(seas(index_cpi_china_r, x11= "",)))
index_cpi_china_r <-  index_cpi_china_r[-c(3:7)]
colnames(index_cpi_china_r)[1] = "Date"
colnames(index_cpi_china_r)[2] = "index_cpi_china_sea"
print(index_cpi_china_r)

         Date index_cpi_china_sea
1  2001-01-01           0.5746011
2  2001-04-01           1.3863551
3  2001-07-01           0.8568900
4  2001-10-01           0.0870115
5  2002-01-01          -0.7051113
6  2002-04-01          -1.2297431
7  2002-07-01          -0.7136098
8  2002-10-01          -0.4198440
9  2003-01-01           0.3759613
10 2003-04-01           0.5398948
11 2003-07-01           0.8834778
12 2003-10-01           2.8562859
13 2004-01-01           2.6347685
14 2004-04-01           4.3011753
15 2004-07-01           5.3383873
16 2004-10-01           3.2971963
17 2005-01-01           2.7271087
18 2005-04-01           1.6438012
19 2005-07-01           1.4220021
20 2005-10-01           1.4344548
21 2006-01-01           1.1404577
22 2006-04-01           1.2712427
23 2006-07-01           1.3925657
24 2006-10-01           2.0196408
25 2007-01-01           2.7180095
26 2007-04-01           3.5067575
27 2007-07-01           6.2569852
28 2007-10-01           6.5473635
29 2008-01-01           8.0480470
30 2008-04-01           7.6902493
31 2008-07-01           5.4448986
32 2008-10-01           2.3929740
33 2009-01-01          -0.5677914
34 2009-04-01          -1.5957741
35 2009-07-01          -1.0871903
36 2009-10-01           0.5056887
37 2010-01-01           2.2306418
38 2010-04-01           2.9069604
39 2010-07-01           3.6210195
40 2010-10-01           4.5379451
41 2011-01-01           5.0915662
42 2011-04-01           5.7360296
43 2011-07-01           6.3853513
44 2011-10-01           4.4487605
45 2012-01-01           3.7992876
46 2012-04-01           2.8946329
47 2012-07-01           1.9557210
48 2012-10-01           1.9581441
49 2013-01-01           2.4687994
50 2013-04-01           2.4282096
51 2013-07-01           2.8157482
52 2013-10-01           2.8239664
53 2014-01-01           2.3416368
54 2014-04-01           2.2315467
55 2014-07-01           1.9485539
56 2014-10-01           1.4537314
57 2015-01-01           1.2281421
58 2015-04-01           1.4115100
59 2015-07-01           1.7015615
60 2015-10-01           1.4224782
61 2016-01-01           2.1649598
62 2016-04-01           2.1137260
63 2016-07-01           1.6334314
64 2016-10-01           2.1243735
65 2017-01-01           1.4245960
66 2017-04-01           1.4445387
67 2017-07-01           1.5801292
68 2017-10-01           1.7538274
69 2018-01-01           2.1863548
70 2018-04-01           1.8727716
71 2018-07-01           2.2893248
72 2018-10-01           2.1626879
73 2019-01-01           1.8341709
74 2019-04-01           2.6815525
75 2019-07-01           2.8479684
76 2019-10-01           4.2404224
77 2020-01-01           4.9633450

## Preprocessing 2 predictors at once: 
opec supply - opec, non-opec supply- non_opec
This data is in quarterly format.

In [41]:
two_x = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'two_x', usecols="A:C"))
two_x = two_x.dropna()
two_x.rename(columns = {"obs": "Date", "OPEC": "opec", "NOPEC" : "non_opec"}, inplace = True)
two_x['Date'] = pd.to_datetime(two_x['Date'], format="mixed")
two_x = two_x.set_index('Date')

### - Creating a sample of twenty years period

In [42]:
two_x = two_x['2001-01-01' : '2020-12-31']
print(two_x)

                    opec      non_opec
Date
2001-01-01  29031.181000  40054.029000
2001-04-01  27976.069000  39483.162667
2001-07-01  28140.325000  39950.500667
2001-10-01  27307.658667  40521.307667
2002-01-01  26221.237000  40685.595667
...                  ...           ...
2019-10-01  29601.000000  58779.000000
2020-01-01  28246.000000  59931.000000
2020-04-01  25578.000000  54756.000000
2020-07-01  23842.000000  55134.000000
2020-10-01  24945.000000  55800.000000

[80 rows x 2 columns]

In [43]:
%%R -i two_x
two_x_opec_r <- two_x[1]
two_x_opec_r <- ts(two_x_opec_r, start = 2001, end = 2020, frequency =4)
two_x_opec_r <-  as.data.frame(as_tibble(seas(two_x_opec_r, x11= "",)))
two_x_opec_r <-  two_x_opec_r[-c(3:7)]
colnames(two_x_opec_r)[1] = "Date"
colnames(two_x_opec_r)[2] = "opec_sea"
print(two_x_opec_r)

         Date opec_sea
1  2001-01-01 29014.43
2  2001-04-01 28384.33
3  2001-07-01 27959.03
4  2001-10-01 27098.50
5  2002-01-01 26212.01
6  2002-04-01 26075.61
7  2002-07-01 26353.96
8  2002-10-01 27097.90
9  2003-01-01 27595.49
10 2003-04-01 27795.62
11 2003-07-01 27399.80
12 2003-10-01 28756.60
13 2004-01-01 29598.88
14 2004-04-01 30034.32
15 2004-07-01 30736.52
16 2004-10-01 30881.80
17 2005-01-01 31434.75
18 2005-04-01 31912.04
19 2005-07-01 31867.56
20 2005-10-01 31843.63
21 2006-01-01 31659.14
22 2006-04-01 31579.24
23 2006-07-01 31578.09
24 2006-10-01 31083.37
25 2007-01-01 30822.07
26 2007-04-01 30963.72
27 2007-07-01 30909.29
28 2007-10-01 31857.81
29 2008-01-01 32603.15
30 2008-04-01 32695.57
31 2008-07-01 32595.95
32 2008-10-01 31846.53
33 2009-01-01 30351.86
34 2009-04-01 30481.84
35 2009-07-01 30501.81
36 2009-10-01 30755.03
37 2010-01-01 31128.12
38 2010-04-01 31553.31
39 2010-07-01 31624.34
40 2010-10-01 31730.74
41 2011-01-01 31894.43
42 2011-04-01 31261.00
43 2011-07-01 31658.00
44 2011-10-01 32330.42
45 2012-01-01 33243.41
46 2012-04-01 33229.84
47 2012-07-01 32725.38
48 2012-10-01 32315.64
49 2013-01-01 31845.19
50 2013-04-01 32084.34
51 2013-07-01 31810.81
52 2013-10-01 30672.30
53 2014-01-01 30104.13
54 2014-04-01 29795.13
55 2014-07-01 29949.90
56 2014-10-01 30238.12
57 2015-01-01 30606.21
58 2015-04-01 31244.72
59 2015-07-01 31255.03
60 2015-10-01 32151.39
61 2016-01-01 32800.83
62 2016-04-01 32862.07
63 2016-07-01 33020.77
64 2016-10-01 32991.34
65 2017-01-01 32393.62
66 2017-04-01 32430.57
67 2017-07-01 32454.44
68 2017-10-01 32261.99
69 2018-01-01 32688.90
70 2018-04-01 32378.47
71 2018-07-01 32302.83
72 2018-10-01 31869.82
73 2019-01-01 30770.40
74 2019-04-01 30188.02
75 2019-07-01 29117.56
76 2019-10-01 29365.12
77 2020-01-01 28537.70

In [44]:
%%R -i two_x
two_x_non_opec_r <- two_x[2]
two_x_non_opec_r <- ts(two_x_non_opec_r, start = 2001, end = 2020, frequency =4)
two_x_non_opec_r <-  as.data.frame(as_tibble(seas(two_x_non_opec_r, x11= "",)))
two_x_non_opec_r <-  two_x_non_opec_r[-c(3:7)]
colnames(two_x_non_opec_r)[1] = "Date"
colnames(two_x_non_opec_r)[2] = "non_opec_sea"
print(two_x_non_opec_r)

         Date non_opec_sea
1  2001-01-01     39879.50
2  2001-04-01     39625.16
3  2001-07-01     40144.63
4  2001-10-01     40354.48
5  2002-01-01     40519.73
6  2002-04-01     41034.69
7  2002-07-01     40822.33
8  2002-10-01     40927.07
9  2003-01-01     41162.96
10 2003-04-01     41058.20
11 2003-07-01     41644.03
12 2003-10-01     42048.77
13 2004-01-01     42000.55
14 2004-04-01     42309.99
15 2004-07-01     42194.89
16 2004-10-01     42104.40
17 2005-01-01     41889.12
18 2005-04-01     42368.28
19 2005-07-01     41654.60
20 2005-10-01     41615.59
21 2006-01-01     41651.45
22 2006-04-01     41663.34
23 2006-07-01     41951.58
24 2006-10-01     41909.35
25 2007-01-01     41911.16
26 2007-04-01     41858.03
27 2007-07-01     41676.42
28 2007-10-01     41490.51
29 2008-01-01     41383.67
30 2008-04-01     41404.77
31 2008-07-01     41065.98
32 2008-10-01     41194.67
33 2009-01-01     41431.44
34 2009-04-01     41622.18
35 2009-07-01     42059.79
36 2009-10-01     42023.98
37 2010-01-01     42222.38
38 2010-04-01     42566.83
39 2010-07-01     42652.26
40 2010-10-01     42796.14
41 2011-01-01     42469.49
42 2011-04-01     42162.81
43 2011-07-01     42223.63
44 2011-10-01     42580.21
45 2012-01-01     42613.07
46 2012-04-01     42590.63
47 2012-07-01     42408.26
48 2012-10-01     43344.45
49 2013-01-01     48119.44
50 2013-04-01     48525.43
51 2013-07-01     49073.17
52 2013-10-01     49100.97
53 2014-01-01     49684.73
54 2014-04-01     50419.73
55 2014-07-01     50532.55
56 2014-10-01     50765.64
57 2015-01-01     51761.68
58 2015-04-01     52051.45
59 2015-07-01     51875.26
60 2015-10-01     51351.16
61 2016-01-01     50974.25
62 2016-04-01     50216.61
63 2016-07-01     50378.01
64 2016-10-01     50716.99
65 2017-01-01     49763.86
66 2017-04-01     50008.28
67 2017-07-01     49931.70
68 2017-10-01     50493.10
69 2018-01-01     52952.31
70 2018-04-01     53760.03
71 2018-07-01     54634.13
72 2018-10-01     54725.71
73 2019-01-01     57178.95
74 2019-04-01     57681.81
75 2019-07-01     58026.31
76 2019-10-01     58569.10
77 2020-01-01     59686.89

## Preprocessing the predictors CPI US: index_cpi_us 
This data is in monthly format. We calculated the quarterly mean.

### - Loading the data

In [45]:
index_cpi_us  = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'cpi_us'))
index_cpi_us  = index_cpi_us.dropna()
index_cpi_us.rename(columns = {"observation_date": "Date", "CPALTT01USM657N": "index_cpi_us",}, inplace = True)
index_cpi_us ['Date'] = pd.to_datetime(index_cpi_us['Date'])
index_cpi_us = index_cpi_us.set_index('Date')

### - Finding quarterly average from monthly data

In [46]:
index_cpi_us = index_cpi_us.resample('QS').mean()

### - Creating a sample of twenty years period

In [47]:
index_cpi_us = index_cpi_us['2001-01-01' : '2020-12-31']
print(index_cpi_us)

            index_cpi_us
Date
2001-01-01      0.419829
2001-04-01      0.339444
2001-07-01      0.056602
2001-10-01     -0.299975
2002-01-01      0.394686
...                  ...
2019-10-01      0.028006
2020-01-01      0.148131
2020-04-01     -0.039846
2020-07-01      0.320140
2020-10-01      0.024860

[80 rows x 1 columns]

In [48]:
%%R -i index_cpi_us

index_cpi_us_r <- ts(index_cpi_us, start = 2001, end = 2020, frequency =4)
index_cpi_us_r <-  as.data.frame(as_tibble(seas(index_cpi_us_r, x11= "",)))
index_cpi_us_r <-  index_cpi_us_r[-c(3:7)]
colnames(index_cpi_us_r)[1] = "Date"
colnames(index_cpi_us_r)[2] = "index_cpi_us_sea"
print(index_cpi_us_r)

         Date index_cpi_us_sea
1  2001-01-01      0.096895140
2  2001-04-01      0.236519813
3  2001-07-01      0.167365146
4  2001-10-01      0.015057273
5  2002-01-01      0.072269588
6  2002-04-01      0.099995586
7  2002-07-01      0.315313765
8  2002-10-01      0.301490659
9  2003-01-01      0.278182371
10 2003-04-01     -0.203655508
11 2003-07-01      0.393022866
12 2003-10-01      0.162687581
13 2004-01-01      0.226511953
14 2004-04-01      0.278234602
15 2004-07-01      0.175486730
16 2004-10-01      0.397486393
17 2005-01-01      0.191183616
18 2005-04-01      0.051471377
19 2005-07-01      0.905657194
20 2005-10-01     -0.023912935
21 2006-01-01      0.184195635
22 2006-04-01      0.337661247
23 2006-07-01      0.198926569
24 2006-10-01      0.110615276
25 2007-01-01      0.277188814
26 2007-04-01      0.299061984
27 2007-07-01      0.233840552
28 2007-10-01      0.512156396
29 2008-01-01      0.259242045
30 2008-04-01      0.646379859
31 2008-07-01      0.200014565
32 2008-10-01     -1.074532192
33 2009-01-01      0.108312933
34 2009-04-01      0.321581206
35 2009-07-01      0.220705171
36 2009-10-01      0.238881059
37 2010-01-01     -0.026653350
38 2010-04-01     -0.055403571
39 2010-07-01      0.205196448
40 2010-10-01      0.374787875
41 2011-01-01      0.354007132
42 2011-04-01      0.255862509
43 2011-07-01      0.259577462
44 2011-10-01      0.117855663
45 2012-01-01      0.245412512
46 2012-04-01     -0.065896516
47 2012-07-01      0.344856093
48 2012-10-01      0.059632955
49 2013-01-01      0.167602902
50 2013-04-01      0.002326675
51 2013-07-01      0.157102086
52 2013-10-01      0.168198810
53 2014-01-01      0.193222495
54 2014-04-01      0.158249800
55 2014-07-01      0.031531359
56 2014-10-01     -0.143923455
57 2015-01-01     -0.049783272
58 2015-04-01      0.202859230
59 2015-07-01     -0.012806870
60 2015-10-01      0.087920616
61 2016-01-01      0.013785139
62 2016-04-01      0.247856543
63 2016-07-01      0.144268824
64 2016-10-01      0.262384414
65 2017-01-01      0.133896818
66 2017-04-01      0.007415421
67 2017-07-01      0.340872359
68 2017-10-01      0.204866623
69 2018-01-01      0.218247046
70 2018-04-01      0.194527651
71 2018-07-01      0.137132587
72 2018-10-01      0.076143614
73 2019-01-01      0.204249201
74 2019-04-01      0.137086610
75 2019-07-01      0.148864650
76 2019-10-01      0.265119217
77 2020-01-01     -0.044480371

## Preprocessing 3 predictors at once: 
Global energy index - index_energy, metal and minerals index- index_metal, precious metal index - index_precious
This data is in monthly format format, so we calculate the quarterly means.

### - Loading the data

In [49]:
three_x = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'monthly_indices'))
three_x = three_x.dropna()
three_x['Date'] = pd.to_datetime(three_x['Date'])
three_x = three_x.set_index('Date')
three_x.rename(columns = {"Energy": "index_energy", "Metals  & Minerals": "index_metal", "Precious Metals" : "index_precious"}, inplace = True)

### - Finding quarterly average from monthly data

In [50]:
three_x = three_x.resample('QS').mean()

### - Creating a sample of twenty years period

In [51]:
three_x = three_x['2001-01-01' : '2020-12-31']
print(three_x)

           index_energy index_metal index_precious
Date
2001-01-01    39.908913   37.514824      22.225362
2001-04-01    38.847583   35.850699       22.34024
2001-07-01    34.247092   32.716238      22.427525
2001-10-01    27.180842     31.4506      22.616555
2002-01-01     28.92824   33.278799       23.65152
...                 ...         ...            ...
2019-10-01    76.123328   76.714211     112.223609
2020-01-01    61.671272   73.141657     118.290424
2020-04-01    39.800782   69.078851     125.604389
2020-07-01    52.373436    82.56187     146.293461
2020-10-01    56.889765   91.807639     143.954707

[80 rows x 3 columns]

In [52]:
%%R -i three_x

three_x_index_energy_r <- three_x[1]
three_x_index_energy_r <- ts(three_x_index_energy_r, start = 2001, end = 2020, frequency =4)
three_x_index_energy_r <-  as.data.frame(as_tibble(seas(three_x_index_energy_r, x11= "",)))
three_x_index_energy_r <-  three_x_index_energy_r[-c(3:7)]
colnames(three_x_index_energy_r)[1] = "Date"
colnames(three_x_index_energy_r)[2] = "index_energy_sea"
print(three_x_index_energy_r)

C:\Users\asifr\AppData\Local\anaconda3\Lib\site-packages\rpy2\robjects\pandas2ri.py:65: UserWarning: Error while trying to convert the column "index_energy". Fall back to string conversion. The error is: <class 'float'>
  warnings.warn('Error while trying to convert '
C:\Users\asifr\AppData\Local\anaconda3\Lib\site-packages\rpy2\robjects\pandas2ri.py:65: UserWarning: Error while trying to convert the column "index_metal". Fall back to string conversion. The error is: <class 'float'>
  warnings.warn('Error while trying to convert '
C:\Users\asifr\AppData\Local\anaconda3\Lib\site-packages\rpy2\robjects\pandas2ri.py:65: UserWarning: Error while trying to convert the column "index_precious". Fall back to string conversion. The error is: <class 'float'>
  warnings.warn('Error while trying to convert '

         Date index_energy_sea
1  2001-01-01        29.431551
2  2001-04-01        27.985706
3  2001-07-01        23.951746
4  2001-10-01        21.642637
5  2002-01-01        21.382668
6  2002-04-01        23.155462
7  2002-07-01        24.727300
8  2002-10-01        26.607639
9  2003-01-01        33.627127
10 2003-04-01        27.352981
11 2003-07-01        30.014716
12 2003-10-01        32.677113
13 2004-01-01        35.596507
14 2004-04-01        35.989655
15 2004-07-01        36.988885
16 2004-10-01        43.999342
17 2005-01-01        50.082885
18 2005-04-01        52.149043
19 2005-07-01        64.856017
20 2005-10-01        65.488710
21 2006-01-01        66.750203
22 2006-04-01        68.757728
23 2006-07-01        66.460988
24 2006-10-01        61.783213
25 2007-01-01        63.561544
26 2007-04-01        69.103736
27 2007-07-01        73.624299
28 2007-10-01         3.668927
29 2008-01-01         8.373140
30 2008-04-01        17.156597
31 2008-07-01        16.364321
32 2008-10-01        63.349483
33 2009-01-01        49.273175
34 2009-04-01        52.894421
35 2009-07-01        65.180843
36 2009-10-01        75.146414
37 2010-01-01        80.857388
38 2010-04-01        78.429463
39 2010-07-01        77.278573
40 2010-10-01         1.905374
41 2011-01-01         6.674695
42 2011-04-01        16.820239
43 2011-07-01        16.122842
44 2011-10-01        13.744117
45 2012-01-01        16.844205
46 2012-04-01         5.996005
47 2012-07-01         8.766281
48 2012-10-01        14.470239
49 2013-01-01        14.848780
50 2013-04-01         3.655403
51 2013-07-01        11.993761
52 2013-10-01        10.462674
53 2014-01-01         9.364455
54 2014-04-01         9.807528
55 2014-07-01         4.349079
56 2014-10-01        76.382960
57 2015-01-01        52.721283
58 2015-04-01        54.541897
59 2015-07-01        46.309647
60 2015-10-01        38.284350
61 2016-01-01        33.700423
62 2016-04-01        38.141862
63 2016-07-01        42.899679
64 2016-10-01        49.037311
65 2017-01-01        51.541945
66 2017-04-01        46.175143
67 2017-07-01        50.213510
68 2017-10-01        57.568440
69 2018-01-01        67.147511
70 2018-04-01        72.533799
71 2018-07-01        74.611434
72 2018-10-01        68.213804
73 2019-01-01        62.980573
74 2019-04-01        64.345841
75 2019-07-01        53.420628
76 2019-10-01        54.882396
77 2020-01-01        46.649753

In [53]:
%%R -i three_x

three_x_index_metal_r <- three_x[2]
three_x_index_metal_r <- ts(three_x_index_metal_r, start = 2001, end = 2020, frequency =4)
three_x_index_metal_r <-  as.data.frame(as_tibble(seas(three_x_index_metal_r, x11= "",)))
three_x_index_metal_r <-  three_x_index_metal_r[-c(3:7)]
colnames(three_x_index_metal_r)[1] = "Date"
colnames(three_x_index_metal_r)[2] = "index_metal_sea"
print(three_x_index_metal_r)

         Date index_metal_sea
1  2001-01-01      22.2573958
2  2001-04-01      22.2010488
3  2001-07-01      16.9887407
4  2001-10-01      14.5232153
5  2002-01-01      16.2559967
6  2002-04-01      19.3102584
7  2002-07-01      15.9198290
8  2002-10-01      17.4400953
9  2003-01-01      19.2828520
10 2003-04-01      20.5321091
11 2003-07-01      23.7161261
12 2003-10-01      25.3291868
13 2004-01-01      25.4441372
14 2004-04-01      26.6743983
15 2004-07-01      28.4701130
16 2004-10-01      30.2651752
17 2005-01-01      31.7642444
18 2005-04-01      31.5552098
19 2005-07-01      35.2994757
20 2005-10-01      41.2263581
21 2006-01-01      47.1939634
22 2006-04-01      72.2233454
23 2006-07-01      78.2391795
24 2006-10-01       2.2997041
25 2007-01-01       0.5381803
26 2007-04-01       7.7181437
27 2007-07-01       4.3531106
28 2007-10-01       6.4741528
29 2008-01-01       9.6133425
30 2008-04-01      11.3499456
31 2008-07-01       5.5449965
32 2008-10-01      36.6527910
33 2009-01-01      28.5021354
34 2009-04-01      36.0479221
35 2009-07-01      49.9044333
36 2009-10-01      62.6653687
37 2010-01-01      73.2650080
38 2010-04-01      78.0720108
39 2010-07-01      76.2052788
40 2010-10-01       7.4050045
41 2011-01-01      12.1817367
42 2011-04-01      10.3296393
43 2011-07-01      10.2023237
44 2011-10-01      77.0140199
45 2012-01-01       2.4304804
46 2012-04-01      75.6979969
47 2012-07-01      70.8120108
48 2012-10-01      72.6282165
49 2013-01-01      80.0741309
50 2013-04-01      67.8102037
51 2013-07-01      67.3349683
52 2013-10-01      68.3627564
53 2014-01-01      63.7719611
54 2014-04-01      60.7969367
55 2014-07-01      64.8307938
56 2014-10-01      57.4430368
57 2015-01-01      47.1654142
58 2015-04-01      43.5703428
59 2015-07-01      39.5923272
60 2015-10-01      33.8622043
61 2016-01-01      33.0727110
62 2016-04-01      37.2616804
63 2016-07-01      38.6629851
64 2016-10-01      43.4000915
65 2017-01-01      50.6654365
66 2017-04-01      43.8858151
67 2017-07-01      57.0926819
68 2017-10-01      60.7627909
69 2018-01-01      66.1307098
70 2018-04-01      62.6905159
71 2018-07-01      54.5286840
72 2018-10-01      52.9521056
73 2019-01-01      54.6663106
74 2019-04-01      54.6814161
75 2019-07-01      53.7982243
76 2019-10-01      51.9784111
77 2020-01-01      46.4667939

In [54]:
%%R -i three_x

three_x_index_precious_r <- three_x[2]
three_x_index_precious_r <- ts(three_x_index_precious_r, start = 2001, end = 2020, frequency =4)
three_x_index_precious_r <-  as.data.frame(as_tibble(seas(three_x_index_precious_r, x11= "",)))
three_x_index_precious_r <-  three_x_index_precious_r[-c(3:7)]
colnames(three_x_index_precious_r)[1] = "Date"
colnames(three_x_index_precious_r)[2] = "index_precious_sea"
print(three_x_index_precious_r)

         Date index_precious_sea
1  2001-01-01         22.2573958
2  2001-04-01         22.2010488
3  2001-07-01         16.9887407
4  2001-10-01         14.5232153
5  2002-01-01         16.2559967
6  2002-04-01         19.3102584
7  2002-07-01         15.9198290
8  2002-10-01         17.4400953
9  2003-01-01         19.2828520
10 2003-04-01         20.5321091
11 2003-07-01         23.7161261
12 2003-10-01         25.3291868
13 2004-01-01         25.4441372
14 2004-04-01         26.6743983
15 2004-07-01         28.4701130
16 2004-10-01         30.2651752
17 2005-01-01         31.7642444
18 2005-04-01         31.5552098
19 2005-07-01         35.2994757
20 2005-10-01         41.2263581
21 2006-01-01         47.1939634
22 2006-04-01         72.2233454
23 2006-07-01         78.2391795
24 2006-10-01          2.2997041
25 2007-01-01          0.5381803
26 2007-04-01          7.7181437
27 2007-07-01          4.3531106
28 2007-10-01          6.4741528
29 2008-01-01          9.6133425
30 2008-04-01         11.3499456
31 2008-07-01          5.5449965
32 2008-10-01         36.6527910
33 2009-01-01         28.5021354
34 2009-04-01         36.0479221
35 2009-07-01         49.9044333
36 2009-10-01         62.6653687
37 2010-01-01         73.2650080
38 2010-04-01         78.0720108
39 2010-07-01         76.2052788
40 2010-10-01          7.4050045
41 2011-01-01         12.1817367
42 2011-04-01         10.3296393
43 2011-07-01         10.2023237
44 2011-10-01         77.0140199
45 2012-01-01          2.4304804
46 2012-04-01         75.6979969
47 2012-07-01         70.8120108
48 2012-10-01         72.6282165
49 2013-01-01         80.0741309
50 2013-04-01         67.8102037
51 2013-07-01         67.3349683
52 2013-10-01         68.3627564
53 2014-01-01         63.7719611
54 2014-04-01         60.7969367
55 2014-07-01         64.8307938
56 2014-10-01         57.4430368
57 2015-01-01         47.1654142
58 2015-04-01         43.5703428
59 2015-07-01         39.5923272
60 2015-10-01         33.8622043
61 2016-01-01         33.0727110
62 2016-04-01         37.2616804
63 2016-07-01         38.6629851
64 2016-10-01         43.4000915
65 2017-01-01         50.6654365
66 2017-04-01         43.8858151
67 2017-07-01         57.0926819
68 2017-10-01         60.7627909
69 2018-01-01         66.1307098
70 2018-04-01         62.6905159
71 2018-07-01         54.5286840
72 2018-10-01         52.9521056
73 2019-01-01         54.6663106
74 2019-04-01         54.6814161
75 2019-07-01         53.7982243
76 2019-10-01         51.9784111
77 2020-01-01         46.4667939

## Preprocessing the predictors non-opec supply change: del_supply_nonopec
This data is in quarterly format

In [55]:
del_supply_nonopec = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'del_nonopec_supply', usecols= "A, B"))
del_supply_nonopecsupply = del_supply_nonopec.dropna()
del_supply_nonopec['Date'] = pd.to_datetime(del_supply_nonopec['Date'], format = "mixed")
del_supply_nonopec = del_supply_nonopec.set_index('Date')
del_supply_nonopec.rename(columns = {"non-OPEC Production change": "del_supply_nonopec"}, inplace = True)
del_supply_nonopec = del_supply_nonopec['2001-01-01' : '2020-12-31']
print(del_supply_nonopec)

            del_supply_nonopec
Date
2001-01-01                0.72
2001-04-01                0.48
2001-07-01                0.59
2001-10-01                0.64
2002-01-01                0.80
...                        ...
2019-10-01                1.84
2020-01-01                2.45
2020-04-01               -3.94
2020-07-01               -3.88
2020-10-01               -4.61

[80 rows x 1 columns]

In [56]:
%%R -i del_supply_nonopec

del_supply_nonopec_r <- ts(del_supply_nonopec, start = 2001, end = 2020, frequency =4)
del_supply_nonopec_r <-  as.data.frame(as_tibble(seas(del_supply_nonopec_r, x11= "",)))
del_supply_nonopec_r <-  del_supply_nonopec_r[-c(3:7)]
colnames(del_supply_nonopec_r)[1] = "Date"
colnames(del_supply_nonopec_r)[2] = "del_supply_nonopec_sea"
print(del_supply_nonopec_r)

         Date del_supply_nonopec_sea
1  2001-01-01             0.89337006
2  2001-04-01             0.20299863
3  2001-07-01             0.62384077
4  2001-10-01             0.70643870
5  2002-01-01             0.97886550
6  2002-04-01             1.27805106
7  2002-07-01             0.78275214
8  2002-10-01             0.79825216
9  2003-01-01             1.31299273
10 2003-04-01             0.01710566
11 2003-07-01             1.33465864
12 2003-10-01             1.66313169
13 2004-01-01             1.34894735
14 2004-04-01             1.46919683
15 2004-07-01             0.92936445
16 2004-10-01             0.52164498
17 2005-01-01             0.28445154
18 2005-04-01             0.31987048
19 2005-07-01            -0.27163155
20 2005-10-01            -0.73607636
21 2006-01-01            -0.03375998
22 2006-04-01            -0.63593351
23 2006-07-01             1.26740101
24 2006-10-01             1.04128926
25 2007-01-01             0.68638726
26 2007-04-01             0.42383631
27 2007-07-01            -0.10814792
28 2007-10-01             0.10788880
29 2008-01-01             0.12941162
30 2008-04-01            -0.14816017
31 2008-07-01            -0.06876876
32 2008-10-01            -0.02719358
33 2009-01-01             0.31166277
34 2009-04-01             0.46720159
35 2009-07-01             1.40717147
36 2009-10-01             1.34344734
37 2010-01-01             1.67866319
38 2010-04-01             1.85907040
39 2010-07-01             1.70067411
40 2010-10-01             1.73704979
41 2011-01-01             0.96989187
42 2011-04-01             0.23584970
43 2011-07-01             0.27097332
44 2011-10-01             0.27487436
45 2012-01-01             0.84669997
46 2012-04-01             0.69756225
47 2012-07-01             0.52279727
48 2012-10-01             1.16798390
49 2013-01-01             0.59058090
50 2013-04-01             1.57311823
51 2013-07-01             2.36299844
52 2013-10-01             1.96016401
53 2014-01-01             2.31087769
54 2014-04-01             2.62574648
55 2014-07-01             2.34710213
56 2014-10-01             2.80020942
57 2015-01-01             2.41682345
58 2015-04-01             1.61557221
59 2015-07-01             1.40728495
60 2015-10-01             0.42219308
61 2016-01-01            -0.08663356
62 2016-04-01            -0.89463937
63 2016-07-01            -1.14170065
64 2016-10-01            -0.51763467
65 2017-01-01            -0.03349848
66 2017-04-01             0.95772517
67 2017-07-01             1.05152520
68 2017-10-01             1.03761721
69 2018-01-01             1.70451759
70 2018-04-01             2.58547983
71 2018-07-01             3.48633490
72 2018-10-01             3.53912868
73 2019-01-01             2.29213287
74 2019-04-01             2.12916272
75 2019-07-01             1.54459985
76 2019-10-01             1.85482581
77 2020-01-01             2.39113981

## Preprocessing 2 predictors at once: capacity change nonopec, world gdp
These variables are in quarterly format

In [57]:
two_x_2 = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'capacity', usecols= "A, C, D"))
two_x_2 = two_x_2.dropna()
two_x_2['Date'] = pd.to_datetime(two_x_2['Date'], format ="mixed")
two_x_2 = two_x_2.set_index('Date')
two_x_2.rename(columns = {"Capacity percent change": "del_cap_per", "World GDP Change": "del_world_gdp_per"}, inplace = True)
two_x_2 = two_x_2['2001-01-01' : '2020-12-31']
print(two_x_2)

            del_cap_per  del_world_gdp_per
Date
2001-01-01         1.15               3.40
2001-04-01         0.85               2.60
2001-07-01         0.98               2.10
2001-10-01         1.04               1.80
2002-01-01         0.84               2.19
...                 ...                ...
2019-10-01         0.58               2.42
2020-01-01         1.45              -1.42
2020-04-01        -4.93              -8.45
2020-07-01        -4.35              -2.09
2020-10-01        -4.69              -0.22

[80 rows x 2 columns]

In [58]:
%%R -i two_x_2

two_x_2_del_cap_per_r <- two_x_2[1]
two_x_2_del_cap_per_r <- ts(two_x_2_del_cap_per_r, start = 2001, end = 2020, frequency =4)
two_x_2_del_cap_per_r <-  as.data.frame(as_tibble(seas(two_x_2_del_cap_per_r, x11= "",)))
two_x_2_del_cap_per_r <-  two_x_2_del_cap_per_r[-c(3:7)]
colnames(two_x_2_del_cap_per_r)[1] = "Date"
colnames(two_x_2_del_cap_per_r)[2] = "del_cap_per_sea"
print(two_x_2_del_cap_per_r)

         Date del_cap_per_sea
1  2001-01-01      1.08709771
2  2001-04-01      0.54368986
3  2001-07-01      1.19535832
4  2001-10-01      0.95939858
5  2002-01-01      1.18842473
6  2002-04-01      1.48793820
7  2002-07-01      0.59264199
8  2002-10-01      0.07991948
9  2003-01-01     -1.97546714
10 2003-04-01     -4.36795427
11 2003-07-01     -1.49609715
12 2003-10-01      1.08381221
13 2004-01-01      3.69575982
14 2004-04-01      5.07373334
15 2004-07-01      3.41479073
16 2004-10-01      1.52274411
17 2005-01-01      1.23037164
18 2005-04-01      1.74614421
19 2005-07-01      1.23168857
20 2005-10-01      0.49775587
21 2006-01-01      0.03606951
22 2006-04-01     -0.87522879
23 2006-07-01      1.49846667
24 2006-10-01      1.46858812
25 2007-01-01      0.93585769
26 2007-04-01      0.77825356
27 2007-07-01      0.08696961
28 2007-10-01      0.44359545
29 2008-01-01      1.03315418
30 2008-04-01      0.67564336
31 2008-07-01      0.80259161
32 2008-10-01      0.52287136
33 2009-01-01      0.40444410
34 2009-04-01      0.60511240
35 2009-07-01      2.83317103
36 2009-10-01      3.79440759
37 2010-01-01      4.15088205
38 2010-04-01      4.36427320
39 2010-07-01      3.08967341
40 2010-10-01      2.27247681
41 2011-01-01      0.68819624
42 2011-04-01     -1.72908289
43 2011-07-01     -1.18908477
44 2011-10-01     -0.64374306
45 2012-01-01      0.39915712
46 2012-04-01      1.66493296
47 2012-07-01      1.22546376
48 2012-10-01      0.73305476
49 2013-01-01      0.38070148
50 2013-04-01      0.84315054
51 2013-07-01      0.97005659
52 2013-10-01      0.63461274
53 2014-01-01      1.62069961
54 2014-04-01      1.67377677
55 2014-07-01      2.75642301
56 2014-10-01      4.20938798
57 2015-01-01      3.01284494
58 2015-04-01      2.56616290
59 2015-07-01      2.20421290
60 2015-10-01      1.18084352
61 2016-01-01      0.84127151
62 2016-04-01     -0.26054525
63 2016-07-01     -0.99132731
64 2016-10-01      0.29417728
65 2017-01-01      0.62470629
66 2017-04-01      1.75402407
67 2017-07-01      2.32658282
68 2017-10-01      1.79858423
69 2018-01-01      1.67928155
70 2018-04-01      2.11433986
71 2018-07-01      2.31943565
72 2018-10-01      1.87411631
73 2019-01-01      1.36338152
74 2019-04-01      1.05585034
75 2019-07-01     -0.70498804
76 2019-10-01      0.63478207
77 2020-01-01      1.23564229

In [59]:
%%R -i two_x_2

two_x_2_del_world_gdp_per_r <- two_x_2[1]
two_x_2_del_world_gdp_per_r <- ts(two_x_2_del_world_gdp_per_r, start = 2001, end = 2020, frequency =4)
two_x_2_del_world_gdp_per_r <-  as.data.frame(as_tibble(seas(two_x_2_del_world_gdp_per_r, x11= "",)))
two_x_2_del_world_gdp_per_r <-  two_x_2_del_world_gdp_per_r[-c(3:7)]
colnames(two_x_2_del_world_gdp_per_r)[1] = "Date"
colnames(two_x_2_del_world_gdp_per_r)[2] = "del_world_gdp_per_sea"
print(two_x_2_del_world_gdp_per_r)

         Date del_world_gdp_per_sea
1  2001-01-01            1.08709771
2  2001-04-01            0.54368986
3  2001-07-01            1.19535832
4  2001-10-01            0.95939858
5  2002-01-01            1.18842473
6  2002-04-01            1.48793820
7  2002-07-01            0.59264199
8  2002-10-01            0.07991948
9  2003-01-01           -1.97546714
10 2003-04-01           -4.36795427
11 2003-07-01           -1.49609715
12 2003-10-01            1.08381221
13 2004-01-01            3.69575982
14 2004-04-01            5.07373334
15 2004-07-01            3.41479073
16 2004-10-01            1.52274411
17 2005-01-01            1.23037164
18 2005-04-01            1.74614421
19 2005-07-01            1.23168857
20 2005-10-01            0.49775587
21 2006-01-01            0.03606951
22 2006-04-01           -0.87522879
23 2006-07-01            1.49846667
24 2006-10-01            1.46858812
25 2007-01-01            0.93585769
26 2007-04-01            0.77825356
27 2007-07-01            0.08696961
28 2007-10-01            0.44359545
29 2008-01-01            1.03315418
30 2008-04-01            0.67564336
31 2008-07-01            0.80259161
32 2008-10-01            0.52287136
33 2009-01-01            0.40444410
34 2009-04-01            0.60511240
35 2009-07-01            2.83317103
36 2009-10-01            3.79440759
37 2010-01-01            4.15088205
38 2010-04-01            4.36427320
39 2010-07-01            3.08967341
40 2010-10-01            2.27247681
41 2011-01-01            0.68819624
42 2011-04-01           -1.72908289
43 2011-07-01           -1.18908477
44 2011-10-01           -0.64374306
45 2012-01-01            0.39915712
46 2012-04-01            1.66493296
47 2012-07-01            1.22546376
48 2012-10-01            0.73305476
49 2013-01-01            0.38070148
50 2013-04-01            0.84315054
51 2013-07-01            0.97005659
52 2013-10-01            0.63461274
53 2014-01-01            1.62069961
54 2014-04-01            1.67377677
55 2014-07-01            2.75642301
56 2014-10-01            4.20938798
57 2015-01-01            3.01284494
58 2015-04-01            2.56616290
59 2015-07-01            2.20421290
60 2015-10-01            1.18084352
61 2016-01-01            0.84127151
62 2016-04-01           -0.26054525
63 2016-07-01           -0.99132731
64 2016-10-01            0.29417728
65 2017-01-01            0.62470629
66 2017-04-01            1.75402407
67 2017-07-01            2.32658282
68 2017-10-01            1.79858423
69 2018-01-01            1.67928155
70 2018-04-01            2.11433986
71 2018-07-01            2.31943565
72 2018-10-01            1.87411631
73 2019-01-01            1.36338152
74 2019-04-01            1.05585034
75 2019-07-01           -0.70498804
76 2019-10-01            0.63478207
77 2020-01-01            1.23564229

## Preprocessing the predictors- change in saudi supply: del_supply_saudi
This data is in quarterly format

In [60]:
del_supply_saudi = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'saudi_production', usecols= "A, C"))
del_supply_saudi = del_supply_saudi.dropna()
del_supply_saudi['Date'] = pd.to_datetime(del_supply_saudi['Date'], format ="mixed")
del_supply_saudi = del_supply_saudi.set_index('Date')
del_supply_saudi.rename(columns = {"Saudi Production Change": "del_supply_saudi",}, inplace = True)
del_supply_saudi = del_supply_saudi['2001-01-01' : '2020-12-31']
print(del_supply_saudi)

            del_supply_saudi
Date
2001-01-01              0.58
2001-04-01             -0.18
2001-07-01             -0.68
2001-10-01             -1.19
2002-01-01             -1.17
...                      ...
2019-10-01             -0.90
2020-01-01             -0.20
2020-04-01             -0.64
2020-07-01             -0.61
2020-10-01             -0.82

[80 rows x 1 columns]

In [61]:
%%R -i del_supply_saudi

del_supply_saudi_r <- ts(del_supply_saudi, start = 2001, end = 2020, frequency =4)
del_supply_saudi_r <-  as.data.frame(as_tibble(seas(del_supply_saudi_r, x11= "",)))
del_supply_saudi_r <-  del_supply_saudi_r[-c(3:7)]
colnames(del_supply_saudi_r)[1] = "Date"
colnames(del_supply_saudi_r)[2] = "del_supply_saudi_sea"
print(del_supply_saudi_r)

         Date del_supply_saudi_sea
1  2001-01-01           0.52685583
2  2001-04-01          -0.29882032
3  2001-07-01          -0.58578676
4  2001-10-01          -1.11894590
5  2002-01-01          -1.21822405
6  2002-04-01          -0.63867544
7  2002-07-01          -0.18042683
8  2002-10-01           0.42734850
9  2003-01-01           1.57767028
10 2003-04-01           1.59930095
11 2003-07-01           0.82671160
12 2003-10-01           0.56260493
13 2004-01-01          -0.32852712
14 2004-04-01          -0.43899026
15 2004-07-01           1.04508389
16 2004-10-01           1.00081785
17 2005-01-01           0.88410030
18 2005-04-01           0.72899706
19 2005-07-01           0.15664079
20 2005-10-01           0.02380728
21 2006-01-01          -0.10491067
22 2006-04-01          -0.43509454
23 2006-07-01          -0.35010874
24 2006-10-01          -0.70904855
25 2007-01-01          -0.77132077
26 2007-04-01          -0.65650788
27 2007-07-01          -0.50179105
28 2007-10-01           0.18269382
29 2008-01-01           0.53849917
30 2008-04-01           0.70472720
31 2008-07-01           0.92044302
32 2008-10-01          -0.01628723
33 2009-01-01          -1.14307512
34 2009-04-01          -1.19359528
35 2009-07-01          -1.16172746
36 2009-10-01          -0.66801116
37 2010-01-01           0.05168604
38 2010-04-01           0.02721232
39 2010-07-01          -0.21078363
40 2010-10-01          -0.03547901
41 2011-01-01           0.72464377
42 2011-04-01           0.97460196
43 2011-07-01           1.62862990
44 2011-10-01           1.48686528
45 2012-01-01           1.02246288
46 2012-04-01           0.71930747
47 2012-07-01           0.11506614
48 2012-10-01          -0.20372202
49 2013-01-01          -0.85926049
50 2013-04-01          -0.23958650
51 2013-07-01           0.21881080
52 2013-10-01           0.30561404
53 2014-01-01           0.67402850
54 2014-04-01           0.05774141
55 2014-07-01          -0.36871706
56 2014-10-01          -0.18453454
57 2015-01-01          -0.01849823
58 2015-04-01           0.64148316
59 2015-07-01           0.62793242
60 2015-10-01           0.47453292
61 2016-01-01           0.37549979
62 2016-04-01           0.06128105
63 2016-07-01           0.35087012
64 2016-10-01           0.39699639
65 2017-01-01          -0.25602778
66 2017-04-01          -0.22148408
67 2017-07-01          -0.37728071
68 2017-10-01          -0.46311177
69 2018-01-01           0.08726356
70 2018-04-01           0.13438917
71 2018-07-01           0.34354456
72 2018-10-01           0.60517587
73 2019-01-01          -0.15730686
74 2019-04-01          -0.24901350
75 2019-07-01          -1.05783601
76 2019-10-01          -0.92507507
77 2020-01-01          -0.25045052

## Preprocessing the predictors-  opec spare capacity: opec_spare_capacity
This data is in quarterly format

In [62]:
opec_spare_capacity = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'opec_spare_capacity', usecols= "A, C"))
opec_spare_capacity = opec_spare_capacity.dropna()
opec_spare_capacity['Date'] = pd.to_datetime(opec_spare_capacity['Date'], format ="mixed")
opec_spare_capacity = opec_spare_capacity.set_index('Date')
opec_spare_capacity.rename(columns = {"Spare Capacity": "opec_spare_capacity",}, inplace = True)
opec_spare_capacity = opec_spare_capacity['2001-01-01' : '2020-12-31']
print(opec_spare_capacity)

            opec_spare_capacity
Date
2001-01-01                 3.63
2001-04-01                 4.65
2001-07-01                 4.44
2001-10-01                 5.21
2002-01-01                 6.10
...                         ...
2019-10-01                 2.07
2020-01-01                 2.78
2020-04-01                 5.49
2020-07-01                 6.98
2020-10-01                 6.22

[80 rows x 1 columns]

In [63]:
%%R -i opec_spare_capacity

opec_spare_capacity_r <- ts(opec_spare_capacity, start = 2001, end = 2020, frequency =4)
opec_spare_capacity_r <-  as.data.frame(as_tibble(seas(opec_spare_capacity_r, x11= "",)))
opec_spare_capacity_r <-  opec_spare_capacity_r[-c(3:7)]
colnames(opec_spare_capacity_r)[1] = "Date"
colnames(opec_spare_capacity_r)[2] = "opec_spare_capacity_sea"
print(opec_spare_capacity_r)

         Date opec_spare_capacity_sea
1  2001-01-01               3.8956098
2  2001-04-01               4.4720646
3  2001-07-01               4.4941437
4  2001-10-01               5.0751301
5  2002-01-01               6.4185020
6  2002-04-01               6.4013446
7  2002-07-01               6.0098479
8  2002-10-01               4.4520351
9  2003-01-01               2.0835591
10 2003-04-01               1.3122587
11 2003-07-01               2.3294767
12 2003-10-01               1.9993252
13 2004-01-01               1.8491188
14 2004-04-01               1.5845261
15 2004-07-01               0.7469095
16 2004-10-01               0.6962043
17 2005-01-01               1.0488011
18 2005-04-01               0.9760332
19 2005-07-01               1.0272096
20 2005-10-01               1.0192403
21 2006-01-01               1.0509489
22 2006-04-01               1.2786497
23 2006-07-01               1.4850583
24 2006-10-01               2.0407671
25 2007-01-01               2.1387747
26 2007-04-01               2.1626983
27 2007-07-01               2.2929807
28 2007-10-01               1.6759449
29 2008-01-01               1.4100068
30 2008-04-01               1.3548784
31 2008-07-01               1.2598535
32 2008-10-01               2.0122657
33 2009-01-01               3.5681129
34 2009-04-01               3.7401413
35 2009-07-01               4.6983996
36 2009-10-01               4.8551108
37 2010-01-01               4.9495947
38 2010-04-01               5.3620720
39 2010-07-01               5.7259011
40 2010-10-01               5.2097726
41 2011-01-01               4.2891295
42 2011-04-01               3.8552539
43 2011-07-01               3.4305760
44 2011-10-01               3.2047617
45 2012-01-01               2.5579122
46 2012-04-01               2.5799406
47 2012-07-01               2.6666368
48 2012-10-01               2.7640456
49 2013-01-01               3.1441229
50 2013-04-01               2.7911885
51 2013-07-01               2.4538797
52 2013-10-01               2.5109498
53 2014-01-01               2.3538533
54 2014-04-01               2.5775438
55 2014-07-01               2.6636911
56 2014-10-01               2.3188681
57 2015-01-01               2.0870432
58 2015-04-01               1.5803323
59 2015-07-01               1.6365483
60 2015-10-01               1.6474122
61 2016-01-01               1.6112299
62 2016-04-01               1.5134147
63 2016-07-01               1.2857892
64 2016-10-01               1.2513828
65 2017-01-01               2.3233715
66 2017-04-01               2.1548112
67 2017-07-01               2.2337067
68 2017-10-01               2.3570812
69 2018-01-01               1.8062448
70 2018-04-01               1.6592674
71 2018-07-01               1.3784353
72 2018-10-01               1.0074377
73 2019-01-01               2.2074566
74 2019-04-01               2.2398873
75 2019-07-01               2.3269700
76 2019-10-01               2.2265119
77 2020-01-01               2.8258951

## Preprocessing the predictors-  oecd inventory: oecd_inventory
This is a monthly data, we have to calculate the quaterly mean

In [64]:
oecd_inventory = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'oecd_inventory', usecols= "A, B"))
oecd_inventory = oecd_inventory.dropna()
oecd_inventory['Date'] = pd.to_datetime(oecd_inventory['Date'], format ="mixed")
oecd_inventory = oecd_inventory.set_index('Date')
oecd_inventory = oecd_inventory.resample('QS').mean()
oecd_inventory = oecd_inventory['2001-01-01' : '2020-12-31']
print(oecd_inventory)

            oecd_inventory
Date
2001-01-01     3819.207000
2001-04-01     3890.611667
2001-07-01     3929.645333
2001-10-01     3963.919000
2002-01-01     3962.906333
...                    ...
2019-10-01     4413.825366
2020-01-01     4456.016624
2020-04-01     4736.158983
2020-07-01     4763.088421
2020-10-01     4630.883993

[80 rows x 1 columns]

In [65]:
%%R -i oecd_inventory

oecd_inventory_r <- ts(oecd_inventory, start = 2001, end = 2020, frequency =4)
oecd_inventory_r <-  as.data.frame(as_tibble(seas(oecd_inventory_r, x11= "",)))
oecd_inventory_r <-  oecd_inventory_r[-c(3:7)]
colnames(oecd_inventory_r)[1] = "Date"
colnames(oecd_inventory_r)[2] = "oecd_inventory_sea"
print(oecd_inventory_r)

         Date oecd_inventory_sea
1  2001-01-01           3865.995
2  2001-04-01           3890.157
3  2001-07-01           3895.076
4  2001-10-01           3951.387
5  2002-01-01           4001.717
6  2002-04-01           3986.876
7  2002-07-01           3936.663
8  2002-10-01           3889.460
9  2003-01-01           3842.681
10 2003-04-01           3893.131
11 2003-07-01           3957.243
12 2003-10-01           3970.773
13 2004-01-01           3983.933
14 2004-04-01           3975.366
15 2004-07-01           4006.655
16 2004-10-01           4047.088
17 2005-01-01           4068.151
18 2005-04-01           4123.670
19 2005-07-01           4115.476
20 2005-10-01           4142.071
21 2006-01-01           4165.278
22 2006-04-01           4154.742
23 2006-07-01           4213.074
24 2006-10-01           4224.966
25 2007-01-01           4186.772
26 2007-04-01           4167.444
27 2007-07-01           4154.085
28 2007-10-01           4119.699
29 2008-01-01           4131.935
30 2008-04-01           4117.482
31 2008-07-01           4148.503
32 2008-10-01           4214.400
33 2009-01-01           4299.564
34 2009-04-01           4300.387
35 2009-07-01           4300.867
36 2009-10-01           4282.469
37 2010-01-01           4282.038
38 2010-04-01           4296.495
39 2010-07-01           4289.836
40 2010-10-01           4290.718
41 2011-01-01           4256.014
42 2011-04-01           4226.741
43 2011-07-01           4183.943
44 2011-10-01           4166.812
45 2012-01-01           4192.273
46 2012-04-01           4189.311
47 2012-07-01           4214.300
48 2012-10-01           4219.780
49 2013-01-01           4228.225
50 2013-04-01           4214.309
51 2013-07-01           4207.150
52 2013-10-01           4190.426
53 2014-01-01           4165.222
54 2014-04-01           4193.134
55 2014-07-01           4238.062
56 2014-10-01           4285.454
57 2015-01-01           4336.384
58 2015-04-01           4417.088
59 2015-07-01           4466.762
60 2015-10-01           4558.240
61 2016-01-01           4627.077
62 2016-04-01           4646.913
63 2016-07-01           4665.414
64 2016-10-01           4650.662
65 2017-01-01           4669.763
66 2017-04-01           4622.930
67 2017-07-01           4551.349
68 2017-10-01           4475.443
69 2018-01-01           4413.000
70 2018-04-01           4383.743
71 2018-07-01           4388.058
72 2018-10-01           4424.613
73 2019-01-01           4429.834
74 2019-04-01           4441.227
75 2019-07-01           4459.418
76 2019-10-01           4434.269
77 2020-01-01           4470.038

## Preprocessing the predictors-  change in world oil consumption - del_world_consump
This is a quarterly data

In [66]:
del_world_consump = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'world_consumption', usecols= "A, B"))
del_world_consump = del_world_consump.dropna()
del_world_consump['Date'] = pd.to_datetime(del_world_consump['Date'], format ="mixed")
del_world_consump = del_world_consump.set_index('Date')
del_world_consump.rename(columns = {"World Consumption Change": "del_world_consump",}, inplace = True)
del_world_consump = del_world_consump['2001-01-01' : '2020-12-31']
print(del_world_consump)

            del_world_consump
Date
2001-01-01               0.75
2001-04-01              -0.14
2001-07-01               0.63
2001-10-01               1.48
2002-01-01               2.52
...                       ...
2019-10-01              -9.22
2020-01-01              -7.87
2020-04-01               0.27
2020-07-01              11.34
2020-10-01               6.49

[80 rows x 1 columns]

In [67]:
%%R -i del_world_consump

del_world_consump_r <- ts(del_world_consump, start = 2001, end = 2020, frequency =4)
del_world_consump_r <-  as.data.frame(as_tibble(seas(del_world_consump_r, x11= "",)))
del_world_consump_r <-  del_world_consump_r[-c(3:7)]
colnames(del_world_consump_r)[1] = "Date"
colnames(del_world_consump_r)[2] = "del_world_consump_sea"
print(del_world_consump_r)

         Date del_world_consump_sea
1  2001-01-01            0.64497017
2  2001-04-01           -0.04233482
3  2001-07-01            0.64109618
4  2001-10-01            1.47240784
5  2002-01-01            2.40826248
6  2002-04-01            2.84399543
7  2002-07-01            1.52138807
8  2002-10-01            1.94756249
9  2003-01-01            1.98664771
10 2003-04-01            3.20870390
11 2003-07-01            4.70810131
12 2003-10-01            4.20822958
13 2004-01-01            3.65468502
14 2004-04-01            3.14714431
15 2004-07-01            1.87950646
16 2004-10-01            1.37000828
17 2005-01-01           -0.49606257
18 2005-04-01            0.93641058
19 2005-07-01            0.78680649
20 2005-10-01            1.41812104
21 2006-01-01            2.11522157
22 2006-04-01            1.53796053
23 2006-07-01            2.30402110
24 2006-10-01            1.64232088
25 2007-01-01            2.29537588
26 2007-04-01            0.97334917
27 2007-07-01            0.80870137
28 2007-10-01           -0.99753736
29 2008-01-01           -3.41034584
30 2008-04-01           -3.00672991
31 2008-07-01           -2.20223367
32 2008-10-01           -0.14637963
33 2009-01-01            1.55638009
34 2009-04-01            2.52970170
35 2009-07-01            3.16034316
36 2009-10-01            3.47324409
37 2010-01-01            3.72130246
38 2010-04-01            2.29172546
39 2010-07-01            0.00585673
40 2010-10-01            0.34046139
41 2011-01-01            0.13885739
42 2011-04-01            1.03295894
43 2011-07-01            1.76479106
44 2011-10-01            0.82643034
45 2012-01-01            2.06823394
46 2012-04-01            1.90273248
47 2012-07-01            1.96906530
48 2012-10-01            1.72405013
49 2013-01-01            1.03792580
50 2013-04-01            1.65760141
51 2013-07-01            1.65184813
52 2013-10-01            1.60599574
53 2014-01-01            1.84444476
54 2014-04-01            1.56830287
55 2014-07-01            1.97434529
56 2014-10-01            2.57823298
57 2015-01-01            1.57584285
58 2015-04-01            2.02634018
59 2015-07-01            1.57618975
60 2015-10-01            0.91557553
61 2016-01-01            1.67345873
62 2016-04-01            1.21776988
63 2016-07-01            2.66362534
64 2016-10-01            2.20226243
65 2017-01-01            2.53899030
66 2017-04-01            1.92587397
67 2017-07-01            0.49263341
68 2017-10-01            1.29503094
69 2018-01-01            0.36528492
70 2018-04-01            0.50619228
71 2018-07-01            0.80490600
72 2018-10-01            1.03400009
73 2019-01-01            1.00256997
74 2019-04-01           -6.27110566
75 2019-07-01          -13.72042511
76 2019-10-01           -9.09845976
77 2020-01-01           -7.83607141

## Merging all the dataframes to create our dataset: seasonality unadjusted, python output

In [68]:
dat = pd.DataFrame(nm_oil_price.merge(wti_spot_price, on = 'Date').merge(brent_spot_price, on = 'Date').merge(dubai_price, on = 'Date')\
.merge(index_china_gdp, on = 'Date').merge(index_us_gdp, on = 'Date').merge(index_cboe_volt, on = 'Date')\
.merge(us_unemploy, on = 'Date').merge(index_ip_mining, on = 'Date').merge(index_cpi_china, on = 'Date').merge(two_x, on = 'Date').merge(index_cpi_us, on = 'Date')\
.merge(three_x, on = 'Date').merge(del_supply_nonopec, on = 'Date').merge(two_x_2, on = 'Date').merge(del_supply_saudi, on = 'Date')\
.merge(opec_spare_capacity, on = 'Date').merge(oecd_inventory, on = 'Date').merge(del_world_consump, on = 'Date'))

file_name = r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Outputs\dat.csv'
dat.to_csv(file_name)

## Merging all the dataframes to create our dataset: seasonality adjusted, R output

In [69]:
%%R

dat_sea <- merge(nm_oil_price_r, wti_spot_price_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, brent_spot_price_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, dubai_price_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_china_gdp_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_us_gdp_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_cboe_volt_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, us_unemploy_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_ip_mining_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_cpi_china_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, two_x_opec_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, two_x_non_opec_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_cpi_us_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, three_x_index_energy_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, three_x_index_metal_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, three_x_index_precious_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, del_supply_nonopec_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, two_x_2_del_cap_per_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, two_x_2_del_world_gdp_per_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, del_supply_saudi_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, opec_spare_capacity_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, oecd_inventory_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, del_world_consump_r, by = "Date",  all.x = TRUE)

# Using openxlsx
suppressPackageStartupMessages(library(openxlsx))

OUT <- createWorkbook()

## adding some worksheet to the workbook OUT

addWorksheet(OUT, "dat_sea")

## Writing the data to the worksheets

writeData(OUT, sheet = "dat_sea", x = dat_sea)

                      
# Exporting the file

saveWorkbook(OUT, "C:/Users/asifr/OneDrive - State of New Mexico/Documents/Project Oil Price/Outputs/dat_sea.xlsx", overwrite = TRUE)