# Note: This script will require both Python and R kernals

# Setting up the environment

## Setting up python and R environment, and loading python packages

In [1]:
import pandas as pd # load and manipulate data for One-Hot ncoding
import numpy as np # calculate the mean and std. dev. 
import matplotlib.pyplot as plt # to plot figures
plt.style.use("fivethirtyeight")
# !pip install --upgrade jedi==0.17.2

## Setting up environments to run R in Jupyter

import os
os.environ['R_HOME'] = r'C:\Program Files\R\R-4.3.1'
os.environ['X13_PATH'] = r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\x13as_html-v1-1-b60\x13as'

x13path = None
x13path = r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\x13as_html-v1-1-b60\x13as'

r_home = os.environ.get("R_HOME")
print('R_HOME:', r_home)

x13_path = os.environ.get("X13_PATH")
print('X13_PATHs:', x13_path, ' | ', x13path)

## Setting up R

print('Set up RPY2')

#!pip install rpy2 --quiet
import rpy2
import rpy2.robjects as ro
import rpy2.rinterface as ri
from rpy2.robjects import r

# Extra RPY2 items

from rpy2.robjects.packages import importr
from rpy2.robjects import pandas2ri
from rpy2.robjects.vectors import IntVector, FloatVector
import rpy2.ipython.html
import rpy2.robjects.lib.ggplot2 as gp
from rpy2.ipython.ggplot import image_png
import rpy2.rinterface as rinterface

#rinterface.initr()
pandas2ri.activate()

%load_ext rpy2.ipython

R_HOME: C:\Program Files\R\R-4.3.1
X13_PATHs: C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\x13as_html-v1-1-b60\x13as  |  C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\x13as_html-v1-1-b60\x13as
Set up RPY2

C:\Users\asifr\AppData\Local\anaconda3\Lib\site-packages\rpy2\robjects\packages.py:367: UserWarning: The symbol 'quartz' is not in this R namespace/package.
  warnings.warn(
C:\Users\asifr\AppData\Local\anaconda3\Lib\site-packages\rpy2\robjects\lib\ggplot2.py:70: UserWarning: This was designed againt ggplot2 versions starting with 3.3. but you have 3.4.2
  warnings.warn(

## Loading R packages

In [2]:
%%R

# install.packages("seasonal")
# install.packages("seasonalview")

library(reshape2)
library(lubridate)
library(tidyr)
library(shiny)
library(ggplot2)
library(forecast)
library(dplyr)
library(ggfortify)
suppressPackageStartupMessages(library(Microsoft365R))
suppressPackageStartupMessages(library(strucchange))
suppressPackageStartupMessages(library(tseries))
suppressPackageStartupMessages(library(openxlsx))

## Packages to interface with x13-SEATS
library(seasonal)
library(seasonalview)
suppressPackageStartupMessages(library(readr))
## Check seasonal library
checkX13()

Attaching package: 'lubridate'

The following objects are masked from 'package:base':

    date, intersect, setdiff, union


Attaching package: 'tidyr'

The following object is masked from 'package:reshape2':

    smiths

Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo
This is forecast 8.21
  Want to stay up-to-date? Read the Hyndsight blog:
  https://robjhyndman.com/hyndsight/

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Registered S3 methods overwritten by 'ggfortify':
  method                 from
  autoplot.Arima         forecast
  autoplot.acf           forecast
  autoplot.ar            forecast
  autoplot.bats          forecast
  autoplot.decomposed.ts forecast
  autoplot.ets           forecast
  autoplot.forecast      forecast
  autoplot.stl           forecast
  autoplot.ts            forecast
  fitted.ar              forecast
  fortify.ts             forecast
  residuals.ar           forecast
The system variable 'X13_PATH' has been manually set to:
  C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\x13as_html-v1-1-b60\x13as
Since version 1.2, 'seasonal' relies on the 'x13binary'
package and does not require 'X13_PATH' to be set anymore.
Only set 'X13_PATH' manually if you intend to use your own
binaries. See ?seasonal for details.

Attaching package: 'seasonalview'

The following object is masked from 'package:seasonal':

    view

X-13 installation test:
  - X13_PATH correctly specified
  - binary executable file found
  - command line test run successful
  - command line test produced HTML output
  - seasonal test run successful
Congratulations! 'seasonal' should work fine!

# Step 01: Preparing the dataset

## Preprocessing the dependent variable: nm_oil_price

### - Loading the data

In [3]:
nm_oil_price = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'nm_oil_price'))
nm_oil_price.rename(columns = {"Month": "Date", "New Mexico Crude Oil First Purchase Price Dollars per Barrel": "nm_oil_price"}, inplace = True)
nm_oil_price['Date'] = pd.to_datetime(nm_oil_price['Date'])
nm_oil_price = nm_oil_price.set_index('Date')

### - Finding quarterly average from monthly data

In [4]:
nm_oil_price = nm_oil_price.resample('QS').mean()

### - Creating a sample of twenty years period

In [5]:
nm_oil_price = nm_oil_price['2001-01-01' : '2023-06-30']
nm_oil_price_r = nm_oil_price.reset_index()
print(nm_oil_price_r)

         Date  nm_oil_price
0  2001-01-01     26.903333
1  2001-04-01     24.946667
2  2001-07-01     24.830000
3  2001-10-01     18.556667
4  2002-01-01     19.463333
..        ...           ...
85 2022-04-01    109.670000
86 2022-07-01     93.796667
87 2022-10-01     83.090000
88 2023-01-01     74.923333
89 2023-04-01     74.395000

[90 rows x 2 columns]

In [6]:
%%R -i nm_oil_price_r

nm_oil_price_r <- nm_oil_price_r
#nm_oil_price_r <- ts(nm_oil_price, start = 2001, end = 2024, frequency =4)
# nm_oil_price_r <-  as.data.frame(as_tibble(seas(nm_oil_price_r, x11= "",)))
# nm_oil_price_r <-  nm_oil_price_r[-c(3:7)]
 # colnames(nm_oil_price_r)[1] = "Date"
# colnames(nm_oil_price_r)[2] = "nm_oil_price_sea"
print(nm_oil_price_r)

         Date nm_oil_price
0  2001-01-01     26.90333
1  2001-04-01     24.94667
2  2001-07-01     24.83000
3  2001-10-01     18.55667
4  2002-01-01     19.46333
5  2002-04-01     24.35333
6  2002-07-01     26.42000
7  2002-10-01     26.47333
8  2003-01-01     32.22000
9  2003-04-01     27.71667
10 2003-07-01     28.86000
11 2003-10-01     29.20667
12 2004-01-01     33.18333
13 2004-04-01     36.41000
14 2004-07-01     41.66000
15 2004-10-01     45.53000
16 2005-01-01     46.60000
17 2005-04-01     49.16333
18 2005-07-01     59.90333
19 2005-10-01     56.45000
20 2006-01-01     58.89667
21 2006-04-01     66.04667
22 2006-07-01     66.51000
23 2006-10-01     55.54000
24 2007-01-01     54.59667
25 2007-04-01     60.43333
26 2007-07-01     71.89333
27 2007-10-01     87.81667
28 2008-01-01     94.65000
29 2008-04-01    121.00667
30 2008-07-01    115.26667
31 2008-10-01     55.46333
32 2009-01-01     36.37333
33 2009-04-01     55.35333
34 2009-07-01     64.23667
35 2009-10-01     72.25333
36 2010-01-01     74.78000
37 2010-04-01     73.91667
38 2010-07-01     72.43333
39 2010-10-01     80.98667
40 2011-01-01     88.86667
41 2011-04-01     98.17667
42 2011-07-01     85.96333
43 2011-10-01     90.79333
44 2012-01-01     98.48000
45 2012-04-01     86.13333
46 2012-07-01     87.07333
47 2012-10-01     81.36667
48 2013-01-01     83.34667
49 2013-04-01     90.39667
50 2013-07-01    101.91333
51 2013-10-01     91.86667
52 2014-01-01     92.05667
53 2014-04-01     92.46333
54 2014-07-01     86.06000
55 2014-10-01     65.22333
56 2015-01-01     43.03667
57 2015-04-01     52.31333
58 2015-07-01     43.43333
59 2015-10-01     38.14000
60 2016-01-01     29.00000
61 2016-04-01     41.08333
62 2016-07-01     41.26000
63 2016-10-01     45.59333
64 2017-01-01     48.87333
65 2017-04-01     44.53333
66 2017-07-01     44.96000
67 2017-10-01     52.49000
68 2018-01-01     60.97667
69 2018-04-01     60.49000
70 2018-07-01     55.80667
71 2018-10-01     49.00333
72 2019-01-01     48.22667
73 2019-04-01     54.93667
74 2019-07-01     53.07000
75 2019-10-01     55.32667
76 2020-01-01     45.27333
77 2020-04-01     22.18000
78 2020-07-01     38.31667
79 2020-10-01     40.05667
80 2021-01-01     56.14333
81 2021-04-01     64.47000
82 2021-07-01     69.20667
83 2021-10-01     76.17000
84 2022-01-01     94.09667
85 2022-04-01    109.67000
86 2022-07-01     93.79667
87 2022-10-01     83.09000
88 2023-01-01     74.92333
89 2023-04-01     74.39500

## Preprocessing the predictors: wti_spot_price

### - Loading the data

In [7]:
wti_spot_price = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'wti_spot'))
wti_spot_price.rename(columns = {"Month": "Date", "Cushing OK WTI Spot Price FOB Dollars per Barrel": "wti_spot_price"}, inplace = True)
wti_spot_price['Date'] = pd.to_datetime(wti_spot_price['Date'])
wti_spot_price = wti_spot_price.set_index('Date')

### - Finding quarterly average from monthly data

In [8]:
wti_spot_price = wti_spot_price.resample('QS').mean()

### - Creating a sample of twenty years period

In [9]:
wti_spot_price = wti_spot_price['2001-01-01' : '2023-06-30']
print(wti_spot_price)

            wti_spot_price
Date
2001-01-01       28.816667
2001-04-01       27.906667
2001-07-01       26.666667
2001-10-01       20.400000
2002-01-01       21.656667
...                    ...
2022-04-01      108.723333
2022-07-01       93.183333
2022-10-01       82.786667
2023-01-01       76.076667
2023-04-01       73.760000

[90 rows x 1 columns]

In [10]:
%%R -i wti_spot_price

wti_spot_price_r <- ts(wti_spot_price, start = 2001, end = 2024, frequency =4)
wti_spot_price_r <-  as.data.frame(as_tibble(seas(wti_spot_price_r, x11= "",)))
wti_spot_price_r <-  wti_spot_price_r[-c(3:7)]
colnames(wti_spot_price_r)[1] = "Date"
colnames(wti_spot_price_r)[2] = "wti_spot_price_sea"
print(wti_spot_price_r)

         Date wti_spot_price_sea
1  2001-01-01           28.91017
2  2001-04-01           27.69969
3  2001-07-01           25.73033
4  2001-10-01           21.38795
5  2002-01-01           21.81504
6  2002-04-01           26.12985
7  2002-07-01           27.25751
8  2002-10-01           29.14862
9  2003-01-01           34.46813
10 2003-04-01           28.87850
11 2003-07-01           28.87041
12 2003-10-01           32.13041
13 2004-01-01           35.93025
14 2004-04-01           38.20693
15 2004-07-01           42.19873
16 2004-10-01           49.26638
17 2005-01-01           50.95922
18 2005-04-01           52.50230
19 2005-07-01           61.40673
20 2005-10-01           60.82922
21 2006-01-01           65.21794
22 2006-04-01           69.32184
23 2006-07-01           68.66407
24 2006-10-01           60.70217
25 2007-01-01           60.54630
26 2007-04-01           63.23387
27 2007-07-01           74.15048
28 2007-10-01           91.34357
29 2008-01-01          100.49154
30 2008-04-01          121.70184
31 2008-07-01          117.46614
32 2008-10-01           58.93604
33 2009-01-01           44.92086
34 2009-04-01           57.01617
35 2009-07-01           68.31043
36 2009-10-01           76.76745
37 2010-01-01           79.83944
38 2010-04-01           75.75721
39 2010-07-01           76.07281
40 2010-10-01           86.37177
41 2011-01-01           93.95279
42 2011-04-01          100.79583
43 2011-07-01           88.96032
44 2011-10-01           96.01888
45 2012-01-01          103.09342
46 2012-04-01           92.36627
47 2012-07-01           90.44771
48 2012-10-01           90.41122
49 2013-01-01           95.06878
50 2013-04-01           92.92199
51 2013-07-01          103.47709
52 2013-10-01           99.77295
53 2014-01-01          100.24486
54 2014-04-01          101.97061
55 2014-07-01           95.22429
56 2014-10-01           75.17567
57 2015-01-01           50.66696
58 2015-04-01           56.24675
59 2015-07-01           44.13434
60 2015-10-01           43.47657
61 2016-01-01           35.48638
62 2016-04-01           43.60441
63 2016-07-01           43.42693
64 2016-10-01           49.97083
65 2017-01-01           53.85652
66 2017-04-01           46.47327
67 2017-07-01           47.48688
68 2017-10-01           56.02876
69 2018-01-01           64.10857
70 2018-04-01           66.62654
71 2018-07-01           69.56167
72 2018-10-01           59.90233
73 2019-01-01           55.25710
74 2019-04-01           58.51986
75 2019-07-01           56.26921
76 2019-10-01           58.39719
77 2020-01-01           45.60845
78 2020-04-01           26.32761
79 2020-07-01           41.01717
80 2020-10-01           44.17390
81 2021-01-01           57.59248
82 2021-04-01           64.23583
83 2021-07-01           70.78684
84 2021-10-01           79.46628
85 2022-01-01           94.30689
86 2022-04-01          106.56244
87 2022-07-01           93.36377
88 2022-10-01           84.88999
89 2023-01-01           76.16738
90 2023-04-01           71.38344
91 2023-07-01           28.85509
92 2023-10-01           30.03685
93 2024-01-01           27.11252

## Preprocessing the predictors: brent_spot_price

### - Loading the data

In [11]:
brent_spot_price = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'brent_spot'))
brent_spot_price.rename(columns = {"Month": "Date", "Europe Brent Spot Price FOB Dollars per Barrel": "brent_spot_price"}, inplace = True)
brent_spot_price['Date'] = pd.to_datetime(brent_spot_price['Date'])
brent_spot_price = brent_spot_price.set_index('Date')

### - Finding quarterly average from monthly data

In [12]:
brent_spot_price = brent_spot_price.resample('QS').mean()

### - Creating a sample of twenty years period

In [13]:
brent_spot_price = brent_spot_price['2001-01-01' : '2023-06-30']
print(brent_spot_price)

            brent_spot_price
Date
2001-01-01         25.873333
2001-04-01         27.273333
2001-07-01         25.303333
2001-10-01         19.350000
2002-01-01         21.133333
...                      ...
2022-04-01        113.543333
2022-07-01        100.713333
2022-10-01         88.556667
2023-01-01         81.173333
2023-04-01         78.316667

[90 rows x 1 columns]

In [14]:
%%R -i brent_spot_price

brent_spot_price_r <- ts(brent_spot_price, start = 2001, end = 2024, frequency =4)
brent_spot_price_r <-  as.data.frame(as_tibble(seas(brent_spot_price_r, x11= "",)))
brent_spot_price_r <-  brent_spot_price_r[-c(3:7)]
colnames(brent_spot_price_r)[1] = "Date"
colnames(brent_spot_price_r)[2] = "brent_spot_price_sea"
print(brent_spot_price_r)

         Date brent_spot_price_sea
1  2001-01-01             26.02770
2  2001-04-01             27.07264
3  2001-07-01             24.30893
4  2001-10-01             20.34046
5  2002-01-01             21.36258
6  2002-04-01             24.89942
7  2002-07-01             25.75489
8  2002-10-01             27.79940
9  2003-01-01             31.90913
10 2003-04-01             25.98428
11 2003-07-01             26.96131
12 2003-10-01             30.61387
13 2004-01-01             32.64538
14 2004-04-01             35.00514
15 2004-07-01             39.61705
16 2004-10-01             45.57168
17 2005-01-01             48.96013
18 2005-04-01             50.59146
19 2005-07-01             59.59644
20 2005-10-01             58.39363
21 2006-01-01             63.64901
22 2006-04-01             67.79270
23 2006-07-01             67.83051
24 2006-10-01             61.25641
25 2007-01-01             60.08797
26 2007-04-01             66.13151
27 2007-07-01             73.55882
28 2007-10-01             90.18760
29 2008-01-01             99.22243
30 2008-04-01            118.47359
31 2008-07-01            113.70114
32 2008-10-01             56.26548
33 2009-01-01             46.15722
34 2009-04-01             55.74920
35 2009-07-01             68.17607
36 2009-10-01             76.20714
37 2010-01-01             77.04365
38 2010-04-01             76.23346
39 2010-07-01             76.94741
40 2010-10-01             88.03744
41 2011-01-01            105.02143
42 2011-04-01            115.93459
43 2011-07-01            113.01463
44 2011-10-01            111.10320
45 2012-01-01            118.40181
46 2012-04-01            107.51793
47 2012-07-01            108.66945
48 2012-10-01            111.66914
49 2013-01-01            113.09321
50 2013-04-01            101.62061
51 2013-07-01            108.78818
52 2013-10-01            110.64259
53 2014-01-01            109.50453
54 2014-04-01            108.63054
55 2014-07-01            100.08865
56 2014-10-01             77.41273
57 2015-01-01             56.04109
58 2015-04-01             60.29666
59 2015-07-01             48.55058
60 2015-10-01             44.38142
61 2016-01-01             36.06130
62 2016-04-01             43.72496
63 2016-07-01             44.86529
64 2016-10-01             49.49676
65 2017-01-01             55.93681
66 2017-04-01             47.62857
67 2017-07-01             52.05441
68 2017-10-01             61.77387
69 2018-01-01             68.08923
70 2018-04-01             72.68405
71 2018-07-01             75.89573
72 2018-10-01             68.09435
73 2019-01-01             63.57332
74 2019-04-01             67.11014
75 2019-07-01             62.89336
76 2019-10-01             64.48195
77 2020-01-01             50.14398
78 2020-04-01             27.23012
79 2020-07-01             44.18180
80 2020-10-01             45.79614
81 2021-01-01             60.39440
82 2021-04-01             66.33867
83 2021-07-01             74.59174
84 2021-10-01             81.58889
85 2022-01-01             99.82517
86 2022-04-01            110.91537
87 2022-07-01            101.53610
88 2022-10-01             90.80079
89 2023-01-01             80.98020
90 2023-04-01             75.56627
91 2023-07-01             26.31455
92 2023-10-01             29.62759
93 2024-01-01             25.53128

## Preprocessing the predictors: dubai_spot_price

### - Loading the data

In [15]:
dubai_price = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'Monthly Prices', index_col=None, na_values=['NA'], usecols="A, D"))
dubai_price = dubai_price.dropna()
dubai_price.rename(columns = {"Month": "Date", "Crude oil, Dubai": "dubai_price"}, inplace = True)
dubai_price['Date'] = pd.to_datetime(dubai_price['Date'])
dubai_price = dubai_price.set_index('Date')

### - Finding quarterly average from monthly data

In [16]:
dubai_price = dubai_price.resample('QS').mean()

### - Creating a sample of twenty years period

In [17]:
dubai_price = dubai_price['2001-01-01' : '2023-06-30']
print(dubai_price)

           dubai_price
Date
2001-01-01   23.620364
2001-04-01   25.095437
2001-07-01   23.904812
2001-10-01   18.238671
2002-01-01   20.019124
...                ...
2022-04-01      108.91
2022-07-01   98.286667
2022-10-01       84.55
2023-01-01   79.586667
2023-04-01       77.86

[90 rows x 1 columns]

In [18]:
%%R -i dubai_price

dubai_price_r <- ts(dubai_price, start = 2001, end = 2024, frequency =4)
dubai_price_r <-  as.data.frame(as_tibble(seas(dubai_price_r, x11= "",)))
dubai_price_r <-  dubai_price_r[-c(3:7)]
colnames(dubai_price_r)[1] = "Date"
colnames(dubai_price_r)[2] = "dubai_price_sea"
print(dubai_price_r)

C:\Users\asifr\AppData\Local\anaconda3\Lib\site-packages\rpy2\robjects\pandas2ri.py:65: UserWarning: Error while trying to convert the column "dubai_price". Fall back to string conversion. The error is: <class 'float'>
  warnings.warn('Error while trying to convert '

         Date dubai_price_sea
1  2001-01-01      22.0001840
2  2001-04-01      25.3566946
3  2001-07-01      20.7808288
4  2001-10-01      19.8391205
5  2002-01-01      21.0543400
6  2002-04-01      22.3904462
7  2002-07-01      25.5716118
8  2002-10-01      26.0100838
9  2003-01-01      31.1104777
10 2003-04-01      23.4320024
11 2003-07-01      26.1613164
12 2003-10-01      30.2905316
13 2004-01-01      32.3326955
14 2004-04-01      33.2599947
15 2004-07-01      33.9250846
16 2004-10-01      36.3929162
17 2005-01-01      39.6599277
18 2005-04-01      43.0155200
19 2005-07-01      51.9029275
20 2005-10-01      52.1244013
21 2006-01-01      59.2303933
22 2006-04-01      64.7276442
23 2006-07-01      66.0654297
24 2006-10-01      56.6775940
25 2007-01-01      57.6609395
26 2007-04-01      65.4776345
27 2007-07-01      71.5203596
28 2007-10-01      85.0447301
29 2008-01-01      91.0390373
30 2008-04-01      16.1570692
31 2008-07-01      15.1689435
32 2008-10-01      52.6246208
33 2009-01-01      45.8570098
34 2009-04-01      56.0637229
35 2009-07-01      71.8721138
36 2009-10-01      78.3473292
37 2010-01-01      82.3698504
38 2010-04-01      81.3117273
39 2010-07-01      77.1553605
40 2010-10-01      85.5177962
41 2011-01-01       2.5968160
42 2011-04-01      13.6339544
43 2011-07-01      11.3393674
44 2011-10-01       5.7166912
45 2012-01-01      18.1589622
46 2012-04-01       5.6710605
47 2012-07-01       8.3713621
48 2012-10-01      12.0521981
49 2013-01-01      13.8843808
50 2013-04-01       0.5746876
51 2013-07-01       9.4054118
52 2013-10-01      10.2731209
53 2014-01-01       4.7743781
54 2014-04-01       3.5406866
55 2014-07-01       3.3094317
56 2014-10-01      78.3817245
57 2015-01-01      50.8802349
58 2015-04-01      60.3845070
59 2015-07-01      47.3244102
60 2015-10-01      37.3421785
61 2016-01-01      33.1282954
62 2016-04-01      38.0567504
63 2016-07-01      41.6364664
64 2016-10-01      45.0387387
65 2017-01-01      53.1695073
66 2017-04-01      44.2349733
67 2017-07-01      48.7501497
68 2017-10-01      58.8718399
69 2018-01-01      65.6845828
70 2018-04-01      73.8582104
71 2018-07-01      76.9398293
72 2018-10-01      69.4837083
73 2019-01-01      64.1857975
74 2019-04-01      70.6920583
75 2019-07-01      61.7662852
76 2019-10-01      62.4333778
77 2020-01-01      48.7630728
78 2020-04-01      33.1219178
79 2020-07-01      39.8995270
80 2020-10-01      41.1717987
81 2021-01-01      59.5342590
82 2021-04-01      69.6181928
83 2021-07-01      74.6455466
84 2021-10-01      81.2589233
85 2022-01-01      88.3288955
86 2022-04-01      14.8455427
87 2022-07-01      90.6341371
88 2022-10-01      86.0950917
89 2023-01-01      83.4118622
90 2023-04-01      81.9853284
91 2023-07-01      21.4312734
92 2023-10-01      25.0660674
93 2024-01-01      21.6599333

## Preprocessing the predictors: index_china_gdp

### - Loading the data

In [19]:
index_china_gdp = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'index_china_gdp'))
index_china_gdp = index_china_gdp.dropna()
index_china_gdp.rename(columns = {"observation_date": "Date", "CHNLORSGPNOSTSAM": "index_china_gdp"}, inplace = True)
index_china_gdp['Date'] = pd.to_datetime(index_china_gdp['Date'])
index_china_gdp = index_china_gdp.set_index('Date')

### - Finding quarterly average from monthly data

In [20]:
index_china_gdp = index_china_gdp.resample('QS').mean()

### - Creating a sample of twenty years period

In [21]:
index_china_gdp = index_china_gdp['2001-01-01' : '2023-06-30']
print(index_china_gdp)

            index_china_gdp
Date
2001-01-01        99.107175
2001-04-01        98.834079
2001-07-01        98.512880
2001-10-01        98.223037
2002-01-01        98.160446
...                     ...
2022-04-01       100.330123
2022-07-01       100.053152
2022-10-01        99.643252
2023-01-01        99.174501
2023-04-01        98.793601

[90 rows x 1 columns]

In [22]:
%%R -i index_china_gdp

index_china_gdp_r <- ts(index_china_gdp, start = 2001, end = 2024, frequency =4)
index_china_gdp_r <-  as.data.frame(as_tibble(seas(index_china_gdp_r, x11= "",)))
index_china_gdp_r <-  index_china_gdp_r[-c(3:7)]
colnames(index_china_gdp_r)[1] = "Date"
colnames(index_china_gdp_r)[2] = "index_china_gdp_sea"
print(index_china_gdp_r)

         Date index_china_gdp_sea
1  2001-01-01            99.10295
2  2001-04-01            98.85148
3  2001-07-01            98.52312
4  2001-10-01            98.20110
5  2002-01-01            98.15388
6  2002-04-01            98.41114
7  2002-07-01            98.70964
8  2002-10-01            98.97631
9  2003-01-01            99.22982
10 2003-04-01            99.48665
11 2003-07-01            99.87617
12 2003-10-01           100.28546
13 2004-01-01           100.50444
14 2004-04-01           100.33819
15 2004-07-01           100.08943
16 2004-10-01            99.90192
17 2005-01-01            99.81428
18 2005-04-01            99.86459
19 2005-07-01           100.00384
20 2005-10-01           100.10334
21 2006-01-01           100.16106
22 2006-04-01           100.22191
23 2006-07-01           100.31456
24 2006-10-01           100.53203
25 2007-01-01           100.83370
26 2007-04-01           101.14235
27 2007-07-01           101.45295
28 2007-10-01           101.66033
29 2008-01-01           101.50808
30 2008-04-01           100.85576
31 2008-07-01            99.72699
32 2008-10-01            98.57698
33 2009-01-01            98.10960
34 2009-04-01            98.49263
35 2009-07-01            99.17836
36 2009-10-01            99.72278
37 2010-01-01            99.94832
38 2010-04-01            99.97415
39 2010-07-01           100.01715
40 2010-10-01           100.25454
41 2011-01-01           100.59074
42 2011-04-01           100.85807
43 2011-07-01           100.95489
44 2011-10-01           100.88566
45 2012-01-01           100.71099
46 2012-04-01           100.53791
47 2012-07-01           100.42321
48 2012-10-01           100.39030
49 2013-01-01           100.41412
50 2013-04-01           100.48167
51 2013-07-01           100.57970
52 2013-10-01           100.65075
53 2014-01-01           100.66515
54 2014-04-01           100.63029
55 2014-07-01           100.54245
56 2014-10-01           100.41001
57 2015-01-01           100.24594
58 2015-04-01           100.07504
59 2015-07-01            99.92180
60 2015-10-01            99.79202
61 2016-01-01            99.67929
62 2016-04-01            99.58636
63 2016-07-01            99.52976
64 2016-10-01            99.51199
65 2017-01-01            99.52947
66 2017-04-01            99.54969
67 2017-07-01            99.55514
68 2017-10-01            99.51871
69 2018-01-01            99.44848
70 2018-04-01            99.32614
71 2018-07-01            99.17928
72 2018-10-01            98.98800
73 2019-01-01            98.79298
74 2019-04-01            98.61937
75 2019-07-01            98.61942
76 2019-10-01            98.92647
77 2020-01-01            94.96254
78 2020-04-01           100.53156
79 2020-07-01           101.31639
80 2020-10-01           101.75164
81 2021-01-01           101.85081
82 2021-04-01           101.65117
83 2021-07-01           101.28975
84 2021-10-01           100.90094
85 2022-01-01           100.59558
86 2022-04-01           100.33513
87 2022-07-01           100.04038
88 2022-10-01            99.63373
89 2023-01-01            99.18744
90 2023-04-01            98.80651
91 2023-07-01            99.09309
92 2023-10-01            98.82208
93 2024-01-01            98.52237

## Preprocessing the predictors: index_us_gdp

### - Loading the data
This data was already in quarterly and seasonaly adjusted, so we do not need to calculate the quarterly vale.

In [23]:
index_us_gdp = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'index_us_gdpdef'))
index_us_gdp = index_us_gdp.dropna()
index_us_gdp.rename(columns = {"observation_date": "Date", "GDPDEF": "index_us_gdp"}, inplace = True)
index_us_gdp['Date'] = pd.to_datetime(index_us_gdp['Date'])
index_us_gdp = index_us_gdp.set_index('Date')

### - Creating a sample of twenty years period

In [24]:
index_us_gdp = index_us_gdp['2001-01-01' : '2023-06-30']
print(index_us_gdp)

            index_us_gdp
Date
2023-04-01       131.453
2023-01-01       130.800
2022-10-01       129.508
2022-07-01       128.269
2022-04-01       126.907
...                  ...
2002-01-01        80.504
2001-10-01        80.245
2001-07-01        79.996
2001-04-01        79.683
2001-01-01        79.204

[90 rows x 1 columns]

In [25]:
%%R -i index_us_gdp

index_us_gdp_r <- ts(index_us_gdp, start = 2001, end = 2024, frequency =4)
index_us_gdp_r <-  as.data.frame(as_tibble(seas(index_us_gdp_r, x11= "",)))
index_us_gdp_r <-  index_us_gdp_r[-c(3:7)]
colnames(index_us_gdp_r)[1] = "Date"
colnames(index_us_gdp_r)[2] = "index_us_gdp_sea"
print(index_us_gdp_r)

         Date index_us_gdp_sea
1  2001-01-01        131.32142
2  2001-04-01        130.84439
3  2001-07-01        129.66152
4  2001-10-01        128.19852
5  2002-01-01        126.78552
6  2002-04-01        124.21960
7  2002-07-01        121.83835
8  2002-10-01        119.65635
9  2003-01-01        117.80712
10 2003-04-01        116.17366
11 2003-07-01        114.79095
12 2003-10-01        113.93028
13 2004-01-01        112.89039
14 2004-04-01        113.47434
15 2004-07-01        113.03413
16 2004-10-01        112.52378
17 2005-01-01        112.08866
18 2005-04-01        111.62685
19 2005-07-01        111.17365
20 2005-10-01        110.61094
21 2006-01-01        110.17554
22 2006-04-01        109.39348
23 2006-07-01        108.67094
24 2006-10-01        107.89273
25 2007-01-01        107.29590
26 2007-04-01        107.12870
27 2007-07-01        106.48484
28 2007-10-01        105.90215
29 2008-01-01        105.58006
30 2008-04-01        104.98933
31 2008-07-01        104.96597
32 2008-10-01        104.95031
33 2009-01-01        104.63984
34 2009-04-01        104.20816
35 2009-07-01        104.13010
36 2009-10-01        103.92659
37 2010-01-01        103.51039
38 2010-04-01        103.02801
39 2010-07-01        102.48826
40 2010-10-01        101.85974
41 2011-01-01        101.42398
42 2011-04-01        101.21659
43 2011-07-01        100.70311
44 2011-10-01        100.19377
45 2012-01-01         99.72367
46 2012-04-01         99.36783
47 2012-07-01         98.67531
48 2012-10-01         98.57024
49 2013-01-01         98.00633
50 2013-04-01         97.38937
51 2013-07-01         96.80695
52 2013-10-01         96.25900
53 2014-01-01         96.01548
54 2014-04-01         95.56223
55 2014-07-01         95.23222
56 2014-10-01         94.92849
57 2015-01-01         94.87454
58 2015-04-01         95.05454
59 2015-07-01         95.03492
60 2015-10-01         94.81044
61 2016-01-01         94.15433
62 2016-04-01         93.68346
63 2016-07-01         93.30793
64 2016-10-01         92.90294
65 2017-01-01         92.47190
66 2017-04-01         91.86241
67 2017-07-01         90.95713
68 2017-10-01         90.60207
69 2018-01-01         90.01339
70 2018-04-01         89.22271
71 2018-07-01         88.58236
72 2018-10-01         87.85873
73 2019-01-01         87.08616
74 2019-04-01         86.46174
75 2019-07-01         85.76833
76 2019-10-01         85.10668
77 2020-01-01         84.57016
78 2020-04-01         83.89774
79 2020-07-01         83.30510
80 2020-10-01         82.79498
81 2021-01-01         82.32663
82 2021-04-01         82.04903
83 2021-07-01         81.63690
84 2021-10-01         81.17064
85 2022-01-01         80.77924
86 2022-04-01         80.51095
87 2022-07-01         80.24603
88 2022-10-01         79.99151
89 2023-01-01         79.67509
90 2023-04-01         79.21673
91 2023-07-01        131.45828
92 2023-10-01        130.78620
93 2024-01-01        129.49070

## Preprocessing the predictors: volatility index: index_cboe_volt

### - Loading the data
This data is in daily format, so we will have to calculate the quarterly mean.

In [26]:
index_cboe_volt = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'index_cboe_volt'))
index_cboe_volt = index_cboe_volt.dropna()
index_cboe_volt.rename(columns = {"observation_date": "Date", "VIXCLS": "index_cboe_volt"}, inplace = True)
index_cboe_volt['Date'] = pd.to_datetime(index_cboe_volt['Date'])
index_cboe_volt = index_cboe_volt.set_index('Date')

### - Finding quarterly average from daily data

In [27]:
index_cboe_volt = index_cboe_volt.resample('QS').mean()

### - Creating a sample of twenty years period

In [28]:
index_cboe_volt = index_cboe_volt['2001-01-01' : '2023-06-30']
print(index_cboe_volt)

            index_cboe_volt
Date
2001-01-01        25.726452
2001-04-01        23.923810
2001-07-01        25.380339
2001-10-01        27.910000
2002-01-01        21.360833
...                     ...
2022-04-01        27.398438
2022-07-01        24.792727
2022-10-01        25.002656
2023-01-01        20.684062
2023-04-01        16.441250

[90 rows x 1 columns]

In [29]:
%%R -i index_cboe_volt

index_cboe_volt_r <- ts(index_cboe_volt, start = 2001, end = 2024, frequency =4)
index_cboe_volt_r <-  as.data.frame(as_tibble(seas(index_cboe_volt_r, x11= "",)))
index_cboe_volt_r <-  index_cboe_volt_r[-c(3:7)]
colnames(index_cboe_volt_r)[1] = "Date"
colnames(index_cboe_volt_r)[2] = "index_cboe_volt_sea"
print(index_cboe_volt_r)

         Date index_cboe_volt_sea
1  2001-01-01            24.99146
2  2001-04-01            25.41004
3  2001-07-01            25.51208
4  2001-10-01            25.18213
5  2002-01-01            24.36980
6  2002-04-01            22.73380
7  2002-07-01            30.21673
8  2002-10-01            33.52772
9  2003-01-01            28.45993
10 2003-04-01            22.19549
11 2003-07-01            20.26079
12 2003-10-01            16.62058
13 2004-01-01            17.27773
14 2004-04-01            16.53594
15 2004-07-01            14.42657
16 2004-10-01            13.78743
17 2005-01-01            13.08729
18 2005-04-01            13.67321
19 2005-07-01            11.86359
20 2005-10-01            11.90898
21 2006-01-01            13.10178
22 2006-04-01            15.01700
23 2006-07-01            12.33013
24 2006-10-01            11.78306
25 2007-01-01            11.68655
26 2007-04-01            14.33425
27 2007-07-01            23.04278
28 2007-10-01            19.57347
29 2008-01-01            26.16541
30 2008-04-01            21.86807
31 2008-07-01            27.30778
32 2008-10-01            53.76850
33 2009-01-01            47.80632
34 2009-04-01            34.71154
35 2009-07-01            24.16741
36 2009-10-01            21.44357
37 2010-01-01            21.35206
38 2010-04-01            27.29149
39 2010-07-01            23.58346
40 2010-10-01            18.34021
41 2011-01-01            19.64963
42 2011-04-01            17.63529
43 2011-07-01            30.61838
44 2011-10-01            26.54064
45 2012-01-01            19.13100
46 2012-04-01            20.08524
47 2012-07-01            17.46873
48 2012-10-01            14.91454
49 2013-01-01            15.18549
50 2013-04-01            14.91851
51 2013-07-01            13.25324
52 2013-10-01            15.44277
53 2014-01-01            13.34330
54 2014-04-01            12.89868
55 2014-07-01            14.86855
56 2014-10-01            15.34878
57 2015-01-01            16.50931
58 2015-04-01            13.96184
59 2015-07-01            19.49977
60 2015-10-01            16.85035
61 2016-01-01            18.84950
62 2016-04-01            15.92690
63 2016-07-01            14.22663
64 2016-10-01            13.45218
65 2017-01-01            11.36877
66 2017-04-01            11.49686
67 2017-07-01            11.12953
68 2017-10-01            11.50422
69 2018-01-01            14.41591
70 2018-04-01            15.24255
71 2018-07-01            15.35777
72 2018-10-01            20.12994
73 2019-01-01            16.04692
74 2019-04-01            14.96120
75 2019-07-01            16.28417
76 2019-10-01            16.00269
77 2020-01-01            28.07911
78 2020-04-01            34.02521
79 2020-07-01            27.10399
80 2020-10-01            25.96366
81 2021-01-01            21.68582
82 2021-04-01            17.82210
83 2021-07-01            19.32661
84 2021-10-01            19.75706
85 2022-01-01            23.59164
86 2022-04-01            27.39043
87 2022-07-01            26.29311
88 2022-10-01            23.57041
89 2023-01-01            21.06730
90 2023-04-01            16.54378
91 2023-07-01            25.00008
92 2023-10-01            25.92315
93 2024-01-01            24.21652

## Preprocessing the predictors: us unemployment rate: us_unemploy

### - Loading the data
This data is in monthly format, so we will have to calculate the quarterly mean.

### - Loading the data
This data is in monthly format, so we will have to calculate the quarterly mean.

In [30]:
us_unemploy = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'us_unemploy'))
us_unemploy = us_unemploy.dropna()
us_unemploy.rename(columns = {"observation_date": "Date", "UNRATE": "us_unemploy"}, inplace = True)
us_unemploy['Date'] = pd.to_datetime(us_unemploy['Date'])
us_unemploy = us_unemploy.set_index('Date')

### - Finding quarterly average from monthly data

In [31]:
us_unemploy = us_unemploy.resample('QS').mean()

### - Creating a sample of twenty years period

In [32]:
us_unemploy = us_unemploy['2001-01-01' : '2023-06-30']
print(us_unemploy)

            us_unemploy
Date
2001-01-01     4.233333
2001-04-01     4.400000
2001-07-01     4.833333
2001-10-01     5.500000
2002-01-01     5.700000
...                 ...
2022-04-01     3.600000
2022-07-01     3.566667
2022-10-01     3.600000
2023-01-01     3.500000
2023-04-01     3.566667

[90 rows x 1 columns]

In [33]:
%%R -i us_unemploy

us_unemploy_r <- ts(us_unemploy, start = 2001, end = 2024, frequency =4)
us_unemploy_r <-  as.data.frame(as_tibble(seas(us_unemploy_r, x11= "",)))
us_unemploy_r <-  us_unemploy_r[-c(3:7)]
colnames(us_unemploy_r)[1] = "Date"
colnames(us_unemploy_r)[2] = "us_unemploy_sea"
print(us_unemploy_r)

         Date us_unemploy_sea
1  2001-01-01        4.242061
2  2001-04-01        4.393135
3  2001-07-01        4.864115
4  2001-10-01        5.462300
5  2002-01-01        5.711201
6  2002-04-01        5.829171
7  2002-07-01        5.762944
8  2002-10-01        5.830142
9  2003-01-01        5.875920
10 2003-04-01        6.134280
11 2003-07-01        6.156287
12 2003-10-01        5.805332
13 2004-01-01        5.704614
14 2004-04-01        5.601847
15 2004-07-01        5.450498
16 2004-10-01        5.412585
17 2005-01-01        5.303281
18 2005-04-01        5.099963
19 2005-07-01        4.979315
20 2005-10-01        4.952608
21 2006-01-01        4.736884
22 2006-04-01        4.632229
23 2006-07-01        4.640522
24 2006-10-01        4.424094
25 2007-01-01        4.505060
26 2007-04-01        4.499449
27 2007-07-01        4.668436
28 2007-10-01        4.793809
29 2008-01-01        5.005500
30 2008-04-01        5.334428
31 2008-07-01        5.996603
32 2008-10-01        6.863606
33 2009-01-01        8.272589
34 2009-04-01        9.304980
35 2009-07-01        9.618904
36 2009-10-01        9.942291
37 2010-01-01        9.834603
38 2010-04-01        9.636376
39 2010-07-01        9.449961
40 2010-10-01        9.514902
41 2011-01-01        9.036084
42 2011-04-01        9.063607
43 2011-07-01        8.983797
44 2011-10-01        8.648812
45 2012-01-01        8.273508
46 2012-04-01        8.192169
47 2012-07-01        8.021794
48 2012-10-01        7.806515
49 2013-01-01        7.747170
50 2013-04-01        7.527920
51 2013-07-01        7.218805
52 2013-10-01        6.938937
53 2014-01-01        6.676794
54 2014-04-01        6.201959
55 2014-07-01        6.048220
56 2014-10-01        5.709601
57 2015-01-01        5.536791
58 2015-04-01        5.437937
59 2015-07-01        5.081776
60 2015-10-01        5.048147
61 2016-01-01        4.898902
62 2016-04-01        4.936508
63 2016-07-01        4.879740
64 2016-10-01        4.787665
65 2017-01-01        4.564927
66 2017-04-01        4.366233
67 2017-07-01        4.314325
68 2017-10-01        4.186222
69 2018-01-01        4.036689
70 2018-04-01        3.928144
71 2018-07-01        3.748937
72 2018-10-01        3.852844
73 2019-01-01        3.873066
74 2019-04-01        3.626209
75 2019-07-01        3.614922
76 2019-10-01        3.618913
77 2020-01-01        3.809063
78 2020-04-01       12.932390
79 2020-07-01        8.784999
80 2020-10-01        6.808382
81 2021-01-01        6.215136
82 2021-04-01        5.914086
83 2021-07-01        5.103164
84 2021-10-01        4.229433
85 2022-01-01        3.811146
86 2022-04-01        3.584704
87 2022-07-01        3.544451
88 2022-10-01        3.627211
89 2023-01-01        3.514823
90 2023-04-01        3.546400
91 2023-07-01        4.205879
92 2023-10-01        4.432573
93 2024-01-01        4.862400

## Preprocessing the predictors: Industrial Production: index_ip_mining 
Mining, Quarrying, and Oil and Gas Extraction: Mining (NAICS = 21), Index 2017=100, Quarterly, Seasonally Adjusted

### - Loading the data
This data is already in quarterly format, so we will have to calculate the quarterly mean.

In [34]:
index_ip_mining = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'index_ip_mining'))
index_ip_mining = index_ip_mining.dropna()
index_ip_mining.rename(columns = {"observation_date": "Date", "IPG21SQ": "index_ip_mining"}, inplace = True)
index_ip_mining['Date'] = pd.to_datetime(index_ip_mining['Date'])
index_ip_mining = index_ip_mining.set_index('Date')

### - Creating a sample of twenty years period

In [35]:
index_ip_mining = index_ip_mining['2001-01-01' : '2023-06-30']
print(index_ip_mining)

            index_ip_mining
Date
2023-04-01         118.2950
2023-01-01         118.1290
2022-10-01         116.0954
2022-07-01         116.1566
2022-04-01         112.4290
...                     ...
2002-01-01          80.8947
2001-10-01          82.9672
2001-07-01          84.0679
2001-04-01          84.9047
2001-01-01          84.4693

[90 rows x 1 columns]

In [36]:
%%R -i index_ip_mining

index_ip_mining_r <- ts(index_ip_mining, start = 2001, end = 2024, frequency =4)
index_ip_mining_r <-  as.data.frame(as_tibble(seas(index_ip_mining_r, x11= "",)))
index_ip_mining_r <-  index_ip_mining_r[-c(3:7)]
colnames(index_ip_mining_r)[1] = "Date"
colnames(index_ip_mining_r)[2] = "index_ip_mining_sea"
print(index_ip_mining_r)

         Date index_ip_mining_sea
1  2001-01-01           118.43753
2  2001-04-01           119.15429
3  2001-07-01           115.72215
4  2001-10-01           115.41265
5  2002-01-01           112.55657
6  2002-04-01           109.87724
7  2002-07-01           109.40227
8  2002-10-01           106.32553
9  2003-01-01           106.50030
10 2003-04-01           102.19604
11 2003-07-01            99.42922
12 2003-10-01            96.85064
13 2004-01-01            95.02265
14 2004-04-01           120.36871
15 2004-07-01           120.66243
16 2004-10-01           121.19362
17 2005-01-01           121.63944
18 2005-04-01           119.64553
19 2005-07-01           118.54236
20 2005-10-01           115.97576
21 2006-01-01           111.47062
22 2006-04-01           107.29627
23 2006-07-01           103.49326
24 2006-10-01           100.19871
25 2007-01-01            99.84018
26 2007-04-01            96.38603
27 2007-07-01            91.83587
28 2007-10-01            89.66793
29 2008-01-01            89.97594
30 2008-04-01            94.55518
31 2008-07-01            99.16602
32 2008-10-01           103.72603
33 2009-01-01           104.64000
34 2009-04-01           110.90247
35 2009-07-01           114.69804
36 2009-10-01           113.40338
37 2010-01-01           110.94964
38 2010-04-01           105.99651
39 2010-07-01           102.02116
40 2010-10-01           102.20836
41 2011-01-01           100.06599
42 2011-04-01            98.17444
43 2011-07-01            96.69153
44 2011-10-01            94.75679
45 2012-01-01            93.92453
46 2012-04-01            93.57165
47 2012-07-01            91.19422
48 2012-10-01            88.20155
49 2013-01-01            87.05969
50 2013-04-01            84.41547
51 2013-07-01            84.29511
52 2013-10-01            83.64277
53 2014-01-01            81.57620
54 2014-04-01            80.35381
55 2014-07-01            77.96250
56 2014-10-01            78.90782
57 2015-01-01            77.40597
58 2015-04-01            80.57235
59 2015-07-01            82.69016
60 2015-10-01            82.59335
61 2016-01-01            83.69278
62 2016-04-01            83.06200
63 2016-07-01            82.54739
64 2016-10-01            82.15430
65 2017-01-01            81.70508
66 2017-04-01            81.10504
67 2017-07-01            82.12034
68 2017-10-01            82.11092
69 2018-01-01            80.82437
70 2018-04-01            79.88614
71 2018-07-01            76.70883
72 2018-10-01            78.03896
73 2019-01-01            81.07457
74 2019-04-01            81.38781
75 2019-07-01            80.46741
76 2019-10-01            80.18707
77 2020-01-01            79.75850
78 2020-04-01            80.60668
79 2020-07-01            80.81515
80 2020-10-01            80.46514
81 2021-01-01            79.67486
82 2021-04-01            80.42852
83 2021-07-01            79.41989
84 2021-10-01            80.14400
85 2022-01-01            80.52691
86 2022-04-01            80.87925
87 2022-07-01            83.15404
88 2022-10-01            84.03628
89 2023-01-01            84.76878
90 2023-04-01            84.47697
91 2023-07-01           118.54056
92 2023-10-01           117.99026
93 2024-01-01           115.97393

## Preprocessing the predictors: Consumer Price Index for China: index_cpi_china

### - Loading the data
This data is in monthly format, so we calculate the quarterly mean.

In [37]:
index_cpi_china = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'index_cpi_china'))
index_cpi_china = index_cpi_china.dropna()
index_cpi_china.rename(columns = {"observation_date": "Date", "CPALTT01CNM659N": "index_cpi_china"}, inplace = True)
index_cpi_china['Date'] = pd.to_datetime(index_cpi_china['Date'])
index_cpi_china = index_cpi_china.set_index('Date')

### - Finding quarterly average from monthly data

In [38]:
index_cpi_china = index_cpi_china.resample('QS').mean()

### - Creating a sample of twenty years period

In [39]:
index_cpi_china = index_cpi_china['2001-01-01' : '2023-06-30']
print(index_cpi_china)

            index_cpi_china
Date
2001-01-01         0.666667
2001-04-01         1.566667
2001-07-01         0.800000
2001-10-01        -0.133333
2002-01-01        -0.600000
...                     ...
2022-04-01         2.233333
2022-07-01         2.666667
2022-10-01         1.833333
2023-01-01         1.266667
2023-04-01         0.100000

[90 rows x 1 columns]

In [40]:
%%R -i index_cpi_china

index_cpi_china_r <- ts(index_cpi_china, start = 2001, end = 2024, frequency =4)
index_cpi_china_r <-  as.data.frame(as_tibble(seas(index_cpi_china_r, x11= "",)))
index_cpi_china_r <-  index_cpi_china_r[-c(3:7)]
colnames(index_cpi_china_r)[1] = "Date"
colnames(index_cpi_china_r)[2] = "index_cpi_china_sea"
print(index_cpi_china_r)

         Date index_cpi_china_sea
1  2001-01-01         0.716451647
2  2001-04-01         1.453864082
3  2001-07-01         0.804454256
4  2001-10-01        -0.073919742
5  2002-01-01        -0.557756056
6  2002-04-01        -1.169446320
7  2002-07-01        -0.754350686
8  2002-10-01        -0.590315600
9  2003-01-01         0.542788125
10 2003-04-01         0.565072155
11 2003-07-01         0.862439740
12 2003-10-01         2.689187871
13 2004-01-01         2.812563783
14 2004-04-01         4.299917619
15 2004-07-01         5.314798507
16 2004-10-01         3.168206709
17 2005-01-01         2.868879936
18 2005-04-01         1.650262887
19 2005-07-01         1.400078386
20 2005-10-01         1.335953445
21 2006-01-01         1.233549163
22 2006-04-01         1.300984381
23 2006-07-01         1.353333643
24 2006-10-01         1.963873181
25 2007-01-01         2.771874226
26 2007-04-01         3.549227286
27 2007-07-01         6.194143366
28 2007-10-01         6.543527879
29 2008-01-01         8.072575902
30 2008-04-01         7.724238113
31 2008-07-01         5.373176041
32 2008-10-01         2.421944975
33 2009-01-01        -0.557480241
34 2009-04-01        -1.568782638
35 2009-07-01        -1.158229772
36 2009-10-01         0.551455780
37 2010-01-01         2.234429859
38 2010-04-01         2.912211361
39 2010-07-01         3.569367177
40 2010-10-01         4.579966069
41 2011-01-01         5.106368672
42 2011-04-01         5.717403165
43 2011-07-01         6.357382411
44 2011-10-01         4.482070157
45 2012-01-01         3.805859635
46 2012-04-01         2.867091102
47 2012-07-01         1.973495680
48 2012-10-01         1.957130200
49 2013-01-01         2.457712459
50 2013-04-01         2.424439809
51 2013-07-01         2.856556386
52 2013-10-01         2.790536609
53 2014-01-01         2.327220038
54 2014-04-01         2.232739318
55 2014-07-01         2.008502670
56 2014-10-01         1.411114994
57 2015-01-01         1.205932837
58 2015-04-01         1.412659505
59 2015-07-01         1.753985075
60 2015-10-01         1.405054130
61 2016-01-01         2.136109840
62 2016-04-01         2.099373754
63 2016-07-01         1.684159705
64 2016-10-01         2.116443583
65 2017-01-01         1.410916957
66 2017-04-01         1.423137457
67 2017-07-01         1.602053956
68 2017-10-01         1.760652459
69 2018-01-01         2.190725022
70 2018-04-01         1.850691363
71 2018-07-01         2.303049342
72 2018-10-01         2.137912366
73 2019-01-01         1.876247955
74 2019-04-01         2.656711387
75 2019-07-01         2.868103159
76 2019-10-01         4.197299049
77 2020-01-01         4.997424749
78 2020-04-01         2.778013060
79 2020-07-01         2.269003930
80 2020-10-01        -0.014431858
81 2021-01-01        -0.003740884
82 2021-04-01         1.150222388
83 2021-07-01         0.833627902
84 2021-10-01         1.689582695
85 2022-01-01         1.127675762
86 2022-04-01         2.282103664
87 2022-07-01         2.663836557
88 2022-10-01         1.759850589
89 2023-01-01         1.295625893
90 2023-04-01         0.152674971
91 2023-07-01         0.654581027
92 2023-10-01         1.486856468
93 2024-01-01         0.845143291

## Preprocessing 2 predictors at once: 
opec supply - opec, non-opec supply- non_opec
This data is in quarterly format.

In [41]:
two_x = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'two_x', usecols="A:C"))
two_x = two_x.dropna()
two_x.rename(columns = {"obs": "Date", "OPEC": "opec", "NOPEC" : "non_opec"}, inplace = True)
two_x['Date'] = pd.to_datetime(two_x['Date'], format="mixed")
two_x = two_x.set_index('Date')

### - Creating a sample of twenty years period

In [42]:
two_x = two_x['2001-01-01' : '2023-06-30']
print(two_x)

                    opec      non_opec
Date
2020-10-01  24945.000000  55800.000000
2020-07-01  23842.000000  55134.000000
2020-04-01  25578.000000  54756.000000
2020-01-01  28246.000000  59931.000000
2019-10-01  29601.000000  58779.000000
...                  ...           ...
2002-01-01  26221.237000  40685.595667
2001-10-01  27307.658667  40521.307667
2001-07-01  28140.325000  39950.500667
2001-04-01  27976.069000  39483.162667
2001-01-01  29031.181000  40054.029000

[80 rows x 2 columns]

In [43]:
%%R -i two_x
two_x_opec_r <- two_x[1]
two_x_opec_r <- ts(two_x_opec_r, start = 2001, end = 2024, frequency =4)
two_x_opec_r <-  as.data.frame(as_tibble(seas(two_x_opec_r, x11= "",)))
two_x_opec_r <-  two_x_opec_r[-c(3:7)]
colnames(two_x_opec_r)[1] = "Date"
colnames(two_x_opec_r)[2] = "opec_sea"
print(two_x_opec_r)

         Date opec_sea
1  2001-01-01 24486.22
2  2001-04-01 23778.75
3  2001-07-01 25929.00
4  2001-10-01 28399.88
5  2002-01-01 29180.58
6  2002-04-01 29308.08
7  2002-07-01 30299.54
8  2002-10-01 30646.08
9  2003-01-01 31729.06
10 2003-04-01 32460.80
11 2003-07-01 32446.13
12 2003-10-01 32597.78
13 2004-01-01 32173.99
14 2004-04-01 32563.49
15 2004-07-01 32462.84
16 2004-10-01 32336.25
17 2005-01-01 32948.44
18 2005-04-01 33087.01
19 2005-07-01 32862.93
20 2005-10-01 32778.17
21 2006-01-01 32133.83
22 2006-04-01 31286.85
23 2006-07-01 31242.70
24 2006-10-01 30594.25
25 2007-01-01 30228.25
26 2007-04-01 29973.52
27 2007-07-01 29787.94
28 2007-10-01 30097.55
29 2008-01-01 30667.89
30 2008-04-01 31825.84
31 2008-07-01 32079.02
32 2008-10-01 31840.45
33 2009-01-01 32314.04
34 2009-04-01 32733.61
35 2009-07-01 33227.53
36 2009-10-01 33239.77
37 2010-01-01 32331.02
38 2010-04-01 31660.17
39 2010-07-01 31261.90
40 2010-10-01 31891.95
41 2011-01-01 31730.08
42 2011-04-01 31626.25
43 2011-07-01 31554.42
44 2011-10-01 31126.28
45 2012-01-01 30752.96
46 2012-04-01 30505.27
47 2012-07-01 30482.64
48 2012-10-01 30349.45
49 2013-01-01 31843.47
50 2013-04-01 32601.67
51 2013-07-01 32696.34
52 2013-10-01 32599.71
53 2014-01-01 31850.93
54 2014-04-01 30922.28
55 2014-07-01 30962.00
56 2014-10-01 30816.97
57 2015-01-01 31072.38
58 2015-04-01 31601.37
59 2015-07-01 31573.59
60 2015-10-01 31649.58
61 2016-01-01 31828.98
62 2016-04-01 31905.64
63 2016-07-01 31902.91
64 2016-10-01 31413.10
65 2017-01-01 30864.90
66 2017-04-01 30793.15
67 2017-07-01 30034.94
68 2017-10-01 29545.68
69 2018-01-01 28725.33
70 2018-04-01 27498.24
71 2018-07-01 27816.62
72 2018-10-01 27493.88
73 2019-01-01 27036.12
74 2019-04-01 26519.96
75 2019-07-01 26102.10
76 2019-10-01 26078.08
77 2020-01-01 27000.11
78 2020-04-01 28179.01
79 2020-07-01 28412.86
80 2020-10-01 28872.22
81 2021-01-01 24603.86
82 2021-04-01 23918.39
83 2021-07-01 25990.25
84 2021-10-01 28103.90
85 2022-01-01 29256.08
86 2022-04-01 29477.42
87 2022-07-01 30352.71
88 2022-10-01 30368.03
89 2023-01-01 31748.31
90 2023-04-01 32667.17
91 2023-07-01 32519.34
92 2023-10-01 32316.90
93 2024-01-01 32125.25

In [44]:
%%R -i two_x
two_x_non_opec_r <- two_x[2]
two_x_non_opec_r <- ts(two_x_non_opec_r, start = 2001, end = 2024, frequency =4)
two_x_non_opec_r <-  as.data.frame(as_tibble(seas(two_x_non_opec_r, x11= "",)))
two_x_non_opec_r <-  two_x_non_opec_r[-c(3:7)]
colnames(two_x_non_opec_r)[1] = "Date"
colnames(two_x_non_opec_r)[2] = "non_opec_sea"
print(two_x_non_opec_r)

         Date non_opec_sea
1  2001-01-01     55833.43
2  2001-04-01     55404.31
3  2001-07-01     54886.65
4  2001-10-01     59483.08
5  2002-01-01     58787.16
6  2002-04-01     58101.00
7  2002-07-01     57592.77
8  2002-10-01     56997.84
9  2003-01-01     54904.66
10 2003-04-01     54701.94
11 2003-07-01     53689.90
12 2003-10-01     52804.89
13 2004-01-01     50631.82
14 2004-04-01     49983.04
15 2004-07-01     49954.72
16 2004-10-01     49661.63
17 2005-01-01     50816.64
18 2005-04-01     50416.43
19 2005-07-01     50178.07
20 2005-10-01     50906.14
21 2006-01-01     51417.69
22 2006-04-01     51896.13
23 2006-07-01     52025.45
24 2006-10-01     51731.83
25 2007-01-01     50793.32
26 2007-04-01     50544.42
27 2007-07-01     50409.91
28 2007-10-01     49670.19
29 2008-01-01     49108.40
30 2008-04-01     49083.72
31 2008-07-01     48523.64
32 2008-10-01     48108.96
33 2009-01-01     43343.87
34 2009-04-01     42418.23
35 2009-07-01     42591.32
36 2009-10-01     42603.81
37 2010-01-01     42579.14
38 2010-04-01     42232.57
39 2010-07-01     42163.33
40 2010-10-01     42462.18
41 2011-01-01     42795.25
42 2011-04-01     42659.18
43 2011-07-01     42566.64
44 2011-10-01     42217.63
45 2012-01-01     42023.71
46 2012-04-01     42064.23
47 2012-07-01     41621.20
48 2012-10-01     41429.53
49 2013-01-01     41194.00
50 2013-04-01     41068.65
51 2013-07-01     41405.21
52 2013-10-01     41380.53
53 2014-01-01     41490.73
54 2014-04-01     41678.87
55 2014-07-01     41859.95
56 2014-10-01     41905.45
57 2015-01-01     41909.64
58 2015-04-01     41955.63
59 2015-07-01     41667.49
60 2015-10-01     41641.52
61 2016-01-01     41614.40
62 2016-04-01     41662.35
63 2016-07-01     42379.13
64 2016-10-01     41866.51
65 2017-01-01     42103.88
66 2017-04-01     42211.49
67 2017-07-01     42325.14
68 2017-10-01     41958.42
69 2018-01-01     42057.87
70 2018-04-01     41668.27
71 2018-07-01     41078.19
72 2018-10-01     41089.77
73 2019-01-01     40957.91
74 2019-04-01     40857.35
75 2019-07-01     41052.36
76 2019-10-01     40402.73
77 2020-01-01     40432.65
78 2020-04-01     40184.08
79 2020-07-01     39634.23
80 2020-10-01     39714.10
81 2021-01-01     55767.31
82 2021-04-01     55449.74
83 2021-07-01     54962.21
84 2021-10-01     59330.76
85 2022-01-01     58852.10
86 2022-04-01     58153.72
87 2022-07-01     57611.60
88 2022-10-01     56795.72
89 2023-01-01     55072.05
90 2023-04-01     54756.69
91 2023-07-01     53649.45
92 2023-10-01     52589.49
93 2024-01-01     50843.33

## Preprocessing the predictors CPI US: index_cpi_us 
This data is in monthly format. We calculated the quarterly mean.

### - Loading the data

In [45]:
index_cpi_us  = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'cpi_us'))
index_cpi_us  = index_cpi_us.dropna()
index_cpi_us.rename(columns = {"observation_date": "Date", "CPALTT01USM657N": "index_cpi_us",}, inplace = True)
index_cpi_us ['Date'] = pd.to_datetime(index_cpi_us['Date'])
index_cpi_us = index_cpi_us.set_index('Date')

### - Finding quarterly average from monthly data

In [46]:
index_cpi_us = index_cpi_us.resample('QS').mean()

### - Creating a sample of twenty years period

In [47]:
index_cpi_us = index_cpi_us['2001-01-01' : '2023-06-30']
print(index_cpi_us)

            index_cpi_us
Date
2001-01-01      0.419829
2001-04-01      0.339444
2001-07-01      0.056602
2001-10-01     -0.299975
2002-01-01      0.394686
...                  ...
2022-04-01      1.011404
2022-07-01      0.055942
2022-10-01     -0.000787
2023-01-01      0.562940
2023-04-01      0.360213

[90 rows x 1 columns]

In [48]:
%%R -i index_cpi_us

index_cpi_us_r <- ts(index_cpi_us, start = 2001, end = 2024, frequency =4)
index_cpi_us_r <-  as.data.frame(as_tibble(seas(index_cpi_us_r, x11= "",)))
index_cpi_us_r <-  index_cpi_us_r[-c(3:7)]
colnames(index_cpi_us_r)[1] = "Date"
colnames(index_cpi_us_r)[2] = "index_cpi_us_sea"
print(index_cpi_us_r)

         Date index_cpi_us_sea
1  2001-01-01      0.098147755
2  2001-04-01      0.313271519
3  2001-07-01      0.096393579
4  2001-10-01      0.008105738
5  2002-01-01      0.073489171
6  2002-04-01      0.173884151
7  2002-07-01      0.255127547
8  2002-10-01      0.280037698
9  2003-01-01      0.288185383
10 2003-04-01     -0.134926073
11 2003-07-01      0.343454698
12 2003-10-01      0.127261523
13 2004-01-01      0.242487052
14 2004-04-01      0.346903537
15 2004-07-01      0.132055402
16 2004-10-01      0.348847038
17 2005-01-01      0.222904600
18 2005-04-01      0.101203036
19 2005-07-01      0.880836190
20 2005-10-01     -0.085314528
21 2006-01-01      0.227371560
22 2006-04-01      0.371104973
23 2006-07-01      0.189727858
24 2006-10-01      0.038599663
25 2007-01-01      0.334895705
26 2007-04-01      0.311723141
27 2007-07-01      0.237425559
28 2007-10-01      0.442396912
29 2008-01-01      0.312517198
30 2008-04-01      0.657729782
31 2008-07-01      0.200012652
32 2008-10-01     -1.131608566
33 2009-01-01      0.154341830
34 2009-04-01      0.328641677
35 2009-07-01      0.219874003
36 2009-10-01      0.197521149
37 2010-01-01      0.004648901
38 2010-04-01     -0.046807056
39 2010-07-01      0.203726540
40 2010-10-01      0.344148993
41 2011-01-01      0.375567027
42 2011-04-01      0.263034085
43 2011-07-01      0.257442397
44 2011-10-01      0.101815062
45 2012-01-01      0.253923400
46 2012-04-01     -0.059860077
47 2012-07-01      0.342240741
48 2012-10-01      0.055654620
49 2013-01-01      0.168295114
50 2013-04-01      0.004833261
51 2013-07-01      0.155824455
52 2013-10-01      0.169088094
53 2014-01-01      0.191726157
54 2014-04-01      0.160572977
55 2014-07-01      0.027989541
56 2014-10-01     -0.141571999
57 2015-01-01     -0.050031408
58 2015-04-01      0.205092085
59 2015-07-01     -0.017645122
60 2015-10-01      0.090242676
61 2016-01-01      0.013415760
62 2016-04-01      0.251836208
63 2016-07-01      0.140069973
64 2016-10-01      0.260313114
65 2017-01-01      0.137225582
66 2017-04-01      0.007673049
67 2017-07-01      0.343516194
68 2017-10-01      0.196916949
69 2018-01-01      0.227550152
70 2018-04-01      0.177144617
71 2018-07-01      0.163456468
72 2018-10-01      0.061089160
73 2019-01-01      0.218714704
74 2019-04-01      0.080940492
75 2019-07-01      0.219049818
76 2019-10-01      0.249108930
77 2020-01-01     -0.039063087
78 2020-04-01     -0.236349393
79 2020-07-01      0.496392907
80 2020-10-01      0.236114486
81 2021-01-01      0.376675588
82 2021-04-01      0.626267207
83 2021-07-01      0.525461655
84 2021-10-01      0.749329178
85 2022-01-01      0.845259146
86 2022-04-01      0.777169679
87 2022-07-01      0.272594402
88 2022-10-01      0.199640374
89 2023-01-01      0.384574026
90 2023-04-01      0.116619597
91 2023-07-01      0.640840423
92 2023-10-01      0.544178463
93 2024-01-01     -0.127283579

## Preprocessing 3 predictors at once: 
Global energy index - index_energy, metal and minerals index- index_metal, precious metal index - index_precious
This data is in monthly format format, so we calculate the quarterly means.

### - Loading the data

In [49]:
three_x = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'monthly_indices'))
three_x = three_x.dropna()
three_x['Date'] = pd.to_datetime(three_x['Date'])
three_x = three_x.set_index('Date')
three_x.rename(columns = {"Energy": "index_energy", "Metals  & Minerals": "index_metal", "Precious Metals" : "index_precious"}, inplace = True)

### - Finding quarterly average from monthly data

In [50]:
three_x = three_x.resample('QS').mean()

### - Creating a sample of twenty years period

In [51]:
three_x = three_x['2001-01-01' : '2023-06-30']
print(three_x)

           index_energy index_metal index_precious
Date
2001-01-01    39.908913   37.514824      22.225362
2001-04-01    38.847583   35.850699       22.34024
2001-07-01    34.247092   32.716238      22.427525
2001-10-01    27.180842     31.4506      22.616555
2002-01-01     28.92824   33.278799       23.65152
...                 ...         ...            ...
2022-04-01   163.433933  125.418138     142.282967
2022-07-01    167.56567  100.579267      129.52176
2022-10-01   138.843977   101.53573     131.772869
2023-01-01   111.096934  111.485978     143.121441
2023-04-01   100.448766  103.036955     150.513912

[90 rows x 3 columns]

In [52]:
%%R -i three_x

three_x_index_energy_r <- three_x[1]
three_x_index_energy_r <- ts(three_x_index_energy_r, start = 2001, end = 2024, frequency =4)
three_x_index_energy_r <-  as.data.frame(as_tibble(seas(three_x_index_energy_r, x11= "",)))
three_x_index_energy_r <-  three_x_index_energy_r[-c(3:7)]
colnames(three_x_index_energy_r)[1] = "Date"
colnames(three_x_index_energy_r)[2] = "index_energy_sea"
print(three_x_index_energy_r)

C:\Users\asifr\AppData\Local\anaconda3\Lib\site-packages\rpy2\robjects\pandas2ri.py:65: UserWarning: Error while trying to convert the column "index_energy". Fall back to string conversion. The error is: <class 'float'>
  warnings.warn('Error while trying to convert '
C:\Users\asifr\AppData\Local\anaconda3\Lib\site-packages\rpy2\robjects\pandas2ri.py:65: UserWarning: Error while trying to convert the column "index_metal". Fall back to string conversion. The error is: <class 'float'>
  warnings.warn('Error while trying to convert '
C:\Users\asifr\AppData\Local\anaconda3\Lib\site-packages\rpy2\robjects\pandas2ri.py:65: UserWarning: Error while trying to convert the column "index_precious". Fall back to string conversion. The error is: <class 'float'>
  warnings.warn('Error while trying to convert '

         Date index_energy_sea
1  2001-01-01        37.365113
2  2001-04-01        36.369764
3  2001-07-01        31.625120
4  2001-10-01        29.522924
5  2002-01-01        29.581693
6  2002-04-01        31.382044
7  2002-07-01        32.301880
8  2002-10-01        34.560932
9  2003-01-01        42.127864
10 2003-04-01        35.192375
11 2003-07-01        37.635686
12 2003-10-01        40.795516
13 2004-01-01        44.032014
14 2004-04-01        43.738530
15 2004-07-01        44.778853
16 2004-10-01        52.099487
17 2005-01-01        58.325200
18 2005-04-01        59.846850
19 2005-07-01        74.122721
20 2005-10-01        74.325101
21 2006-01-01        75.538602
22 2006-04-01        79.061438
23 2006-07-01        76.682609
24 2006-10-01        70.454311
25 2007-01-01        72.304793
26 2007-04-01        79.450767
27 2007-07-01        83.734652
28 2007-10-01         6.493442
29 2008-01-01        12.328865
30 2008-04-01        23.219768
31 2008-07-01        22.292780
32 2008-10-01        72.402386
33 2009-01-01        57.596086
34 2009-04-01        60.375135
35 2009-07-01        74.295146
36 2009-10-01        85.091253
37 2010-01-01        91.346829
38 2010-04-01        88.141666
39 2010-07-01        87.089869
40 2010-10-01         3.783597
41 2011-01-01        11.128069
42 2011-04-01        22.897614
43 2011-07-01        19.759907
44 2011-10-01        17.358019
45 2012-01-01        23.488692
46 2012-04-01        10.354266
47 2012-07-01        12.145954
48 2012-10-01        17.952195
49 2013-01-01        19.417025
50 2013-04-01         8.436999
51 2013-07-01        15.454964
52 2013-10-01        13.480633
53 2014-01-01        13.568810
54 2014-04-01        15.634415
55 2014-07-01         7.380806
56 2014-10-01        85.230961
57 2015-01-01        60.814254
58 2015-04-01        64.659170
59 2015-07-01        53.296301
60 2015-10-01        45.063480
61 2016-01-01        42.100277
62 2016-04-01        47.583857
63 2016-07-01        50.209794
64 2016-10-01        56.074310
65 2017-01-01        60.080516
66 2017-04-01        54.769306
67 2017-07-01        57.970656
68 2017-10-01        66.340665
69 2018-01-01        75.706928
70 2018-04-01        83.116319
71 2018-07-01        84.633468
72 2018-10-01        77.865758
73 2019-01-01        70.214982
74 2019-04-01        74.372401
75 2019-07-01        61.296554
76 2019-10-01        64.328854
77 2020-01-01        52.043010
78 2020-04-01        37.293211
79 2020-07-01        44.194204
80 2020-10-01        49.553093
81 2021-01-01        65.982930
82 2021-04-01        79.331411
83 2021-07-01         1.035269
84 2021-10-01         6.603307
85 2022-01-01        22.153428
86 2022-04-01        27.161063
87 2022-07-01        27.104929
88 2022-10-01        21.486896
89 2023-01-01         4.319581
90 2023-04-01         1.124914
91 2023-07-01        37.118059
92 2023-10-01        36.196411
93 2024-01-01        32.729647

In [53]:
%%R -i three_x

three_x_index_metal_r <- three_x[2]
three_x_index_metal_r <- ts(three_x_index_metal_r, start = 2001, end = 2024, frequency =4)
three_x_index_metal_r <-  as.data.frame(as_tibble(seas(three_x_index_metal_r, x11= "",)))
three_x_index_metal_r <-  three_x_index_metal_r[-c(3:7)]
colnames(three_x_index_metal_r)[1] = "Date"
colnames(three_x_index_metal_r)[2] = "index_metal_sea"
print(three_x_index_metal_r)

         Date index_metal_sea
1  2001-01-01       32.400043
2  2001-04-01       31.455034
3  2001-07-01       27.302007
4  2001-10-01       24.809339
5  2002-01-01       26.429118
6  2002-04-01       28.561953
7  2002-07-01       26.088024
8  2002-10-01       27.841472
9  2003-01-01       29.667868
10 2003-04-01       29.550420
11 2003-07-01       33.668185
12 2003-10-01       35.983144
13 2004-01-01       36.135012
14 2004-04-01       35.322217
15 2004-07-01       38.172438
16 2004-10-01       41.254227
17 2005-01-01       42.771768
18 2005-04-01       39.765434
19 2005-07-01       44.858712
20 2005-10-01       52.466350
21 2006-01-01       58.391742
22 2006-04-01       80.182152
23 2006-07-01       87.752335
24 2006-10-01        4.623511
25 2007-01-01        1.789723
26 2007-04-01       10.598237
27 2007-07-01        8.016671
28 2007-10-01       11.641296
29 2008-01-01       16.705486
30 2008-04-01       16.453611
31 2008-07-01        9.473353
32 2008-10-01       47.518966
33 2009-01-01       39.204166
34 2009-04-01       44.636506
35 2009-07-01       60.113484
36 2009-10-01       73.144309
37 2010-01-01       83.509267
38 2010-04-01       87.313383
39 2010-07-01       86.518972
40 2010-10-01       11.593241
41 2011-01-01       20.077059
42 2011-04-01       16.086691
43 2011-07-01       15.521900
44 2011-10-01       87.007855
45 2012-01-01        4.156944
46 2012-04-01       85.778732
47 2012-07-01       81.063701
48 2012-10-01       82.556207
49 2013-01-01       89.723253
50 2013-04-01       78.062114
51 2013-07-01       77.503147
52 2013-10-01       78.254291
53 2014-01-01       73.447920
54 2014-04-01       71.146755
55 2014-07-01       74.858543
56 2014-10-01       67.343778
57 2015-01-01       56.944397
58 2015-04-01       53.889892
59 2015-07-01       49.555853
60 2015-10-01       43.743314
61 2016-01-01       42.986951
62 2016-04-01       47.508252
63 2016-07-01       48.598736
64 2016-10-01       53.258876
65 2017-01-01       60.659957
66 2017-04-01       54.109117
67 2017-07-01       67.022642
68 2017-10-01       70.557461
69 2018-01-01       76.267794
70 2018-04-01       72.791277
71 2018-07-01       64.420211
72 2018-10-01       62.914431
73 2019-01-01       64.827056
74 2019-04-01       64.430301
75 2019-07-01       63.875134
76 2019-10-01       62.263935
77 2020-01-01       56.381468
78 2020-04-01       50.156880
79 2020-07-01       70.200204
80 2020-10-01       82.583801
81 2021-01-01        5.975979
82 2021-04-01       18.017895
83 2021-07-01       19.499237
84 2021-10-01       16.696684
85 2022-01-01       21.711028
86 2022-04-01       19.973196
87 2022-07-01        3.624211
88 2022-10-01        5.892569
89 2023-01-01       10.418087
90 2023-04-01        3.925616
91 2023-07-01       35.822886
92 2023-10-01       34.019281
93 2024-01-01       24.128691

In [54]:
%%R -i three_x

three_x_index_precious_r <- three_x[2]
three_x_index_precious_r <- ts(three_x_index_precious_r, start = 2001, end = 2024, frequency =4)
three_x_index_precious_r <-  as.data.frame(as_tibble(seas(three_x_index_precious_r, x11= "",)))
three_x_index_precious_r <-  three_x_index_precious_r[-c(3:7)]
colnames(three_x_index_precious_r)[1] = "Date"
colnames(three_x_index_precious_r)[2] = "index_precious_sea"
print(three_x_index_precious_r)

         Date index_precious_sea
1  2001-01-01          32.400043
2  2001-04-01          31.455034
3  2001-07-01          27.302007
4  2001-10-01          24.809339
5  2002-01-01          26.429118
6  2002-04-01          28.561953
7  2002-07-01          26.088024
8  2002-10-01          27.841472
9  2003-01-01          29.667868
10 2003-04-01          29.550420
11 2003-07-01          33.668185
12 2003-10-01          35.983144
13 2004-01-01          36.135012
14 2004-04-01          35.322217
15 2004-07-01          38.172438
16 2004-10-01          41.254227
17 2005-01-01          42.771768
18 2005-04-01          39.765434
19 2005-07-01          44.858712
20 2005-10-01          52.466350
21 2006-01-01          58.391742
22 2006-04-01          80.182152
23 2006-07-01          87.752335
24 2006-10-01           4.623511
25 2007-01-01           1.789723
26 2007-04-01          10.598237
27 2007-07-01           8.016671
28 2007-10-01          11.641296
29 2008-01-01          16.705486
30 2008-04-01          16.453611
31 2008-07-01           9.473353
32 2008-10-01          47.518966
33 2009-01-01          39.204166
34 2009-04-01          44.636506
35 2009-07-01          60.113484
36 2009-10-01          73.144309
37 2010-01-01          83.509267
38 2010-04-01          87.313383
39 2010-07-01          86.518972
40 2010-10-01          11.593241
41 2011-01-01          20.077059
42 2011-04-01          16.086691
43 2011-07-01          15.521900
44 2011-10-01          87.007855
45 2012-01-01           4.156944
46 2012-04-01          85.778732
47 2012-07-01          81.063701
48 2012-10-01          82.556207
49 2013-01-01          89.723253
50 2013-04-01          78.062114
51 2013-07-01          77.503147
52 2013-10-01          78.254291
53 2014-01-01          73.447920
54 2014-04-01          71.146755
55 2014-07-01          74.858543
56 2014-10-01          67.343778
57 2015-01-01          56.944397
58 2015-04-01          53.889892
59 2015-07-01          49.555853
60 2015-10-01          43.743314
61 2016-01-01          42.986951
62 2016-04-01          47.508252
63 2016-07-01          48.598736
64 2016-10-01          53.258876
65 2017-01-01          60.659957
66 2017-04-01          54.109117
67 2017-07-01          67.022642
68 2017-10-01          70.557461
69 2018-01-01          76.267794
70 2018-04-01          72.791277
71 2018-07-01          64.420211
72 2018-10-01          62.914431
73 2019-01-01          64.827056
74 2019-04-01          64.430301
75 2019-07-01          63.875134
76 2019-10-01          62.263935
77 2020-01-01          56.381468
78 2020-04-01          50.156880
79 2020-07-01          70.200204
80 2020-10-01          82.583801
81 2021-01-01           5.975979
82 2021-04-01          18.017895
83 2021-07-01          19.499237
84 2021-10-01          16.696684
85 2022-01-01          21.711028
86 2022-04-01          19.973196
87 2022-07-01           3.624211
88 2022-10-01           5.892569
89 2023-01-01          10.418087
90 2023-04-01           3.925616
91 2023-07-01          35.822886
92 2023-10-01          34.019281
93 2024-01-01          24.128691

## Preprocessing the predictors non-opec supply change: del_supply_nonopec
This data is in quarterly format

In [55]:
del_supply_nonopec = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'del_nonopec_supply', usecols= "A, B"))
del_supply_nonopecsupply = del_supply_nonopec.dropna()
del_supply_nonopec['Date'] = pd.to_datetime(del_supply_nonopec['Date'], format = "mixed")
del_supply_nonopec = del_supply_nonopec.set_index('Date')
del_supply_nonopec.rename(columns = {"non-OPEC Production change": "del_supply_nonopec"}, inplace = True)
del_supply_nonopec = del_supply_nonopec['2001-01-01' : '2023-06-30']
print(del_supply_nonopec)

            del_supply_nonopec
Date
2020-10-01               -4.61
2020-07-01               -3.88
2020-04-01               -3.94
2020-01-01                2.45
2019-10-01                1.84
...                        ...
2002-01-01                0.80
2001-10-01                0.64
2001-07-01                0.59
2001-04-01                0.48
2001-01-01                0.72

[80 rows x 1 columns]

In [56]:
%%R -i del_supply_nonopec

del_supply_nonopec_r <- ts(del_supply_nonopec, start = 2001, end = 2024, frequency =4)
del_supply_nonopec_r <-  as.data.frame(as_tibble(seas(del_supply_nonopec_r, x11= "",)))
del_supply_nonopec_r <-  del_supply_nonopec_r[-c(3:7)]
colnames(del_supply_nonopec_r)[1] = "Date"
colnames(del_supply_nonopec_r)[2] = "del_supply_nonopec_sea"
print(del_supply_nonopec_r)

         Date del_supply_nonopec_sea
1  2001-01-01           -4.590593716
2  2001-04-01           -3.925123274
3  2001-07-01           -3.906609925
4  2001-10-01            2.443345069
5  2002-01-01            1.855197287
6  2002-04-01            1.490507391
7  2002-07-01            2.134358746
8  2002-10-01            2.336806032
9  2003-01-01            3.539007537
10 2003-04-01            3.441042999
11 2003-07-01            2.589841451
12 2003-10-01            1.741814392
13 2004-01-01            1.037256490
14 2004-04-01            1.014522132
15 2004-07-01            0.961901913
16 2004-10-01           -0.004377921
17 2005-01-01           -0.520043589
18 2005-04-01           -1.165879758
19 2005-07-01           -0.893175159
20 2005-10-01           -0.065869175
21 2006-01-01            0.418106117
22 2006-04-01            1.394715316
23 2006-07-01            1.616265804
24 2006-10-01            2.427840202
25 2007-01-01            2.796401784
26 2007-04-01            2.343534823
27 2007-07-01            2.624685307
28 2007-10-01            2.316377274
29 2008-01-01            1.958188014
30 2008-04-01            2.361348433
31 2008-07-01            1.573555571
32 2008-10-01            0.591597301
33 2009-01-01            1.167955461
34 2009-04-01            0.522018411
35 2009-07-01            0.697658250
36 2009-10-01            0.847110600
37 2010-01-01            0.274854309
38 2010-04-01            0.270691504
39 2010-07-01            0.235897058
40 2010-10-01            0.970077357
41 2011-01-01            1.736982102
42 2011-04-01            1.700520810
43 2011-07-01            1.859191550
44 2011-10-01            1.678800646
45 2012-01-01            1.343225816
46 2012-04-01            1.407090204
47 2012-07-01            0.467593523
48 2012-10-01            0.311760092
49 2013-01-01           -0.028090496
50 2013-04-01           -0.068877104
51 2013-07-01           -0.146143203
52 2013-10-01            0.128702824
53 2014-01-01            0.105458627
54 2014-04-01           -0.107566470
55 2014-07-01            0.428327544
56 2014-10-01            0.684634502
57 2015-01-01            1.034706314
58 2015-04-01            1.271069292
59 2015-07-01           -0.628544596
60 2015-10-01           -0.038762403
61 2016-01-01           -0.742973265
62 2016-04-01           -0.273134123
63 2016-07-01            0.345347567
64 2016-10-01            0.262693876
65 2017-01-01            0.515541533
66 2017-04-01            0.925262874
67 2017-07-01            1.517347870
68 2017-10-01            1.307007226
69 2018-01-01            1.657304956
70 2018-04-01            1.321318697
71 2018-07-01            0.101165321
72 2018-10-01            1.245369749
73 2019-01-01            0.784421482
74 2019-04-01            0.771195760
75 2019-07-01            1.391011654
76 2019-10-01            0.890509961
77 2020-01-01            0.687551304
78 2020-04-01            0.605329878
79 2020-07-01            0.349441570
80 2020-10-01            0.782526953
81 2021-01-01           -4.564120694
82 2021-04-01           -3.870878295
83 2021-07-01           -4.030053506
84 2021-10-01            2.478518903
85 2022-01-01            1.884560171
86 2022-04-01            1.534328540
87 2022-07-01            2.048974759
88 2022-10-01            2.344430157
89 2023-01-01            3.568222183
90 2023-04-01            3.473606323
91 2023-07-01            2.549457686
92 2023-10-01            1.711086141
93 2024-01-01            1.072645573

## Preprocessing 2 predictors at once: capacity change nonopec, world gdp
These variables are in quarterly format

In [57]:
two_x_2 = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'capacity', usecols= "A, C, D"))
two_x_2 = two_x_2.dropna()
two_x_2['Date'] = pd.to_datetime(two_x_2['Date'], format ="mixed")
two_x_2 = two_x_2.set_index('Date')
two_x_2.rename(columns = {"Capacity percent change": "del_cap_per", "World GDP Change": "del_world_gdp_per"}, inplace = True)
two_x_2 = two_x_2['2001-01-01' : '2023-06-30']
print(two_x_2)

            del_cap_per  del_world_gdp_per
Date
2020-10-01        -4.69              -0.22
2020-07-01        -4.35              -2.09
2020-04-01        -4.93              -8.45
2020-01-01         1.45              -1.42
2019-10-01         0.58               2.42
...                 ...                ...
2002-01-01         0.84               2.19
2001-10-01         1.04               1.80
2001-07-01         0.98               2.10
2001-04-01         0.85               2.60
2001-01-01         1.15               3.40

[80 rows x 2 columns]

In [58]:
%%R -i two_x_2

two_x_2_del_cap_per_r <- two_x_2[1]
two_x_2_del_cap_per_r <- ts(two_x_2_del_cap_per_r, start = 2001, end = 2024, frequency =4)
two_x_2_del_cap_per_r <-  as.data.frame(as_tibble(seas(two_x_2_del_cap_per_r, x11= "",)))
two_x_2_del_cap_per_r <-  two_x_2_del_cap_per_r[-c(3:7)]
colnames(two_x_2_del_cap_per_r)[1] = "Date"
colnames(two_x_2_del_cap_per_r)[2] = "del_cap_per_sea"
print(two_x_2_del_cap_per_r)

         Date del_cap_per_sea
1  2001-01-01    -4.634594574
2  2001-04-01    -4.346484686
3  2001-07-01    -4.944047789
4  2001-10-01     1.413974087
5  2002-01-01     0.622355271
6  2002-04-01    -0.357544015
7  2002-07-01     1.004866388
8  2002-10-01     1.064471852
9  2003-01-01     2.104959247
10 2003-04-01     2.262144376
11 2003-07-01     2.072452058
12 2003-10-01     1.783437114
13 2004-01-01     1.625949603
14 2004-04-01     2.385538556
15 2004-07-01     1.721421355
16 2004-10-01     0.614603148
17 2005-01-01     0.234099257
18 2005-04-01    -0.977616592
19 2005-07-01    -0.277954398
20 2005-10-01     1.046042985
21 2006-01-01     0.944783381
22 2006-04-01     2.220554421
23 2006-07-01     2.574524748
24 2006-10-01     3.013201835
25 2007-01-01     4.121519626
26 2007-04-01     2.801699836
27 2007-07-01     1.710078747
28 2007-10-01     1.554123769
29 2008-01-01     0.605779612
30 2008-04-01     1.243302820
31 2008-07-01     0.901400759
32 2008-10-01     0.054958706
33 2009-01-01     0.955296817
34 2009-04-01     1.098268646
35 2009-07-01     1.733081031
36 2009-10-01     0.551152111
37 2010-01-01    -0.696674805
38 2010-04-01    -1.222791502
39 2010-07-01    -1.657883654
40 2010-10-01     0.657451999
41 2011-01-01     2.186576205
42 2011-04-01     2.931503672
43 2011-07-01     4.435971393
44 2011-10-01     4.240312560
45 2012-01-01     3.581700918
46 2012-04-01     2.821768269
47 2012-07-01     0.678893322
48 2012-10-01     0.335689859
49 2013-01-01     0.464499141
50 2013-04-01     0.837960540
51 2013-07-01     0.753207684
52 2013-10-01     1.139386254
53 2014-01-01     0.686080639
54 2014-04-01    -0.024875415
55 2014-07-01     0.850251188
56 2014-10-01     0.961291635
57 2015-01-01     1.318146111
58 2015-04-01     1.506828452
59 2015-07-01    -0.810263573
60 2015-10-01    -0.035709922
61 2016-01-01     0.449185369
62 2016-04-01     1.197989673
63 2016-07-01     1.823416044
64 2016-10-01     1.208202968
65 2017-01-01     1.416324468
66 2017-04-01     3.240940774
67 2017-07-01     5.183532076
68 2017-10-01     3.849869493
69 2018-01-01     0.968823969
70 2018-04-01    -1.505123315
71 2018-07-01    -4.214725269
72 2018-10-01    -2.057912910
73 2019-01-01    -0.004478417
74 2019-04-01     0.802602779
75 2019-07-01     1.681242556
76 2019-10-01     0.872583361
77 2020-01-01     1.098021993
78 2020-04-01     0.978966425
79 2020-07-01     0.788533344
80 2020-10-01     1.169687895
81 2021-01-01    -4.653505457
82 2021-04-01    -4.389847891
83 2021-07-01    -4.913942154
84 2021-10-01     1.461996740
85 2022-01-01     0.579140369
86 2022-04-01    -0.427311963
87 2022-07-01     1.093059506
88 2022-10-01     1.104696159
89 2023-01-01     2.035292939
90 2023-04-01     2.182215541
91 2023-07-01     2.210649660
92 2023-10-01     1.784687893
93 2024-01-01     1.567952310

In [59]:
%%R -i two_x_2

two_x_2_del_world_gdp_per_r <- two_x_2[1]
two_x_2_del_world_gdp_per_r <- ts(two_x_2_del_world_gdp_per_r, start = 2001, end = 2024, frequency =4)
two_x_2_del_world_gdp_per_r <-  as.data.frame(as_tibble(seas(two_x_2_del_world_gdp_per_r, x11= "",)))
two_x_2_del_world_gdp_per_r <-  two_x_2_del_world_gdp_per_r[-c(3:7)]
colnames(two_x_2_del_world_gdp_per_r)[1] = "Date"
colnames(two_x_2_del_world_gdp_per_r)[2] = "del_world_gdp_per_sea"
print(two_x_2_del_world_gdp_per_r)

         Date del_world_gdp_per_sea
1  2001-01-01          -4.634594574
2  2001-04-01          -4.346484686
3  2001-07-01          -4.944047789
4  2001-10-01           1.413974087
5  2002-01-01           0.622355271
6  2002-04-01          -0.357544015
7  2002-07-01           1.004866388
8  2002-10-01           1.064471852
9  2003-01-01           2.104959247
10 2003-04-01           2.262144376
11 2003-07-01           2.072452058
12 2003-10-01           1.783437114
13 2004-01-01           1.625949603
14 2004-04-01           2.385538556
15 2004-07-01           1.721421355
16 2004-10-01           0.614603148
17 2005-01-01           0.234099257
18 2005-04-01          -0.977616592
19 2005-07-01          -0.277954398
20 2005-10-01           1.046042985
21 2006-01-01           0.944783381
22 2006-04-01           2.220554421
23 2006-07-01           2.574524748
24 2006-10-01           3.013201835
25 2007-01-01           4.121519626
26 2007-04-01           2.801699836
27 2007-07-01           1.710078747
28 2007-10-01           1.554123769
29 2008-01-01           0.605779612
30 2008-04-01           1.243302820
31 2008-07-01           0.901400759
32 2008-10-01           0.054958706
33 2009-01-01           0.955296817
34 2009-04-01           1.098268646
35 2009-07-01           1.733081031
36 2009-10-01           0.551152111
37 2010-01-01          -0.696674805
38 2010-04-01          -1.222791502
39 2010-07-01          -1.657883654
40 2010-10-01           0.657451999
41 2011-01-01           2.186576205
42 2011-04-01           2.931503672
43 2011-07-01           4.435971393
44 2011-10-01           4.240312560
45 2012-01-01           3.581700918
46 2012-04-01           2.821768269
47 2012-07-01           0.678893322
48 2012-10-01           0.335689859
49 2013-01-01           0.464499141
50 2013-04-01           0.837960540
51 2013-07-01           0.753207684
52 2013-10-01           1.139386254
53 2014-01-01           0.686080639
54 2014-04-01          -0.024875415
55 2014-07-01           0.850251188
56 2014-10-01           0.961291635
57 2015-01-01           1.318146111
58 2015-04-01           1.506828452
59 2015-07-01          -0.810263573
60 2015-10-01          -0.035709922
61 2016-01-01           0.449185369
62 2016-04-01           1.197989673
63 2016-07-01           1.823416044
64 2016-10-01           1.208202968
65 2017-01-01           1.416324468
66 2017-04-01           3.240940774
67 2017-07-01           5.183532076
68 2017-10-01           3.849869493
69 2018-01-01           0.968823969
70 2018-04-01          -1.505123315
71 2018-07-01          -4.214725269
72 2018-10-01          -2.057912910
73 2019-01-01          -0.004478417
74 2019-04-01           0.802602779
75 2019-07-01           1.681242556
76 2019-10-01           0.872583361
77 2020-01-01           1.098021993
78 2020-04-01           0.978966425
79 2020-07-01           0.788533344
80 2020-10-01           1.169687895
81 2021-01-01          -4.653505457
82 2021-04-01          -4.389847891
83 2021-07-01          -4.913942154
84 2021-10-01           1.461996740
85 2022-01-01           0.579140369
86 2022-04-01          -0.427311963
87 2022-07-01           1.093059506
88 2022-10-01           1.104696159
89 2023-01-01           2.035292939
90 2023-04-01           2.182215541
91 2023-07-01           2.210649660
92 2023-10-01           1.784687893
93 2024-01-01           1.567952310

## Preprocessing the predictors- change in saudi supply: del_supply_saudi
This data is in quarterly format

In [60]:
del_supply_saudi = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'saudi_production', usecols= "A, C"))
del_supply_saudi = del_supply_saudi.dropna()
del_supply_saudi['Date'] = pd.to_datetime(del_supply_saudi['Date'], format ="mixed")
del_supply_saudi = del_supply_saudi.set_index('Date')
del_supply_saudi.rename(columns = {"Saudi Production Change": "del_supply_saudi",}, inplace = True)
del_supply_saudi = del_supply_saudi['2001-01-01' : '2023-06-30']
print(del_supply_saudi)

            del_supply_saudi
Date
2020-10-01             -0.82
2020-07-01             -0.61
2020-04-01             -0.64
2020-01-01             -0.20
2019-10-01             -0.90
...                      ...
2002-01-01             -1.17
2001-10-01             -1.19
2001-07-01             -0.68
2001-04-01             -0.18
2001-01-01              0.58

[80 rows x 1 columns]

In [61]:
%%R -i del_supply_saudi

del_supply_saudi_r <- ts(del_supply_saudi, start = 2001, end = 2024, frequency =4)
del_supply_saudi_r <-  as.data.frame(as_tibble(seas(del_supply_saudi_r, x11= "",)))
del_supply_saudi_r <-  del_supply_saudi_r[-c(3:7)]
colnames(del_supply_saudi_r)[1] = "Date"
colnames(del_supply_saudi_r)[2] = "del_supply_saudi_sea"
print(del_supply_saudi_r)

         Date del_supply_saudi_sea
1  2001-01-01          -0.86726461
2  2001-04-01          -0.52348929
3  2001-07-01          -0.63723879
4  2001-10-01          -0.23761170
5  2002-01-01          -0.95097483
6  2002-04-01          -1.01792395
7  2002-07-01          -0.27462941
8  2002-10-01          -0.14684222
9  2003-01-01           0.58351045
10 2003-04-01           0.37733749
11 2003-07-01           0.11346861
12 2003-10-01           0.09451121
13 2004-01-01          -0.48058880
14 2004-04-01          -0.34885519
15 2004-07-01          -0.23814165
16 2004-10-01          -0.25146782
17 2005-01-01           0.38415256
18 2005-04-01           0.37160724
19 2005-07-01           0.05021598
20 2005-10-01           0.37725932
21 2006-01-01           0.46755338
22 2006-04-01           0.63961489
23 2006-07-01           0.63641453
24 2006-10-01          -0.01931569
25 2007-01-01          -0.18659012
26 2007-04-01          -0.36485971
27 2007-07-01           0.05662257
28 2007-10-01           0.67316240
29 2008-01-01           0.30595275
30 2008-04-01           0.21903408
31 2008-07-01          -0.23937258
32 2008-10-01          -0.85982537
33 2009-01-01          -0.20336350
34 2009-04-01           0.11498918
35 2009-07-01           0.71938379
36 2009-10-01           1.02216963
37 2010-01-01           1.48715358
38 2010-04-01           1.62864010
39 2010-07-01           0.97460676
40 2010-10-01           0.72420727
41 2011-01-01          -0.03498163
42 2011-04-01          -0.21065343
43 2011-07-01           0.02689085
44 2011-10-01           0.05108082
45 2012-01-01          -0.66733128
46 2012-04-01          -1.16032513
47 2012-07-01          -1.19600461
48 2012-10-01          -1.14325093
49 2013-01-01          -0.01460013
50 2013-04-01           0.92255554
51 2013-07-01           0.69973134
52 2013-10-01           0.53924730
53 2014-01-01           0.18573748
54 2014-04-01          -0.49962780
55 2014-07-01          -0.66436796
56 2014-10-01          -0.76918977
57 2015-01-01          -0.70381810
58 2015-04-01          -0.34582236
59 2015-07-01          -0.45444226
60 2015-10-01          -0.09551144
61 2016-01-01           0.03383942
62 2016-04-01           0.15875888
63 2016-07-01           0.70495635
64 2016-10-01           0.89100600
65 2017-01-01           1.01777010
66 2017-04-01           1.05204429
67 2017-07-01          -0.47407068
68 2017-10-01          -0.31958492
69 2018-01-01           0.58199059
70 2018-04-01           0.83348599
71 2018-07-01           1.57113926
72 2018-10-01           1.57498820
73 2019-01-01           0.44791954
74 2019-04-01          -0.16863086
75 2019-07-01          -0.66639532
76 2019-10-01          -1.22019743
77 2020-01-01          -1.10285650
78 2020-04-01          -0.57681795
79 2020-07-01          -0.31785816
80 2020-10-01           0.51819374
81 2021-01-01          -0.72095898
82 2021-04-01          -0.50403067
83 2021-07-01          -0.78147531
84 2021-10-01          -0.27272695
85 2022-01-01          -0.78694628
86 2022-04-01          -0.99951477
87 2022-07-01          -0.41626199
88 2022-10-01          -0.19330922
89 2023-01-01           0.75117562
90 2023-04-01           0.39367107
91 2023-07-01          -0.01387573
92 2023-10-01           0.04037208
93 2024-01-01          -0.32503005

## Preprocessing the predictors-  opec spare capacity: opec_spare_capacity
This data is in quarterly format

In [62]:
opec_spare_capacity = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'opec_spare_capacity', usecols= "A, C"))
opec_spare_capacity = opec_spare_capacity.dropna()
opec_spare_capacity['Date'] = pd.to_datetime(opec_spare_capacity['Date'], format ="mixed")
opec_spare_capacity = opec_spare_capacity.set_index('Date')
opec_spare_capacity.rename(columns = {"Spare Capacity": "opec_spare_capacity",}, inplace = True)
opec_spare_capacity = opec_spare_capacity['2001-01-01' : '2023-06-30']
print(opec_spare_capacity)

            opec_spare_capacity
Date
2020-10-01                 6.22
2020-07-01                 6.98
2020-04-01                 5.49
2020-01-01                 2.78
2019-10-01                 2.07
...                         ...
2002-01-01                 6.10
2001-10-01                 5.21
2001-07-01                 4.44
2001-04-01                 4.65
2001-01-01                 3.63

[80 rows x 1 columns]

In [63]:
%%R -i opec_spare_capacity

opec_spare_capacity_r <- ts(opec_spare_capacity, start = 2001, end = 2024, frequency =4)
opec_spare_capacity_r <-  as.data.frame(as_tibble(seas(opec_spare_capacity_r, x11= "",)))
opec_spare_capacity_r <-  opec_spare_capacity_r[-c(3:7)]
colnames(opec_spare_capacity_r)[1] = "Date"
colnames(opec_spare_capacity_r)[2] = "opec_spare_capacity_sea"
print(opec_spare_capacity_r)

         Date opec_spare_capacity_sea
1  2001-01-01               7.0660540
2  2001-04-01               6.7507148
3  2001-07-01               4.8825936
4  2001-10-01               2.9103868
5  2002-01-01               2.3101391
6  2002-04-01               2.2340790
7  2002-07-01               2.2029592
8  2002-10-01               2.2728285
9  2003-01-01               1.0310253
10 2003-04-01               1.3368276
11 2003-07-01               1.6402406
12 2003-10-01               1.8451373
13 2004-01-01               2.3878072
14 2004-04-01               2.1896706
15 2004-07-01               2.1407568
16 2004-10-01               2.3558707
17 2005-01-01               1.2556667
18 2005-04-01               1.2740652
19 2005-07-01               1.5113102
20 2005-10-01               1.6179169
21 2006-01-01               1.6504519
22 2006-04-01               1.6292039
23 2006-07-01               1.5814889
24 2006-10-01               2.0907047
25 2007-01-01               2.3176810
26 2007-04-01               2.6575630
27 2007-07-01               2.5841912
28 2007-10-01               2.3525429
29 2008-01-01               2.5096551
30 2008-04-01               2.4511478
31 2008-07-01               2.7979552
32 2008-10-01               3.1402655
33 2009-01-01               2.7633551
34 2009-04-01               2.6659235
35 2009-07-01               2.5836232
36 2009-10-01               2.5552393
37 2010-01-01               3.2045226
38 2010-04-01               3.4312134
39 2010-07-01               3.8575237
40 2010-10-01               4.2860961
41 2011-01-01               5.2104292
42 2011-04-01               5.7260921
43 2011-07-01               5.3646149
44 2011-10-01               4.9466179
45 2012-01-01               4.8557173
46 2012-04-01               4.6984970
47 2012-07-01               3.7420569
48 2012-10-01               3.5659659
49 2013-01-01               2.0120517
50 2013-04-01               1.2600539
51 2013-07-01               1.3563850
52 2013-10-01               1.4082334
53 2014-01-01               1.6747842
54 2014-04-01               2.2960447
55 2014-07-01               2.1655782
56 2014-10-01               2.1342748
57 2015-01-01               2.0402480
58 2015-04-01               1.4846986
59 2015-07-01               1.2836118
60 2015-10-01               1.0472433
61 2016-01-01               1.0196648
62 2016-04-01               1.0253295
63 2016-07-01               0.9808066
64 2016-10-01               1.0445101
65 2017-01-01               0.6980958
66 2017-04-01               0.7418786
67 2017-07-01               1.6010630
68 2017-10-01               1.8319803
69 2018-01-01               2.0206587
70 2018-04-01               2.2940686
71 2018-07-01               1.3264572
72 2018-10-01               2.0611980
73 2019-01-01               4.5693134
74 2019-04-01               5.8279356
75 2019-07-01               6.4653768
76 2019-10-01               6.3343961
77 2020-01-01               5.3256900
78 2020-04-01               4.3057922
79 2020-07-01               4.4423566
80 2020-10-01               3.8613508
81 2021-01-01               6.4507095
82 2021-04-01               6.6398846
83 2021-07-01               5.2015205
84 2021-10-01               2.9693063
85 2022-01-01               2.1965930
86 2022-04-01               2.1525996
87 2022-07-01               2.2918322
88 2022-10-01               2.3508209
89 2023-01-01               1.0263664
90 2023-04-01               1.2463049
91 2023-07-01               1.6656418
92 2023-10-01               1.9584436
93 2024-01-01               2.4614183

## Preprocessing the predictors-  oecd inventory: oecd_inventory
This is a monthly data, we have to calculate the quaterly mean

In [64]:
oecd_inventory = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'oecd_inventory', usecols= "A, B"))
oecd_inventory = oecd_inventory.dropna()
oecd_inventory['Date'] = pd.to_datetime(oecd_inventory['Date'], format ="mixed")
oecd_inventory = oecd_inventory.set_index('Date')
oecd_inventory = oecd_inventory.resample('QS').mean()
oecd_inventory = oecd_inventory['2001-01-01' : '2023-06-30']
print(oecd_inventory)

            oecd_inventory
Date
2001-01-01     3819.207000
2001-04-01     3890.611667
2001-07-01     3929.645333
2001-10-01     3963.919000
2002-01-01     3962.906333
...                    ...
2019-10-01     4413.825366
2020-01-01     4456.016624
2020-04-01     4736.158983
2020-07-01     4763.088421
2020-10-01     4630.883993

[80 rows x 1 columns]

In [65]:
%%R -i oecd_inventory

oecd_inventory_r <- ts(oecd_inventory, start = 2001, end = 2024, frequency =4)
oecd_inventory_r <-  as.data.frame(as_tibble(seas(oecd_inventory_r, x11= "",)))
oecd_inventory_r <-  oecd_inventory_r[-c(3:7)]
colnames(oecd_inventory_r)[1] = "Date"
colnames(oecd_inventory_r)[2] = "oecd_inventory_sea"
print(oecd_inventory_r)

         Date oecd_inventory_sea
1  2001-01-01           3867.032
2  2001-04-01           3889.613
3  2001-07-01           3894.820
4  2001-10-01           3951.161
5  2002-01-01           4001.609
6  2002-04-01           3987.457
7  2002-07-01           3936.464
8  2002-10-01           3889.245
9  2003-01-01           3843.581
10 2003-04-01           3892.651
11 2003-07-01           3957.066
12 2003-10-01           3970.572
13 2004-01-01           3984.702
14 2004-04-01           3974.997
15 2004-07-01           4006.490
16 2004-10-01           4046.986
17 2005-01-01           4067.410
18 2005-04-01           4124.742
19 2005-07-01           4115.307
20 2005-10-01           4141.998
21 2006-01-01           4165.549
22 2006-04-01           4154.702
23 2006-07-01           4212.951
24 2006-10-01           4224.947
25 2007-01-01           4186.843
26 2007-04-01           4167.531
27 2007-07-01           4153.957
28 2007-10-01           4119.672
29 2008-01-01           4130.820
30 2008-04-01           4118.733
31 2008-07-01           4148.376
32 2008-10-01           4214.332
33 2009-01-01           4299.814
34 2009-04-01           4300.337
35 2009-07-01           4300.711
36 2009-10-01           4282.278
37 2010-01-01           4282.654
38 2010-04-01           4296.175
39 2010-07-01           4289.703
40 2010-10-01           4290.454
41 2011-01-01           4256.865
42 2011-04-01           4226.291
43 2011-07-01           4183.757
44 2011-10-01           4166.578
45 2012-01-01           4193.215
46 2012-04-01           4188.793
47 2012-07-01           4214.071
48 2012-10-01           4219.582
49 2013-01-01           4227.997
50 2013-04-01           4214.945
51 2013-07-01           4206.924
52 2013-10-01           4190.225
53 2014-01-01           4166.311
54 2014-04-01           4192.443
55 2014-07-01           4237.818
56 2014-10-01           4285.251
57 2015-01-01           4337.700
58 2015-04-01           4416.269
59 2015-07-01           4466.246
60 2015-10-01           4558.113
61 2016-01-01           4627.524
62 2016-04-01           4647.440
63 2016-07-01           4664.197
64 2016-10-01           4650.141
65 2017-01-01           4673.362
66 2017-04-01           4621.861
67 2017-07-01           4548.502
68 2017-10-01           4474.234
69 2018-01-01           4418.595
70 2018-04-01           4382.887
71 2018-07-01           4384.150
72 2018-10-01           4421.272
73 2019-01-01           4441.288
74 2019-04-01           4438.624
75 2019-07-01           4453.845
76 2019-10-01           4427.070
77 2020-01-01           4487.465
78 2020-04-01           4726.981
79 2020-07-01           4725.233
80 2020-10-01           4638.874
81 2021-01-01           3852.175
82 2021-04-01           3885.187
83 2021-07-01           3895.248
84 2021-10-01           3965.896
85 2022-01-01           4002.643
86 2022-04-01           3974.116
87 2022-07-01           3934.546
88 2022-10-01           3899.591
89 2023-01-01           3837.509
90 2023-04-01           3892.047
91 2023-07-01           3954.236
92 2023-10-01           3977.991
93 2024-01-01           3969.423

## Preprocessing the predictors-  change in world oil consumption - del_world_consump
This is a quarterly data

In [66]:
del_world_consump = pd.DataFrame(pd.read_excel(r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Data raw.xlsx', sheet_name = 'world_consumption', usecols= "A, B"))
del_world_consump = del_world_consump.dropna()
del_world_consump['Date'] = pd.to_datetime(del_world_consump['Date'], format ="mixed")
del_world_consump = del_world_consump.set_index('Date')
del_world_consump.rename(columns = {"World Consumption Change": "del_world_consump",}, inplace = True)
del_world_consump = del_world_consump['2001-01-01' : '2023-06-30']
print(del_world_consump)

            del_world_consump
Date
2020-10-01               6.49
2020-07-01              11.34
2020-04-01               0.27
2020-01-01              -7.87
2019-10-01              -9.22
...                       ...
2002-01-01               2.52
2001-10-01               1.48
2001-07-01               0.63
2001-04-01              -0.14
2001-01-01               0.75

[80 rows x 1 columns]

In [67]:
%%R -i del_world_consump

del_world_consump_r <- ts(del_world_consump, start = 2001, end = 2024, frequency =4)
del_world_consump_r <-  as.data.frame(as_tibble(seas(del_world_consump_r, x11= "",)))
del_world_consump_r <-  del_world_consump_r[-c(3:7)]
colnames(del_world_consump_r)[1] = "Date"
colnames(del_world_consump_r)[2] = "del_world_consump_sea"
print(del_world_consump_r)

         Date del_world_consump_sea
1  2001-01-01           6.308104187
2  2001-04-01          12.114507788
3  2001-07-01           0.134557541
4  2001-10-01          -8.323537996
5  2002-01-01          -9.363839605
6  2002-04-01         -13.014681707
7  2002-07-01          -6.254138532
8  2002-10-01           0.561628599
9  2003-01-01           0.805458645
10 2003-04-01           1.419252668
11 2003-07-01           0.524873105
12 2003-10-01          -0.018003407
13 2004-01-01           1.095928014
14 2004-04-01           1.019702308
15 2004-07-01           1.947204957
16 2004-10-01           2.224440860
17 2005-01-01           1.994450053
18 2005-04-01           3.132652223
19 2005-07-01           1.255117711
20 2005-10-01           1.376079643
21 2006-01-01           0.775763213
22 2006-04-01           1.928959573
23 2006-07-01           2.063291832
24 2006-10-01           1.354347262
25 2007-01-01           2.475224045
26 2007-04-01           2.219666844
27 2007-07-01           1.597401084
28 2007-10-01           1.683199848
29 2008-01-01           1.579360978
30 2008-04-01           1.770011032
31 2008-07-01           1.663716721
32 2008-10-01           0.977145556
33 2009-01-01           1.697311161
34 2009-04-01           2.032002457
35 2009-07-01           1.903237918
36 2009-10-01           2.037763495
37 2010-01-01           0.817727608
38 2010-04-01           1.792367861
39 2010-07-01           1.033102518
40 2010-10-01           0.123014511
41 2011-01-01           0.340775006
42 2011-04-01           0.014611120
43 2011-07-01           2.293200054
44 2011-10-01           3.715825645
45 2012-01-01           3.471126781
46 2012-04-01           3.163060424
47 2012-07-01           2.531836592
48 2012-10-01           1.558016243
49 2013-01-01          -0.150759616
50 2013-04-01          -2.209249334
51 2013-07-01          -2.998130628
52 2013-10-01          -3.396254205
53 2014-01-01          -1.009627415
54 2014-04-01           0.779548211
55 2014-07-01           0.996887074
56 2014-10-01           2.336504123
57 2015-01-01           1.617453737
58 2015-04-01           2.231758437
59 2015-07-01           1.562134370
60 2015-10-01           2.251753898
61 2016-01-01           1.353970925
62 2016-04-01           0.637657432
63 2016-07-01           0.961303378
64 2016-10-01          -0.230647577
65 2017-01-01           1.244281881
66 2017-04-01           1.675418750
67 2017-07-01           3.183014754
68 2017-10-01           3.992392247
69 2018-01-01           4.045803994
70 2018-04-01           4.480858339
71 2018-07-01           3.253803191
72 2018-10-01           2.336142170
73 2019-01-01           1.775894891
74 2019-04-01           1.302560825
75 2019-07-01           2.906040277
76 2019-10-01           2.712290440
77 2020-01-01           1.330589871
78 2020-04-01           0.421745175
79 2020-07-01           0.005302073
80 2020-10-01           0.958821739
81 2021-01-01           6.348925599
82 2021-04-01          11.132604406
83 2021-07-01           0.408945915
84 2021-10-01          -7.668052660
85 2022-01-01          -9.351688217
86 2022-04-01         -13.896274566
87 2022-07-01          -6.007377971
88 2022-10-01           1.130783858
89 2023-01-01           0.823913549
90 2023-04-01           0.650929160
91 2023-07-01           0.752236524
92 2023-10-01           0.434095008
93 2024-01-01           1.134758720

## Merging all the dataframes to create our dataset: seasonality unadjusted, python output

In [68]:
dat = pd.DataFrame(nm_oil_price.merge(wti_spot_price, on = 'Date').merge(brent_spot_price, on = 'Date').merge(dubai_price, on = 'Date')\
.merge(index_china_gdp, on = 'Date').merge(index_us_gdp, on = 'Date').merge(index_cboe_volt, on = 'Date')\
.merge(us_unemploy, on = 'Date').merge(index_ip_mining, on = 'Date').merge(index_cpi_china, on = 'Date').merge(two_x, on = 'Date').merge(index_cpi_us, on = 'Date')\
.merge(three_x, on = 'Date').merge(del_supply_nonopec, on = 'Date').merge(two_x_2, on = 'Date').merge(del_supply_saudi, on = 'Date')\
.merge(opec_spare_capacity, on = 'Date').merge(oecd_inventory, on = 'Date').merge(del_world_consump, on = 'Date'))

file_name = r'C:\Users\asifr\OneDrive - State of New Mexico\Documents\Project Oil Price\Outputs\dat_pred_un_sea.csv'
dat.to_csv(file_name)

## Merging all the dataframes to create our dataset: seasonality adjusted, R output

In [69]:
%%R

dat_sea <- merge(nm_oil_price_r, wti_spot_price_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, brent_spot_price_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, dubai_price_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_china_gdp_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_us_gdp_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_cboe_volt_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, us_unemploy_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_ip_mining_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_cpi_china_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, two_x_opec_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, two_x_non_opec_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, index_cpi_us_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, three_x_index_energy_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, three_x_index_metal_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, three_x_index_precious_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, del_supply_nonopec_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, two_x_2_del_cap_per_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, two_x_2_del_world_gdp_per_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, del_supply_saudi_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, opec_spare_capacity_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, oecd_inventory_r, by = "Date",  all.x = TRUE)
dat_sea <- merge(dat_sea, del_world_consump_r, by = "Date",  all.x = TRUE)

# Using openxlsx
suppressPackageStartupMessages(library(openxlsx))

OUT <- createWorkbook()

## adding some worksheet to the workbook OUT

addWorksheet(OUT, "dat_pred_sea")

## Writing the data to the worksheets

writeData(OUT, sheet = "dat_pred_sea", x = dat_sea)

                      
# Exporting the file

saveWorkbook(OUT, "C:/Users/asifr/OneDrive - State of New Mexico/Documents/Project Oil Price/Outputs/dat_pred_sea.xlsx", overwrite = TRUE)